.category-btn {
    margin: 5px 0px 0 0;
    padding: 8px 10px 8px 10px;
    border-radius: 17px !important;
    border: none;
    background-color: #eaeaea;
    @media (max-width: 768px) {
        margin: 0 8px 5px 0;
        padding: 8px 10px 8px 10px;
    }
}
