<p-dropdown
    [options]="translatedList"
    optionLabel="language"
    [autoDisplayFirst]="false"
    styleClass="p-dropdown-translate"
    [placeholder]="'select_language' | translate"
    [dropdownIcon]="false"
    class="mob-padd"
>
    <ng-template pTemplate="selectedItem">
        <span class="fnt-bold text-clr60b d-flex align-items-center">
            <img src="assets/images/translate.svg" class="translate-icon mr-1" />
            {{ 'select_language' | translate }}
        </span>
    </ng-template>
    <ng-template let-translateItem pTemplate="item">
        <a
            class="d-flex align-items-center"
            [routerLink]="[getLink(translateItem)]"
            (click)="updateLang(translateItem)"
        >
            <app-user-detail
                [imageUrl]="
                    translateItem?.profile_image_thumb_url ||
                    translateItem?.profile_image_url ||
                    translateItem?.posted_user_profile_image_url
                "
                [userId]="translateItem?.user_id || translateItem?.posted_by"
                [orgType]="
                    translateItem?.org_type || translateItem?.organisation_type || translateItem?.organization_type
                "
                size="40"
            ></app-user-detail>
            <div class="d-flex flex-column justify-content-between pl-3">
                <p class="fnt-bold text-clr334 mb-2">
                    {{ translateItem.user_name || translateItem.first_name }}
                </p>
                <div class="d-flex align-items-center">
                    <p class="fnt-12 fnt-bold text-clr588 pr-2">
                        {{ translateItem.language | language }} {{ 'translation' | translate }}
                    </p>
                    <p class="fnt-12 text-clr588">
                        {{ translateItem.created_at | amTimeAgo | dateAgoReplace }}
                    </p>
                </div>
            </div>
        </a>
    </ng-template>
</p-dropdown>

<div *ngIf="!isBrower" class="seo-hidden">
    <a *ngFor="let translateItem of translatedList" [routerLink]="[getLink(translateItem)]"
        >{{ translateItem.language | language }} Translation</a
    >
</div>
