<main>
    <div
        class="back-page mt-325 mt-md-25 mt-lg-3 pb-4 pb-lg-45 w-fit-content"
        [routerLink]="previousUrl"
        *ngIf="previousUrl"
    >
        <a>
            <span>{{ 'back' | translate }}</span>
        </a>
    </div>
    <!-- <div class="pb-3 pb-md-4 pb-lg-45" *ngIf="!loading">
        <app-limit-banner></app-limit-banner>
    </div> -->
    <div class="d-lg-none mb-4">
        <app-join-community></app-join-community>
    </div>
    <div class="page-wrapper" *ngIf="!loading">
        <article class="flex-1 pr-lg-3 mb-4">
            <div class="p-3 py-md-45 px-lg-45 border-main br-4">
                <div class="d-flex flex-wrap w-100">
                    <div class="d-flex justify-content-between align-items-md-end w-100">
                        <app-user-header [prop]="detailsData"></app-user-header>
                        <div class="d-flex flex-column align-items-end">
                            <app-forum-menu></app-forum-menu>
                            <div
                                class="translate-wrapper"
                                *ngIf="detailsData?.allow_translation && detailsData?.translations"
                            >
                                <app-translation-dropdown
                                    forumType="coffee-recipes"
                                    [translatedList]="detailsData?.translations"
                                ></app-translation-dropdown>
                            </div>
                        </div>
                    </div>
                    <div
                        class="w-100 translate-mob-wrapper mt-3 py-3 pr-0 border-top-main border-bottom-main"
                        *ngIf="detailsData?.allow_translation && detailsData?.translations"
                    >
                        <app-translation-dropdown
                            forumType="coffee-recipes"
                            [translatedList]="detailsData?.translations"
                        ></app-translation-dropdown>
                    </div>
                </div>
                <div class="answer-content pt-4 pt-lg-45">
                    <h1 class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 mb-0">
                        {{ detailsData?.name }}
                    </h1>
                    <img
                        class="my-3 w-100 banner-image"
                        [lazyLoad]="detailsData?.cover_image_url"
                        [alt]="detailsData?.name + 'cover image'"
                    />
                    <div class="p-3 px-md-2 recipe-info-wrapper">
                        <div class="d-flex py-2 px-3 recipe-info-item" *ngFor="let recipeInfo of infoData">
                            <div>
                                <img [src]="recipeInfo.icon" />
                            </div>
                            <div class="pl-2 d-flex flex-column justify-content-between">
                                <label class="fnt-muli fnt-14 fnt-normal text-clr63 mb-0">{{
                                    recipeInfo.label | translate
                                }}</label>
                                <p
                                    class="fnt-muli fnt-18 fnt-bold lh-normal text-clr334 mb-0 pt-2 pt-md-3"
                                    *ngIf="detailsData"
                                >
                                    {{ detailsData[recipeInfo.key] }}
                                    {{ recipeInfo.key2 ? detailsData[recipeInfo.key2] : '' }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="forum-content pt-3 pt-md-4">
                        <div
                            class="fnt-muli fnt-14 fnt-normal text-clr334 lh-157"
                            [innerHTML]="detailsData?.description"
                        ></div>
                    </div>
                    <div *ngIf="detailsData?.ingredients" class="pt-4">
                        <h2 class="fnt-muli fnt-14 fnt-bold text-clr334 lh-1574 mb-3">
                            {{ 'ingredients' | translate }}
                        </h2>
                        <div class="border-main br-4 py-2 px-4 ingredients-wrapper">
                            <div
                                class="d-flex py-3 px-0 justify-content-between border-bottom-main ingredients-item"
                                *ngFor="let ingredientsItem of detailsData.ingredients"
                            >
                                <label class="fnt-muli fnt-14 fnt-normal text-clr63 mb-0">{{
                                    ingredientsItem.name
                                }}</label>
                                <label class="fnt-muli fnt-14 fnt-bold text-clr334 mb-0">
                                    {{ ingredientsItem.quantity }} {{ ingredientsItem.quantity_unit }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-45">
                        <h2 class="fnt-muli fnt-14 fnt-bold text-clr334 lh-157 mb-2">{{ 'directions' | translate }}</h2>
                        <div
                            class="pb-4 step-wrapper"
                            *ngFor="let step of detailsData?.steps; let i = index"
                            [id]="'step' + (i + 1)"
                        >
                            <h3 class="fnt-muli fnt-14 fnt-600 text-clr334 lh-157 mb-1">Step {{ i + 1 }}:</h3>
                            <div
                                class="fnt-muli fnt-14 fnt-600 text-clr334 lh-157 mb-0"
                                [innerHTML]="step.description"
                            ></div>
                            <img class="w-100" [lazyLoad]="step.image_thumb_url || step.image_thumb_url" />
                        </div>
                        <div>
                            <video
                                class="w-100"
                                [muted]="true"
                                autoplay
                                playsinline
                                loop
                                *ngIf="detailsData?.video_url"
                            >
                                <source [src]="detailsData.video_url" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="w-min-content pl-lg-3 w-tab-100">
            <div class="d-none d-lg-block mb-4">
                <app-join-community></app-join-community>
            </div>
            <div class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 background-header">
                {{ 'related_coffee_recipes' | translate }}
            </div>
            <div class="d-none d-lg-block">
                <div *ngFor="let forum of relatedData" class="py-2">
                    <app-forum-card [data]="forum" forumType="coffee-recipes"></app-forum-card>
                </div>
            </div>
            <div class="d-block d-lg-none pt-3">
                <p-carousel [value]="relatedData" styleClass="p-carousel-forum" [numVisible]="1" [numScroll]="1">
                    <ng-template let-forum pTemplate="item">
                        <app-forum-card [data]="forum" forumType="coffee-recipes"></app-forum-card>
                    </ng-template>
                </p-carousel>
            </div>
        </article>
        <app-json-ld [jsonLD]="jsonLD"></app-json-ld>
    </div>
</main>
<app-loading *ngIf="loading"></app-loading>
