<main>
    <div class="mt-325 mt-md-25 mt-lg-3 pb-0 pb-lg-5 mb-4 w-fit-content" *ngIf="previousUrl">
        <a class="back-page" [routerLink]="previousUrl">
            <span class="ml-2">{{ 'Back to forum' | translate }}</span>
        </a>
    </div>

    <!-- <div class="d-lg-none mb-4">
        <app-join-community></app-join-community>
    </div> -->
    <div class="page-wrapper" *ngIf="!loading">
        <article class="flex-1 mb-4">
            <div class="w-100">
                <div class="recip-content pt-2 pt-lg-45">
                    <img
                        class="w-100 br-4 recip-img"
                        [lazyLoad]="detailsData?.cover_image_url"
                        [alt]="detailsData?.name + 'cover image'"
                    />
                    <div class="user-details p-md-45 mt-45 mt-md-0 ml-md-5 bg-white col-md-7 w-100 br-4 px-0">
                        <!-- <div class="mb-md-45 mb-3">
                            <span *ngFor="let btn of buttonList">
                                <button class="p-2 button-list fnt-12 fnt-muli fnt-600 text-clr334">
                                    {{ btn.button }}
                                </button>
                            </span>
                        </div> -->
                        <h1 class="fnt-bold text-clr334 mb-0 user-header mt-0">
                            {{ detailsData?.name | titlecase }}
                        </h1>
                        <p class="fnt-16 fnt-md-20 fnt-600 fnt-muli text-clr334 mt-3 mb-md-35 mb-325 my-md-4">
                            {{ detailsData?.description }}
                        </p>
                        <div class="d-md-flex mb-4 mb-md-0">
                            <div class="fnt-14 w-50 fnt-muli fnt-600 text-clr588 mb-md-45 text-nowrap mb-1">
                                {{ 'published' | translate }}
                                {{ detailsData?.posted_at || detailsData?.created_at | date: 'longDate' }}
                            </div>
                            <div class="w-100 pr-0" *ngIf="detailsData?.allow_translation && detailsData?.translations">
                                <app-translation-dropdown
                                    forumType="coffee-recipes"
                                    [translatedList]="detailsData?.translations"
                                ></app-translation-dropdown>
                            </div>
                        </div>
                        <div class="d-md-flex justify-content-md-between align-items-md-end w-100">
                            <app-user-header [prop]="detailsData"></app-user-header>
                            <div class="row justify-content-between ml-1 mob-b-boder">
                                <div class="d-flex mt-3 mb-45 d-md-none icon-mob">
                                    <!-- <div class="d-flex">
                                        <img
                                            (click)="onFocus()"
                                            class="cursor-point"
                                            src="assets/images/thumbs-up-button.svg"
                                            alt="thumb"
                                        />
                                    </div> -->
                                    <div class="message-icon hover-message-icon">
                                        <img
                                            (click)="onFocus()"
                                            class="cursor-point"
                                            src="assets/images/message.svg"
                                            alt="message"
                                        />
                                    </div>
                                    <div class="ml-3 hover-save-icon">
                                        <img
                                            (click)="onFocus()"
                                            class="cursor-point"
                                            src="assets/images/save.svg"
                                            alt="bookmark"
                                        />
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="d-flex mob-height align-items-center mr-3 mt-1">
                                        <app-forum-menu></app-forum-menu>
                                    </div>
                                    <div class="d-none d-md-block hover-save-icon message-top">
                                        <img (click)="onFocus()" src="assets/images/save.svg" alt="save" />
                                    </div>
                                </div>

                                <!-- <div
                                    class="translate-wrapper"
                                    *ngIf="detailsData?.allow_translation && detailsData?.translations"
                                >
                                    <app-translation-dropdown
                                        forumType="coffee-recipes"
                                        [translatedList]="detailsData?.translations"
                                    ></app-translation-dropdown>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="recipe-info-wrapper">
                        <div class="d-none d-md-block">
                            <div class="d-flex">
                                <div class="d-flex py-2 px-3 recipe-info-item" *ngFor="let recipeInfo of infoData">
                                    <div class="align-items-center d-flex">
                                        <img [src]="recipeInfo.icon" [alt]="recipeInfo.label" />
                                    </div>
                                    <div class="pl-2">
                                        <label class="fnt-muli fnt-16 fnt-normal text-clr588 mb-0">{{
                                            recipeInfo.label | translate
                                        }}</label>
                                        <p class="fnt-muli fnt-16 fnt-bold text-clr334 mb-0 pt-1" *ngIf="detailsData">
                                            <span *ngIf="recipeInfo.label === 'equipment'"
                                                >{{ detailsData[recipeInfo.key] | titlecase
                                                }}{{ recipeInfo.key2 ? ':' : ''
                                                }}{{ recipeInfo.key2 ? detailsData[recipeInfo.key2] : '' }}</span
                                            >
                                            <span *ngIf="recipeInfo.label !== 'equipment'">
                                                {{ detailsData[recipeInfo.key] }}{{ recipeInfo.key2 ? ':' : ''
                                                }}{{ recipeInfo.key2 ? detailsData[recipeInfo.key2] : '' }}</span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-md-none">
                            <div class="col-6 d-flex py-2 px-3 recipe-info-item" *ngFor="let recipeInfo of infoData">
                                <div class="align-items-center d-flex">
                                    <img [src]="recipeInfo.icon" [alt]="recipeInfo.label" />
                                </div>
                                <div class="pl-2">
                                    <label class="fnt-muli fnt-16 fnt-normal text-clr588 mb-0">{{
                                        recipeInfo.label | translate
                                    }}</label>
                                    <p class="fnt-muli fnt-16 fnt-bold text-clr334 mb-0 pt-1" *ngIf="detailsData">
                                        <span *ngIf="recipeInfo.label === 'equipment'"
                                            >{{ detailsData[recipeInfo.key] | titlecase }}{{ recipeInfo.key2 ? ':' : ''
                                            }}{{ recipeInfo.key2 ? detailsData[recipeInfo.key2] : '' }}</span
                                        >
                                        <span *ngIf="recipeInfo.label !== 'equipment'">
                                            {{ detailsData[recipeInfo.key] }}{{ recipeInfo.key2 ? ':' : ''
                                            }}{{ recipeInfo.key2 ? detailsData[recipeInfo.key2] : '' }}</span
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="align-items-center d-flex mob-b-boder pt-4 pb-325 pt-md-0 pb-md-0">
                            <div class="align-items-center check-icon d-flex justify-content-center">
                                <img src="assets/images/done_black_24dp.svg" alt="check" />
                            </div>
                            <p class="fnt-18 fnt-muli fnt-600 text-clr334">{{ 'mark_as_brewed' | translate }}</p>
                        </div> -->
                    </div>
                    <!-- <div class="forum-content pt-3 pt-md-4">
                        <div
                            class="fnt-muli fnt-14 fnt-normal text-clr334 lh-157"
                            [innerHTML]="detailsData?.description"
                        ></div>
                    </div> -->
                    <div class="row pl-md-5">
                        <div class="col-md-5">
                            <div *ngIf="detailsData?.ingredients" class="pt-4">
                                <h1 class="user-header mt-0 mb-0 mb-md-45 fnt-bold text-clr334">
                                    {{ 'ingredients' | translate }}
                                </h1>
                                <div class="ingredients-wrapper">
                                    <div
                                        class="py-3 px-0 ingredients-item"
                                        *ngFor="let ingredientsItem of detailsData.ingredients"
                                    >
                                        <label class="fnt-muli fnt-14 fnt-bold text-clr334 mb-0 pr-3">
                                            {{ ingredientsItem.quantity }} {{ ingredientsItem.quantity_unit }}
                                        </label>
                                        <label class="fnt-muli fnt-14 fnt-normal text-clr334 mb-0">{{
                                            ingredientsItem.name
                                        }}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div *ngIf="detailsData?.video_url" class="pt-3 pt-md-4 pt-lg-45">
                                <div class="fnt-14 fnt-muli fnt-bold text-clr334 mb-3">
                                    {{ 'see_recipe_video' | translate }}
                                </div>
                                <video class="w-100" [src]="detailsData?.video_url" controls></video>
                            </div> -->
                            <ng-container *ngTemplateOutlet="userWrapper"></ng-container>
                        </div>

                        <div class="mt-4 mt-md-45 col-md-7">
                            <h2 class="user-header fnt-bold text-clr334 mt-0 mb-4 mb-md-45">
                                {{ 'directions' | translate }}
                            </h2>
                            <div
                                class="step-wrapper mb-2"
                                *ngFor="let step of detailsData?.steps; let i = index"
                                [id]="'step' + (i + 1)"
                            >
                                <div class="d-flex">
                                    <span class="fnt-muli fnt-24 fnt-semi-bold text-clr334 lh-157 mb-1">{{
                                        i + 1
                                    }}</span>
                                    <div
                                        [ngClass]="{ 'last-border': detailsData?.steps.length === i + 1 }"
                                        class="ml-md-3 ml-25 fnt-muli fnt-14 fnt-md-16 mt-1 fnt-semi-bold text-clr334 lh-157 mb-0 step-desc"
                                        [innerHTML]="step.description"
                                    ></div>
                                </div>
                                <img
                                    *ngIf="step.image_thumb_url || step.image_url"
                                    class="w-100 stp-desc-img"
                                    [lazyLoad]="step.image_url || step.image_thumb_url"
                                    [alt]="detailsData?.name + ' step image'"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question answer -->
                <div class="divder mt-3"></div>
                <div class="col-md-7 mx-auto mt-5">
                    <div class="recipe-answer w-100 pt-3 pb-4">
                        <div>
                            <p class="fnt-16 fnt-bold fnt-muli text-clr334 mb-325">About the Author</p>
                            <div class="d-flex">
                                <div class="author-image mr-3">
                                    <img
                                        class="br-4"
                                        [src]="
                                            stickData?.profile_image_url ||
                                            stickData?.profile_image_thumb_url ||
                                            stickData?.posted_user_profile_image_url
                                        "
                                        alt="Author-image"
                                    />
                                </div>
                                <div>
                                    <p
                                        class="fnt-14 fnt-bold fnt-muli text-clr334 cursor-point mb-2 text-underline"
                                        routerLink="/user-profile"
                                        [queryParams]="{
                                            user_id: stickData?.id,
                                            organization: stickData?.organization_type
                                        }"
                                    >
                                        {{ stickData?.firstname }} {{ stickData?.lastname }}
                                    </p>
                                    <p class="fnt-14 fnt-600 fnt-muli text-clr334">
                                        {{ stickData?.about_me }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-100">
                        <div class="d-flex justify-content-between mt-3 mb-4">
                            <div class="d-flex">
                                <!-- <div class="d-flex">
                                    <img
                                        (click)="onFocus()"
                                        class="cursor-point"
                                        src="assets/images/thumbs-up-button.svg"
                                        alt="thumbs-up"
                                    />
                                    <span class="d-flex align-items-end ml-1 mb-1">42</span>
                                </div> -->
                                <div class="align-items-center hover-save-icon">
                                    <img
                                        (click)="onFocus()"
                                        class="cursor-point"
                                        src="assets/images/save.svg"
                                        alt="bookmark"
                                    />
                                </div>
                            </div>
                            <div class="d-flex hover-share-icon">
                                <img
                                    (click)="onFocus()"
                                    class="cursor-point"
                                    src="assets/images/share.svg"
                                    alt="upload"
                                />
                            </div>
                        </div>
                        <!-- <span *ngFor="let btn of buttonList">
                            <button class="p-2 button-list fnt-12 fnt-muli fnt-600 text-clr334">
                                {{ btn.button }}
                            </button>
                        </span> -->
                        <div
                            *ngIf="
                                detailsData?.original_recipe_state && detailsData?.original_recipe_state === 'ACTIVE'
                            "
                            class="border-main br-4 p-4 mt-5 d-none d-md-block w-100"
                        >
                            <div class="d-flex justify-content-between mb-4">
                                <div class="d-flex">
                                    <img src="assets/images/noun-questions.svg" alt="file-imag" />
                                    <p
                                        class="align-items-center d-flex text-nowrap fnt-muli fnt-bold fnt-14 text-clr334 ml-2"
                                    >
                                        {{ 'read_the_guide' | translate }}
                                    </p>
                                </div>
                                <div class="bg-f8 px-25 py-2">
                                    <p class="fnt-600 fnt-12 fnt-muli text-clr334">
                                        {{ 'original_language' | translate }} :
                                        {{ globalsService.getLanguage(detailsData?.original_details?.language) }}
                                    </p>
                                </div>
                            </div>
                            <app-user-header [prop]="detailsData"></app-user-header>
                            <div class="flavour-profiles bg-f8 w-100 p-3 mt-35">
                                <a
                                    class="fnt-14 fnt-600 fnt-muli"
                                    (click)="
                                        onRealtedRoute(
                                            detailsData?.original_details?.language,
                                            detailsData?.original_details?.slug
                                        )
                                    "
                                    >{{ detailsData?.original_details?.name | titlecase }}</a
                                >
                            </div>
                        </div>
                    </div>

                    <div class="mt-md-5 mt-45 mb-4 w-100">
                        <div class="w-100">
                            <p class="fnt-16 fnt-bold fnt-muli text-clr334 mb-25">{{ 'comments' | translate }}</p>
                        </div>

                        <div class="d-flex">
                            <!-- <div class="d-flex mt-1">
                                <app-avatar
                                    [src]="
                                        stickData?.profile_image_url ||
                                        stickData?.profile_image_thumb_url ||
                                        stickData?.posted_user_profile_image_url
                                    "
                                    size="40"
                                    [name]="stickData?.user_name"
                                ></app-avatar>
                            </div> -->
                            <button
                                class="add-comment d-flex align-items-center pl-4 w-100 fnt-14 fnt-600 fnt-muli text-clr588"
                                (click)="onFocus()"
                            >
                                {{ 'share_your_thoughts' | translate }}
                            </button>
                        </div>
                    </div>

                    <!-- Answers -->
                    <div *ngIf="commentData?.length > 0" class="w-100">
                        <div class="comment-border">
                            <p class="fnt-14 fnt-600 fnt-muli text-clr334">
                                {{ commentData.length }} {{ 'answers' | translate }}
                            </p>
                        </div>
                        <div
                            class="answer-wrapper border-bottom-primary my-45"
                            *ngFor="let postItem of commentData; let isLast = last"
                            [id]="'answer-' + postItem.id"
                        >
                            <div class="d-flex flex-wrap w-100 mt-3">
                                <div class="d-flex justify-content-between align-items-md-end w-100">
                                    <app-user-header [prop]="postItem"></app-user-header>
                                </div>
                            </div>
                            <div class="mt-3 px-0 forum-content pl-md-1 ml-md-5 mb-4">
                                <div [innerHTML]="postItem.comment"></div>
                            </div>
                        </div>
                        <div class="text-center w-100" *ngIf="showCommentBtn">
                            <button
                                (click)="viewAllComments()"
                                class="fnt-14 fnt-bold fnt-muli cursor-point text-clr60b mb-4 bg-transparent border-0 text-underline"
                            >
                                {{ 'view_all_comments' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <!-- Footer -->
    <article class="row" *ngIf="!loading">
        <div class="col-12 col-md-8 px-md-3">
            <div class="fnt-16 fnt-muli fnt-bold text-clr334 pt-3 pb-35 background-header">
                {{ 'popular_brewing_guides' | translate }}
            </div>
            <div class="row py-2">
                <div *ngFor="let forum of relatedData" class="col-12 col-md-6 pb-475">
                    <div (click)="onRealtedRoute(forum.lang_code, forum.slug)" class="d-flex border-bottom-main pb-35">
                        <div class="p-articles pr-2"><img [lazyLoad]="forum?.cover_image_url" alt="image" /></div>
                        <div class="cursor-point d-flex flex-column">
                            <p class="footer-header fnt-fly fnt-bold text-clr334 cust-flex-grow">{{ forum?.name }}</p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr334 text-underline cursor-point">
                                {{ forum?.posted_user }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4 px-md-3">
            <app-join-community [type]="'recipe'"></app-join-community>
        </div>
        <!-- <div class="d-none d-lg-block mb-4">
            <app-join-community></app-join-community>
        </div>
        <div class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 background-header">
            {{ 'related_coffee_recipes' | translate }}
        </div>
        <div class="d-none d-lg-block">
            <div *ngFor="let forum of relatedData" class="py-2">
                <app-forum-card [data]="forum" forumType="coffee-recipes"></app-forum-card>
            </div>
        </div>
        <div class="d-block d-lg-none pt-3">
            <p-carousel [value]="relatedData" styleClass="p-carousel-forum" [numVisible]="1" [numScroll]="1">
                <ng-template let-forum pTemplate="item">
                    <app-forum-card [data]="forum" forumType="coffee-recipes"></app-forum-card>
                </ng-template>
            </p-carousel>
        </div> -->
    </article>
    <app-json-ld [jsonLD]="jsonLD"></app-json-ld>
</main>
<app-loading *ngIf="loading"></app-loading>

<ng-template #userWrapper>
    <span>
        <div class="py-2 py-md-0 user-wrapper d-none d-md-block">
            <div class="pb-4 d-flex">
                <div class="w-100 d-flex justify-content-between">
                    <div>
                        <p class="fnt-muli fnt-14 fnt-bold text-clr334 mb-1">
                            {{ stickData?.firstname }} {{ stickData?.lastname }}
                        </p>
                        <p class="fnt-muli fnt-14 fnt-600 text-clr588 mb-1">{{ detailsData?.organisation_name }}</p>
                        <p *ngIf="stickData?.country" class="fnt-muli fnt-14 fnt-600 text-clr588 mb-1">
                            @ {{ stickData?.country }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="pb-4">
                <div class="d-flex align-items-center">
                    <button
                        class="view-button mr-2 fnt-14 fnt-bold fnt-muli"
                        routerLink="/user-profile"
                        [queryParams]="{
                            user_id: detailsData?.user_id || detailsData?.posted_by,
                            organization:
                                detailsData?.org_type ||
                                detailsData?.organisation_type ||
                                detailsData?.organization_type
                        }"
                    >
                        View Profile
                    </button>
                    <div class="btn-raised pb-1 pt-25 fnt-14 fnt-muli">
                        <img (click)="onFocus()" class="cursor-point" src="assets/images/message-icon-white.svg" />
                    </div>
                </div>
            </div>
            <div class="sticky-divder"></div>
            <div class="d-flex my-4">
                <!-- <div class="d-flex">
                    <img
                        (click)="onFocus()"
                        class="cursor-point"
                        src="assets/images/thumbs-up-button.svg"
                        alt="thumb"
                    />
                    <span class="d-flex align-items-lg-end ml-1 mb-1">2</span>
                </div> -->
                <div class="message-icon hover-message-icon">
                    <img (click)="onFocus()" class="cursor-point" src="assets/images/message.svg" alt="message" />
                </div>
                <div class="ml-3 hover-save-icon">
                    <img (click)="onFocus()" class="cursor-point" src="assets/images/save.svg" alt="save" />
                </div>
            </div>
        </div>
    </span>
</ng-template>
