@import 'variables';
.page-wrapper {
    @media screen and(max-width:767px) {
        .recipe-info-wrapper {
            background-color: $primary-bg-color;
            margin: 0 -8px;
            padding: 0 8px;
        }
    }
    @media (min-width: 768px) {
        .recipe-info-wrapper {
            background-color: $primary-bg-color;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 1rem 3rem 1rem 5rem;
            @media (min-width: 768px) {
                margin: 0 -3rem;
            }
            @media (max-width: 767px) {
                .recipe-info-item {
                    width: 50%;
                    &:nth-child(1) {
                        padding: 0 19px 12px 4px !important;
                        border-bottom: solid 1px $primary-border-color;
                        border-right: solid 1px $primary-border-color;
                    }
                    &:nth-child(2) {
                        padding: 0 0 12px 19px !important;
                        border-bottom: solid 1px $primary-border-color;
                    }
                    &:nth-child(3) {
                        padding: 12px 19px 0 8px !important;
                        border-right: solid 1px $primary-border-color;
                    }
                    &:nth-child(4) {
                        padding: 12px 0 0 19px !important;
                    }
                    p {
                        word-break: break-word;
                    }
                }
            }
            @media only screen and (max-width: 1280px) and (min-width: 992px) {
                .recipe-info-item {
                    width: 25%;
                }
            }
        }
    }

    .ingredients-wrapper {
        .ingredients-item {
            border-bottom: 1px solid #d8d8d8;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .step-wrapper {
        img {
            height: 276px;
            object-fit: cover;
        }
        @media (max-width: 767px) {
            img {
                height: 256px;
            }
        }
    }
}

::ng-deep .step-desc {
    border-bottom: 1px solid #d8d8d8 !important;
    padding-bottom: 1rem !important;
    word-break: break-word;
    img {
        width: 100%;
        margin-top: 1rem;
    }
}
.recipe-content .recipe-img {
    object-fit: cover;
}
.user-details {
    @media (min-width: 768px) {
        position: relative;
        top: -4rem;
        border: solid 1px #e5e5e5;
    }
}
.user-header {
    font-family: Cormorant Garamond;
    font-size: 32px;
    @media (min-width: 768px) {
        font-size: 48px;
    }
}

.footer-header {
    font-family: Cormorant Garamond;
    font-size: 20px;
    line-height: 1.35;
    @media (min-width: 768px) {
        font-size: 22px;
        line-height: 1.23;
    }
}

.p-articles img {
    width: 89px;
    height: 89px;
    object-fit: cover;
}

.background-header {
    border-top: 2px solid #232334;
}

.recipe-answer {
    border-top: 1px solid #232334;
    border-bottom: 1px solid #232334;
}

.author-image img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.add-comment {
    height: 50px;
    object-fit: contain;
    border: none;
    border-radius: 25px;
    background-color: rgba(116, 117, 136, 0.08);
}

.answer-wrapper {
    border-bottom: 1px solid #d8d8d8;
    &:first-child {
        border-top: 1px solid #d8d8d8;
    }
}

.published {
    color: #797a8d;
    line-height: 1.57;
}

.button-list {
    margin: 0 4px 5px 0;
    padding: 7px 10px 8px;
    border-radius: 4px;
    background-color: #eaeaea;
    border: none;
    @media (min-width: 768px) {
        margin: 0 12px 0 0;
        padding: 10px 15px;
    }
}

.view-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 16px;
    border-radius: 4px;
    border: solid 1px #30855c;
    cursor: pointer;
    color: #30855c;
    background: #ffffff;
    &:hover {
        background: #30855c;
        color: #ffffff;
    }
}

.user-wrapper {
    @media (min-width: 768px) {
        width: 175px;
        position: sticky;
        top: 40%;
        margin-top: 4rem;
    }
}

.align-user {
    position: absolute;
    top: 4.5rem;
}

.icon-mob img {
    @media (max-width: 767px) {
        width: 29px;
        height: 29px;
    }
}

.message-icon img {
    @media (min-width: 768px) {
        width: 23px;
        height: 32px;
    }
}

.mob-height {
    @media screen and (max-width: 767px) {
        height: 52px;
    }
}

.mob-b-boder {
    @media screen and (max-width: 767px) {
        border-top: 1px solid #d8d8d8;
        margin-top: 1rem;
        margin-right: 0px;
    }
}

.cursor-point {
    cursor: pointer;
}
.bg-f8 {
    background-color: #f8f8f8;
}
.flavour-profiles {
    border: 1px dashed #ebebeb;
    a {
        color: #154faa;
        text-decoration: underline !important;
    }
}

// ::ng-deep .step-wrapper img {
//     height: 276px !important;
//     object-fit: contain !important;
// }

.recip-img {
    height: 198px;
    object-fit: cover;
    @media (min-width: 991px) {
        height: 494px;
    }
}

.check-icon {
    width: 36px;
    height: 36px;
    margin: 0 16px 0 0;
    border-radius: 50%;
    border: solid 1px #d8d8d8;
    background-color: #fff;
}
.last-border {
    border-bottom: none !important;
}

.back-page::before {
    top: -5px !important;
    width: 20px !important;
    height: 20px !important;
    padding: 6px !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
}
.back-page:hover::before {
    border-radius: 50%;
    background-color: rgba(128, 70, 11, 0.14);
}

.hover-message-icon {
    padding: 2px 8px 2px 9px;
    &:hover {
        border-radius: 50%;
        background-color: rgba(48, 133, 92, 0.12);
    }
}

.hover-save-icon {
    padding: 6px 9px 6px 12px;
    border-radius: 50%;
    &:hover {
        background-color: rgba(48, 133, 92, 0.12);
    }
}

.message-top {
    margin-top: 6px;
}
