@media (min-width: 768px) {
    .category-list {
        margin-top: 64px !important;
    }
}

.other-category {
    border-top: 1px solid #232334;
}

.top-writer {
    border-top: 1px solid #232334;
    border-bottom: 1px solid #232334;
}