@import 'variables';

@media (min-width: 768px) {
    .category-list {
        margin-top: 64px !important;
    }
}

.other-category {
    border-top: 1px solid $general-text-color;
}

.top-writer {
    border-top: 1px solid $general-text-color;
    border-bottom: 1px solid $general-text-color;
}
