<div class="row mx-0">
    <div class="col-12 col-md-6 col-lg-4 px-0 py-2 p-md-2 coffee-item-wrapper" *ngFor="let coffee of recipes">
        <a [routerLink]="getLink(coffee)" class="text-non-underline">
            <div class="coffee-item" (click)="gotoDetailPage($event, coffee)">
                <div class="position-relative">
                    <img
                        [lazyLoad]="coffee.cover_image_thumb_url"
                        src="assets/images/empty.svg"
                        class="w-100"
                        [alt]="coffee?.name"
                    />
                    <span class="expertise fnt-12"> {{ coffee.expertise }} </span>
                </div>

                <div class="m-3 m-md-4">
                    <div class="d-flex justify-content-between mb-4">
                        <div class="flex-1 fnt-md-16 fnt-bold">
                            <span class="mb-1 d-flex recipe-title">{{ coffee?.name }}</span>
                            <span class="fnt-semi-bold mb-45 mb-md-4 mt-2">
                                {{ coffee?.equipment_name | titlecase | convertToShortDescription: 1:',' }}
                            </span>
                        </div>
                        <div class="btn-icon save" (click)="onFocus($event)"></div>
                    </div>
                    <app-user-header [prop]="coffee"></app-user-header>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="w-100 mt-45" *ngIf="totalRecords">
    <app-paginator
        [rows]="rows"
        [totalRecords]="totalRecords"
        [page]="page"
        (pageChange)="paginate($event)"
    ></app-paginator>
</div>
