// ::ng-deep .forum-content > div {
//     word-break: break-all;
// }

.article-main-block {
    padding: 0;
    @media (min-width: 768px) {
        padding: 0 10rem;
    }
    .main-heading {
        font-family: Cormorant Garamond;
        font-size: 2rem;
        @media (min-width: 768px) {
            text-align: center;
            font-size: 3rem;
        }
    }
    .fnt-md-20 {
        @media (min-width: 768px) {
            font-size: 1.25rem !important;
        }
    }
    .innter-box {
        @media (min-width: 768px) {
            padding: 0 7.5rem 0 2.5rem;
        }
    }
}

.published {
    color: #797a8d;
    line-height: 1.57;
}

.button-list {
    margin: 0 4px 5px 0;
    padding: 7px 10px 8px;
    border-radius: 4px;
    background-color: #eaeaea;
    border: none;
    @media (min-width: 768px) {
        margin: 0 12px 0 0;
        padding: 10px 15px;
    }
}

.background-header {
    border-top: 2px solid #232334;
}
.p-articles img {
    width: 89px;
    height: 89px;
    object-fit: cover;
}
.fnt-fly {
    font-family: Cormorant Garamond;
    font-size: 22px;
    line-height: 1.23;
}

.articles-answer {
    border-top: 1px solid #232334;
    border-bottom: 1px solid #232334;
}

.author-image img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.add-comment {
    height: 50px;
    margin: 0 0 0 8px;
    object-fit: contain;
    border: none;
    border-radius: 25px;
    background-color: rgba(116, 117, 136, 0.08);
}

.answer-wrapper {
    border-bottom: 1px solid #d8d8d8;
    &:first-child {
        border-top: 1px solid #d8d8d8;
    }
}

.view-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 16px;
    border-radius: 4px;
    border: solid 1px #30855c;
    cursor: pointer;
    color: #30855c;
    background: #ffffff;
    &:hover {
        background: #30855c;
        color: #ffffff;
    }
}

.user-wrapper {
    @media (min-width: 768px) {
        width: 175px;
        position: sticky;
        margin-left: -6rem;
        top: 40%;
        height: fit-content;
    }
}

.message-icon img {
    width: 29px;
    height: 29px;
    @media (min-width: 768px) {
        width: 36px;
        height: 36px;
    }
}

.cursor-point {
    cursor: pointer;
}

.footer-border {
    border-bottom: solid 0.5px #d8d8d8;
}

.banner-image {
    @media (min-width: 991px) {
        height: 397px !important;
    }
}

.position-mob {
    position: relative;
    bottom: 0.25rem;
}
