@import 'variables';

.loader-wrap {
    min-height: 50vh;
}

.article-main-block {
    padding: 0;
    @media (min-width: 768px) {
        padding: 0 10rem;
    }
    .main-heading {
        font-family: $secondary-font-family;
        text-align: center;
        font-size: 3rem;
        word-break: break-word;
        @media (max-width: 768px) {
            text-align: unset;
            font-size: 2rem;
        }
    }
    .innter-box {
        @media (min-width: 768px) {
            padding: 0 6.5rem 0 2.5rem;
        }
    }
    .banner-image {
        height: 276px;
        min-height: 276px;
        object-fit: cover;
        border-radius: 4px;
        @media (max-width: 767px) {
            height: 256px;
            min-height: 256px;
        }
    }
    .popular-image {
        height: 397px;
        min-height: 397px;
        object-fit: cover;
        border-radius: 4px;
        @media (max-width: 767px) {
            height: 377px;
            min-height: 377px;
        }
    }
    .published {
        color: #797a8d;
        line-height: 1.57;
    }
}

.p-articles img {
    width: 89px;
    height: 89px;
    object-fit: cover;
}
.fnt-fly {
    font-family: $secondary-font-family;
    font-size: 22px;
    line-height: 1.23;
}

::ng-deep .forum-content > div {
    word-break: break-word;
    a:hover {
        text-decoration: underline !important;
    }
}
::ng-deep .forum-content img {
    max-width: 100%;
}

.articles-answer {
    border-top: 2px solid $dark-color;
    border-bottom: 2px solid $dark-color;
}

.author-image img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.add-comment {
    border: 1px solid transparent !important;
    height: 50px;
    object-fit: contain;
    border-radius: 25px;
    background-color: rgba(116, 117, 136, 0.08);
}

.article-wrapper {
    &:first-child {
        border-top: 1px solid #d8d8d8;
    }
    .forum-content {
        white-space: pre-wrap;
    }
}

.content-margin {
    margin: 0 0.13rem;
}

.content-margin {
    margin: 0 0.13rem;
}

.comment-border {
    border-bottom: solid 0.5px #d8d8d8;
}

.user-wrapper {
    @media (min-width: 768px) {
        width: 175px;
        position: sticky;
        margin-left: -6rem;
        top: 40%;
        height: fit-content;
    }
}

.footer-border {
    border-bottom: solid 0.5px #d8d8d8;
}

.divder {
    border-bottom: 1px solid $dark-color;
}

.flavour-profiles {
    border: 2px dashed $primary-border-color;
    a {
        cursor: pointer;
        text-decoration: underline;
        color: #154faa;
    }
}

.cust-flex-grow {
    flex-grow: 0.9;
    &:hover {
        text-decoration: underline;
    }
}

.background-header {
    border-top: 2px solid #232334;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.more {
    margin: 0px -8px 24px -8px;
    @media (min-width: 768px) {
        margin: 0px -48px 50px -48px;
    }
    .more-text {
        font-size: 28px;
        @media (min-width: 768px) {
            font-size: 48px;
        }
    }
    .sign-up {
        border-radius: 6px;
        height: 55px;
    }
}

.down-border {
    border-bottom: 1px solid #d8d8d8;
}
