<div class="main-block pb-0">
    <a class="back-page" [routerLink]="previousUrl"> {{ 'back_to_forum' | translate }} </a>

    <div *ngIf="!loading; else loader" class="position-relative loader-wrap mt-5 pt-3 pb-mt-45">
        <div class="article-main-block">
            <div *ngIf="detailsData?.categories" class="mx-md-5 pl-md-5 d-flex justify-content-md-center">
                <app-category-list
                    [selectedType]="'articles'"
                    [isArticlePage]="true"
                    [categoryList]="detailsData?.categories"
                ></app-category-list>
            </div>
            <div class="px-0">
                <h1 class="main-heading fnt-head fw-sb px-0 px-lg-5 mt-md-4 mt-35 mb-md-3 mb-2">
                    {{ detailsData?.title || '--' }}
                </h1>
                <p class="fnt-16 fnt-md-20 fw-sb text-md-center px-0 px-lg-5">
                    {{ detailsData?.subtitle || '--' }}
                </p>
            </div>
            <div class="d-md-flex justify-content-md-center mt-35 mt-md-4 mb-4">
                <div class="published">
                    {{ 'published' | translate }}
                    {{ detailsData?.posted_at || detailsData?.created_at | date: 'MMMM' | translate }}
                    {{ detailsData?.posted_at || detailsData?.created_at | date: 'd, yyyy' }}
                </div>
                <div
                    class="mt-2 mt-md-0 ml-3"
                    *ngIf="detailsData?.translated_articles && detailsData?.translated_articles.length > 0"
                >
                    <app-translation-dropdown
                        (isToastCalled)="toastCalled($event)"
                        forumType="articles"
                        [translatedList]="detailsData?.translated_articles"
                    ></app-translation-dropdown>
                </div>
            </div>
            <div class="flex-1 my-4">
                <div class="pb-3 pb-md-45">
                    <img
                        class="w-100 banner-image"
                        [src]="detailsData?.cover_image_url"
                        [alt]="detailsData?.title + ' cover image'"
                    />
                </div>
                <app-rectangle-ads *ngIf="isMobile$"></app-rectangle-ads>
                <div *ngIf="isMobile$" class="d-flex justify-content-between mb-4">
                    <div class="d-flex">
                        <div class="btn-icon thumbsup mr-25" (click)="onFocus()"></div>
                        <div class="btn-icon message mr-25" (click)="onFocus()"></div>
                        <div class="btn-icon save" (click)="onFocus()"></div>
                    </div>
                    <div class="d-flex">
                        <div class="btn-icon share"></div>
                        <div class="ml-1"><app-forum-menu></app-forum-menu></div>
                    </div>
                </div>
                <div class="d-flex">
                    <div *ngIf="!isMobile$" class="user-wrapper">
                        <div class="pb-4 d-flex">
                            <div class="w-100 d-flex justify-content-between">
                                <div>
                                    <p class="fw-b mb-1">{{ detailsData?.user_name }}</p>
                                    <p class="fw-m tc-m mb-1">
                                        {{ detailsData?.organisation_name || detailsData?.organization_name }}
                                    </p>
                                    <p *ngIf="detailsData?.country || detailsData?.city" class="fw-sb tc-m mb-1">
                                        <span *ngIf="detailsData?.organisation_name || detailsData?.organization_name"
                                            >@</span
                                        >
                                        {{ detailsData?.city || detailsData?.organization_city }},
                                        <span class="fw-n">{{ detailsData?.country | country }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex pb-4">
                            <button
                                class="btn-stroked mr-2"
                                [routerLink]="'/' + detailsData.language + '/user-profile/' + detailsData?.user_slug"
                            >
                                {{ 'view_profile' | translate }}
                            </button>
                            <div class="btn-raised" (click)="onFocus()">
                                <img
                                    src="assets/images/message-icon-white.svg"
                                    alt="message-icon-white"
                                    width="18"
                                    height="18"
                                />
                            </div>
                        </div>
                        <div class="divder"></div>
                        <div class="d-flex my-4">
                            <div class="btn-icon thumbsup" (click)="onFocus()"></div>
                            <div class="btn-icon message ml-3" (click)="onFocus()"></div>
                            <div class="btn-icon save ml-3" (click)="onFocus()"></div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap w-100 innter-box">
                        <app-rectangle-ads class="w-100" *ngIf="!isMobile$"></app-rectangle-ads>
                        <div class="d-flex justify-content-between align-items-md-end w-100">
                            <app-user-header [prop]="detailsData"></app-user-header>
                            <div class="d-flex flex-column align-items-end">
                                <app-forum-menu></app-forum-menu>
                            </div>
                        </div>

                        <ng-container *ngIf="showAll">
                            <div class="forum-content w-100 pt-4 mb-5 content-margin">
                                <div
                                    class="activate-link lh-157 mb-0 fnt-16"
                                    [innerHTML]="detailsData?.content || '--'"
                                ></div>
                            </div>

                            <div class="articles-answer w-100 pt-3 pb-4">
                                <div>
                                    <p class="fnt-16 fw-sb mb-35">
                                        {{ 'about_the_author' | translate }}
                                    </p>
                                    <div class="d-flex">
                                        <div class="author-image mr-3">
                                            <img
                                                *ngIf="detailsData?.profile_image_url; else placeholder"
                                                [lazyLoad]="detailsData?.profile_image_url"
                                                class="br-4"
                                                alt="Author-image"
                                            />
                                            <ng-template #placeholder>
                                                <img
                                                    class="placeholder"
                                                    lazyLoad="assets/images/avatar-placeholder.svg"
                                                    [alt]="detailsData?.user_name"
                                                />
                                            </ng-template>
                                        </div>
                                        <div>
                                            <a
                                                [routerLink]="
                                                    '/' +
                                                    detailsData.language +
                                                    '/user-profile/' +
                                                    detailsData?.user_slug
                                                "
                                                class="fw-sb c-p text-underline"
                                            >
                                                {{ detailsData?.user_name }}
                                            </a>
                                            <p class="mt-2">
                                                {{ detailsData?.about_me }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-100">
                                <div class="d-flex justify-content-between mt-3 mb-4">
                                    <div class="d-flex">
                                        <div class="btn-icon thumbsup" (click)="onFocus()"></div>
                                        <div class="btn-icon save ml-3" (click)="onFocus()"></div>
                                    </div>
                                    <div class="btn-icon share" (click)="onFocus()"></div>
                                </div>
                            </div>
                            <div
                                *ngIf="
                                    !isMobile$ &&
                                    detailsData?.original_article_state &&
                                    detailsData?.original_article_state === 'ACTIVE'
                                "
                                class="border-main br-4 p-4 mt-45 w-100 mb-475"
                            >
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="d-flex">
                                        <img src="assets/images/noun-questions.svg" alt="file-imag" />
                                        <p class="align-items-center d-flex text-nowrap fw-b ml-2">
                                            {{ 'read_the_original_article' | translate }}
                                        </p>
                                    </div>
                                    <div class="bg-f8 px-25 py-2">
                                        <p class="fnt-12">
                                            {{ 'original_language' | translate }} :
                                            {{ detailsData?.original_article?.language | language }}
                                        </p>
                                    </div>
                                </div>
                                <app-user-header [prop]="orginalUserData"></app-user-header>
                                <div class="flavour-profiles bg-f8 w-100 p-3 mt-35">
                                    <a
                                        class="fw-sb"
                                        [routerLink]="
                                            onRealtedRoute(
                                                detailsData?.original_article?.language,
                                                detailsData?.original_article?.slug
                                            )
                                        "
                                        >{{ detailsData?.original_article?.name | titlecase }}</a
                                    >
                                </div>
                            </div>
                            <div *ngIf="detailsData?.categories" class="row mx-0">
                                <app-category-list
                                    [selectedType]="'articles'"
                                    [categoryList]="detailsData?.categories"
                                ></app-category-list>
                            </div>
                            <div
                                *ngIf="showCommentOff"
                                (click)="showComment = true; showCommentOff = false"
                                class="brown-cta w-100"
                            >
                                {{ allComments?.length > 0 ? 'Show comment' : 'Add comment' }}
                            </div>
                            <div *ngIf="showComment" class="mt-md-5 mt-45 mb-4 w-100">
                                <div class="w-100">
                                    <p class="fnt-16 fw-m mb-25">{{ 'comments' | translate }}</p>
                                </div>
                                <div class="d-flex">
                                    <button
                                        class="add-comment d-flex align-items-center pl-4 w-100 tc-m"
                                        (click)="onFocus()"
                                    >
                                        {{ 'share_your_thoughts' | translate }}
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="showComment" class="w-100">
                                <div class="comment-border pb-1" *ngIf="allComments.length > 0">
                                    <p class="fw-sb">{{ allComments?.length }} {{ 'comments' | translate }}</p>
                                </div>
                                <div
                                    class="article-wrapper my-45"
                                    *ngFor="let postItem of commentData; let isLast = last"
                                    [ngClass]="{
                                        'border-bottom-0': isLast && !showCommentBtn,
                                        'border-bottom-primary': !isLast && showCommentBtn
                                    }"
                                    [id]="'answer-' + postItem.id"
                                >
                                    <div class="d-flex flex-wrap w-100 mt-3">
                                        <div class="d-flex justify-content-between align-items-md-end w-100">
                                            <app-user-header
                                                [prop]="postItem"
                                                [isArticleDetail]="true"
                                            ></app-user-header>
                                        </div>
                                    </div>
                                    <div class="px-0 mt-3 mb-4 forum-content ml-md-5 pl-md-1">
                                        <div class="activate-link" [innerHTML]="postItem.comment"></div>
                                    </div>
                                </div>
                                <div class="text-center w-100" *ngIf="showCommentBtn">
                                    <div (click)="viewAllComments()" class="brown-cta">
                                        {{ 'view_all_comments' | translate }}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showAll">
            <app-popular-posts [type]="'article'" [relatedData]="relatedData"></app-popular-posts>
        </div>

        <ngx-json-ld *ngIf="showAll" [json]="jsonLD"></ngx-json-ld>
    </div>

    <app-translate-toast *ngIf="showToaster" [language]="detailsData?.language"></app-translate-toast>

    <ng-template #loader><app-loading></app-loading></ng-template>
</div>
