<div class="bg-white">
    <div class="d-flex coffee-lab-main">
        <div class="container bg-main">
            <a class="company-logo" href="https://sewnstaging.com"
                ><img src="assets/images/era-we-black.svg" alt="EraOfWe.com - The Coffee Lab"
            /></a>
            <div class="fnt-20 txt-32 fw-n mb-3 mb-md-4 mt-45 pt-25 mt-md-5 pt-md-5">The Coffee Lab</div>
            <div class="mb-4 mb-md-5 share-text">Share Your Knowledge & Interact With Coffee Enthusiasts</div>
            <div class="lab-btn mb-md-5 mb-4 pb-md-2">
                <button class="btn-raised mr-3 fw-sb fnt-16" (click)="showSignUp()">Start writing</button>
                <button class="btn-stroked mt-25 fw-sb mt-md-0 fnt-16" routerLink="en/qa-forum">
                    Explore the forum
                </button>
            </div>
            <hr />
            <div class="row mt-4 mt-md-5">
                <div class="col-6">
                    <div class="fnt-20 txt-36 fw-sb mb-md-3 mb-25">1,100+</div>
                    <div class="fw-sb fnt-md-20 mb-md-2 mb-25">Articles & recipes</div>
                    <p class="fnt-md-16 lh-136">Get access to unlimited coffee guides curated just for you</p>
                </div>
                <div class="col-6">
                    <div class="fnt-20 txt-36 fw-sb mb-md-3 mb-25">52+</div>
                    <div class="fw-sb fnt-md-20 mb-md-2 mb-25">Coffee experts</div>
                    <p class="fnt-md-16 lh-136">Interact with industry experts and writers from around the world.</p>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block">
            <img src="assets/images/unsplash.png" alt="unsplash" />
        </div>
    </div>

    <div class="trending">
        <div class="trending-posts">
            <div class="d-flex justify-content-between">
                <div class="fnt-20 fnt-md-24 txt-w">Trending posts</div>
                <a class="btn-raised show-web fnt-16" routerLink="en/qa-forum">Discover more</a>
            </div>
            <div class="d-md-none trend-csl">
                <p-carousel
                    [value]="trendingData"
                    [numVisible]="3"
                    [numScroll]="3"
                    [circular]="false"
                    [responsiveOptions]="responsiveOptionsPosts"
                >
                    <ng-template let-trending pTemplate="item">
                        <div
                            class="product-item"
                            [routerLink]="[getLink(trending, trending.title ? 'articles' : 'coffee-recipes')]"
                        >
                            <div class="product-item-content trending-img">
                                <img
                                    [lazyLoad]="trending.cover_image_url"
                                    src="assets/images/empty.svg"
                                    alt="trending-image"
                                />
                                <div class="upper-txt txt-w">
                                    <div class="">{{ trending.title ? 'ARTICLE' : 'RECIPE' }}</div>
                                    <div class="fnt-16 fw-sb">{{ trending.title || trending.name }}</div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
                <a class="btn-raised mt-4" routerLink="en/qa-forum">Discover more</a>
            </div>
            <div class="d-flex mt-md-45">
                <div
                    *ngFor="let trend of trendingData"
                    class="trending-img mr-4 d-none d-md-block"
                    [routerLink]="[getLink(trend, trend.title ? 'articles' : 'coffee-recipes')]"
                >
                    <img [lazyLoad]="trend.cover_image_url" src="assets/images/empty.svg" alt="trend-image" />
                    <div class="upper-txt txt-w">
                        <div class="">{{ trend.title ? 'ARTICLE' : 'RECIPE' }}</div>
                        <div class="fnt-md-24 fw-sb">{{ trend.title || trend.name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-0 mob-pd brewing-pd screen-size">
        <div class="row">
            <div class="order col-md-6 d-flex flex-column justify-content-center">
                <div class="fnt-20 mb-2 mb-md-3 fw-sb txt-36">What is The Coffee Lab?</div>
                <p class="fnt-md-20 fnt-16">
                    The Coffee Lab is a platform for anyone in the coffee world, from roasters to estates to home
                    brewers, to share their views, expertise, and experiences. Members can ask questions, provide
                    answers, talk about their brands, share tips, write about coffee culture, and much more. If you love
                    coffee and want to share that, this is the place for you!
                </p>
            </div>
            <div class="col-md-6 brew">
                <img src="assets/images/landing-mobile-text.png" alt="mobile-posts" class="d-none d-md-block" />
                <img src="assets/images/landing-mobile-text-sm.png" alt="mobile-posts-sm" class="d-md-none" />
            </div>
        </div>
    </div>

    <div class="container platform screen-size mob-pd">
        <div class="row p-md-5">
            <div class="col-md-6 order px-md-0">
                <div
                    class="mb-3 plat-card p-md-4 br-4"
                    *ngFor="let plat of platform; let i = index"
                    (click)="showSignUp()"
                    (mouseenter)="mouseEnter(i)"
                    (mouseleave)="mouseLeave(i)"
                >
                    <div class="d-flex justify-content-between">
                        <div class="fnt-16 fnt-md-20 mb-2 fw-sb">{{ plat.heading }}</div>
                        <div><img src="{{ plat.arrow }}" alt="" /></div>
                    </div>
                    <p class="lh-157">{{ plat.disp }}</p>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="txt-60 txt-30 pb-35 pb-md mb-4 mt-md-0 txt-w fw-sb">
                    One platform. Built for bussinesses, proofreaders and consumers
                </div>
            </div>
        </div>
    </div>

    <div class="container px-0 share-pd mob-pd screen-size">
        <div class="d-md-flex justify-content-between mb-md-5">
            <div class="txt-36 fnt-20 fw-sb lh-15">
                Share your story, expertise, or<br class="d-md-block d-none" />
                brand in 3 easy steps
            </div>
            <div class="d-flex align-items-end mt-3 mt-md-0">
                <button class="btn-raised fw-m" (click)="showSignUp()">Sign up</button>
            </div>
        </div>
        <div class="row mx-0 pt-md-35 mt-md-5">
            <div
                [ngClass]="i == 1 ? 'w-36' : 'w-325'"
                class="mt-45 mt-md-0 br-4 px-0"
                *ngFor="let share of shareData; let i = index"
            >
                <div class="mb-md-3 mb-2" [ngClass]="i == 1 ? 'px-md-5' : i == 0 ? 'pr-md-5' : 'pl-md-5'">
                    <img src="{{ share.image }}" alt="" />
                </div>
                <div [class.border-right]="i !== 2" [ngClass]="i == 1 ? 'px-md-5' : i == 0 ? 'pr-md-5' : 'pl-md-5'">
                    <div class="fnt-18 fnt-md-20 mb-2 fw-sb lh-143 mr-md-5" [ngClass]="i == 0 ? 'pr-md-5' : ''">
                        {{ share.heading }}
                    </div>
                    <p class="fnt-md-16 lh-15" [ngClass]="i == 2 ? 'pr-md-2' : ''">{{ share.disp }}</p>
                    <div [class.border-bottom]="i !== 2" class="d-md-none"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="hear mob-pd">
        <div class="container px-0 hear-from screen-size">
            <div class="text-md-center">
                <div class="txt-42 fnt-20 fw-sb mb-2 mb-md-3">Hear From Our Members</div>
                <p class="fnt-16 fnt-md-20 lh-15">
                    Coffee lovers and industry experts share their experience with The Coffee Lab<br />
                    Learn more about coffee and share your experiences.
                </p>
            </div>
            <div class="d-md-none here-csl">
                <p-carousel
                    [value]="hereData"
                    [numVisible]="3"
                    [numScroll]="3"
                    [circular]="false"
                    [responsiveOptions]="responsiveOptions"
                >
                    <ng-template let-here pTemplate="item">
                        <div class="product-item">
                            <div class="product-item-content">
                                <div class="here-box px-35 py-4 bg-white">
                                    <div class="d-flex">
                                        <img src="{{ here.image }}" alt="" />
                                        <div class="ml-25">
                                            <div class="fnt-16 mb-1 text-left fw-sb">{{ here.name }}</div>
                                            <p class="fnt-16 text-left">{{ here.position }}</p>
                                        </div>
                                    </div>
                                    <div class="pt-25">
                                        <p class="fnt-md-16 lh-15 text-left lh-157">{{ here.disp }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="row mt-md-5">
                <div class="box-width d-none d-md-block" *ngFor="let here of hereData">
                    <div class="here-box p-md-45 bg-white">
                        <div class="d-flex">
                            <img src="{{ here.image }}" alt="" />
                            <div>
                                <div class="fnt-md-20 mb-md-2 fw-sb">{{ here.name }}</div>
                                <p class="fnt-md-20">{{ here.position }}</p>
                            </div>
                        </div>
                        <div class="pt-md-4">
                            <p class="fnt-md-16 lh-15">{{ here.disp }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-0 learn-pd mob-pd screen-size">
        <div class="d-md-flex justify-content-between mb-md-5">
            <div class="fnt-20 txt-36 fw-sb">Learn more about coffee and share <br />your experiences</div>
            <div class="d-flex align-items-end mt-3 mt-md-0">
                <button class="btn-raised fw-m" (click)="showSignUp()">Get started</button>
            </div>
        </div>
        <div class="mt-45 mt-md-0">
            <p-tabView styleClass="tabview-coffee-lab position-relative" (onChange)="handleChange($event)">
                <p-tabPanel *ngFor="let labMenu of menuItems" header="labMenu">
                    <ng-template pTemplate="header">
                        <span class="pl-1">{{ labMenu.label }}</span>
                    </ng-template>
                    <div class="row mx-0" *ngIf="!isLoading">
                        <div
                            *ngFor="let item of posts"
                            class="col-md-4 mb-md-0"
                            [class.mb-45]="labMenu.postType !== PostType.QA"
                        >
                            <div class="d-flex mb-5" *ngIf="labMenu.postType === PostType.QA">
                                <div class="col-4">
                                    <div class="d-flex">
                                        <app-user-header [isLandingPage]="true" [prop]="item"></app-user-header>
                                    </div>
                                    <div class="d-flex pt-25">
                                        <a class="fnt-16 question-hover" [routerLink]="[getLink(item, 'qa-forum')]">{{
                                            item.question
                                        }}</a>
                                    </div>
                                    <div class="d-flex mt-4">
                                        <app-category-list
                                            [selectedType]="'qa-forum'"
                                            [categoryList]="item?.categories"
                                        ></app-category-list>
                                    </div>
                                </div>
                            </div>
                            <app-article-card
                                *ngIf="labMenu.postType === PostType.ARTICLE"
                                [article]="item"
                            ></app-article-card>
                            <app-recipe-card
                                *ngIf="labMenu.postType === PostType.RECIPE"
                                [recipe]="item"
                            ></app-recipe-card>
                        </div>
                    </div>
                    <div class="row mx-0 mb-5 pb-5" *ngIf="isLoading">
                        <app-loading></app-loading>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

    <div class="more-about mob-pd">
        <div class="container px-0 screen-size-2">
            <div class="fnt-20 txt-42 fw-m mb-md-5">More about writing on The Coffee Lab</div>
            <div class="mt-md-3">
                <p-accordion>
                    <p-accordionTab header="How do I signup?">
                        <p>
                            Visit eraofwe.com and click 'Register Now'. You can now create a profile with your name,
                            bio, location, etc. Once registered, simply visit The Coffee Lab to get started!
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="Who can join The Coffee Lab? ">
                        <p>
                            Anyone who works with coffee or loves coffee! We're an inclusive platform that caters to
                            everyone in the coffee world.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="What can I do on The Coffee Lab?"
                        >You can post articles, proofread, translate, share recipes or brewing guides, and ask or answer
                        questions. Of course, you can also simply browse the articles, recipes, and Q&As and interact
                        with others on the platform.
                    </p-accordionTab>
                    <p-accordionTab header="The Coffee Lab for Roasters">
                        <p>
                            Roasters can share their brand story directly with customers and build trust with their
                            audience by sharing their expertise and views. The Coffee Lab enables roasters to reach out
                            to a new niche of customers and create their own brand community.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="The Coffee Lab for Estates">
                        <p>
                            Estates on The Coffee Lab have the opportunity to interact with consumers first-hand to
                            promote trust and transparency. They can build their brand value directly with a global
                            audience and tell the story behind their coffee.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="The Coffee Lab for Baristas">
                        <p>
                            Cafes, restaurants, and baristas can use The Coffee Lab to position themselves as trusted
                            voices in the industry, sharing their expertise and experience with consumers. They can also
                            build long-term relationships with roasters and estates to diversify their business and
                            offerings.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="The Coffee Lab for Consumers">
                        <p>
                            The Coffee Lab is a great place for coffee lovers to gather and discuss their favorite
                            coffee while also discovering new, sustainable coffee brands that are changing the future of
                            coffee.
                        </p>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>
