@import 'variables';

.coffee-lab-main {
    .bg-main {
        background-image: linear-gradient(179deg, rgba(238, 238, 238, 0) 1%, #f8f6ef 67%);
        padding: 24px 18px;
        .lab-btn {
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                width: fit-content;
            }
        }
        @media (min-width: 768px) {
            padding: 43px 60px 197px 150px;
        }
        .company-logo {
            padding-top: 43px;
            & > img {
                display: block;
                width: 94px;
                height: 32px;
                object-fit: contain;
                object-position: center;
                @media (min-width: 768px) {
                    width: 106px;
                    height: 36px;
                }
            }
        }
        .share-text {
            font-weight: 600;
            line-height: 1.14;
            font-size: 56px;
            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 1.38;
                font-weight: 600;
            }
        }
    }
}
.trending {
    position: relative;
    @media (min-width: 768px) {
        padding-left: 150px;
        top: -75px;
    }
    .trending-posts {
        background-color: #232334;
        padding: 48px 18px;
        @media (min-width: 768px) {
            padding: 48px 92px 56px 56px;
        }
    }
    .trending-img {
        position: relative;
        @media (min-width: 768px) {
            width: 33.33333%;
        }
        .ng-lazyloaded {
            width: 100%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
            &:hover {
                cursor: pointer;
                box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
            }
        }
        .ng-lazyloading {
            width: unset;
        }
        img {
            @media (max-width: 767px) {
                height: 239px;
                object-fit: cover;
            }
            @media (min-width: 768px) {
                height: 258px;
                object-fit: cover;
            }
            opacity: 0.61;
            border-radius: 4px;
        }
        .upper-txt {
            position: absolute;
            bottom: 20px;
            left: 1rem;
            @media (max-width: 767px) {
                bottom: 1.8rem;
                left: 0.5rem;
                text-align: left;
            }
        }
    }
}

@media (min-width: 768px) {
    .txt-32 {
        font-size: 32px !important;
    }
    .txt-36 {
        font-size: 36px !important;
    }
    .txt-54 {
        font-size: 54px !important;
    }
    .txt-60 {
        font-size: 60px !important;
    }
}

.txt-w {
    color: #fff;
}

.screen-size {
    @media (min-width: 768px) {
        width: 1140px;
    }
}

@media (max-width: 767px) {
    .mob-pd {
        padding: 48px 18px !important;
    }
    .order {
        order: 1;
        p {
            line-height: 1.56;
        }
    }
    .txt-30 {
        font-size: 30px;
    }
}

.screen-size-2 {
    @media (min-width: 768px) {
        width: 947px;
    }
}

.brewing-pd {
    @media (min-width: 768px) {
        padding-top: 28px;
        padding-bottom: 131px;
    }
    .brew {
        background-size: cover;
        @media (max-width: 767px) {
            margin-bottom: 3rem;
        }
        img {
            object-fit: contain;
            width: 100%;
        }
    }
    p {
        @media (min-width: 768px) {
            width: 80%;
        }
    }
}

.platform {
    background-image: url(../../.../../../assets/images/group-18.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    @media (max-width: 767px) {
        background-image: url(../../.../../../assets/images/platform-mobile.png);
        background-position: unset;
    }
    .plat-card {
        cursor: pointer;
        background-color: #f8f6ef;
        &:hover {
            box-shadow: 0 22px 34px 0 rgb(0 0 0 / 8%);
        }
        @media (max-width: 767px) {
            padding: 16px 20px;
        }
        @media (min-width: 768px) {
            width: 68.5%;
        }
    }
}

.share-pd {
    @media (min-width: 768px) {
        padding-top: 124px;
        padding-bottom: 129px;
    }
}

.border-right {
    @media (min-width: 768px) {
        border-right: 1px solid #ddd;
        height: 137px;
    }
}

.w-325 {
    @media (min-width: 768px) {
        flex: 1 0 32%;
        max-width: 32%;
    }
}
.w-36 {
    @media (min-width: 768px) {
        flex: 1 0 36%;
        max-width: 36%;
    }
}

.border-bottom {
    border-bottom: 1px solid #ddd;
    margin: 1.5rem 5.3rem 0.5rem 5.3rem;
}

.learn-pd {
    @media (min-width: 768px) {
        padding-top: 90px;
        padding-bottom: 129px;
    }
}

.hear {
    .here-csl {
        .product-item,
        .product-item-content {
            max-height: 100%;
            height: 100%;
        }
    }
    @media (min-width: 768px) {
        padding-top: 79px;
        padding-bottom: 129px;
    }
    background-color: #f8f6ef;
    .box-width {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .here-box {
        border-radius: 6px;
        height: 100%;
        @media (min-width: 768px) {
            margin-right: 0.75rem;
            margin-left: 0.75rem;
            max-height: 100%;
        }
        img {
            width: 46px;
            height: 46px;
            border-radius: 4px;
            @media (min-width: 768px) {
                width: 64px;
                height: 64px;
                margin-right: 20px;
            }
        }
    }
}

.more-about {
    padding: 48px 18px;
    background-color: #f2f3f5;
    @media (min-width: 768px) {
        padding-top: 66px;
        padding-bottom: 48px;
    }
}

::ng-deep.more-about {
    .p-highlight .p-accordion-header-link .p-accordion-header-text {
        border-bottom: none !important;
    }
    .p-accordion-header-text {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        @media (min-width: 768px) {
            padding-top: 24px;
            padding-bottom: 24px;
        }
        border-bottom: 1px solid #cfcfcf;
    }
    .p-accordion-toggle-icon {
        position: absolute;
        right: 0;
    }
    .pi-chevron-right::before {
        content: '';
    }
    .p-accordion-content {
        padding: 1.1rem 0 2rem 0;
        border-bottom: 1px solid #cfcfcf;
    }
}

.product-item {
    @media (max-width: 768px) {
        width: fit-content;
    }
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: 0 0.5rem;
        text-align: center;
        padding: 1.5rem 0 0.75rem 0;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

::ng-deep {
    .here-csl,
    .trend-csl {
        .p-carousel-container {
            .p-carousel-prev,
            .p-carousel-next {
                display: none !important;
            }
        }
        .p-carousel-content {
            .p-carousel-indicators {
                padding-left: 0 !important;
                li {
                    list-style-type: none;
                    button {
                        padding: 0;
                        margin: 0 5px;
                        width: 6px !important;
                        height: 6px !important;
                        border-radius: 3px !important;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .trend-csl .p-carousel-content .p-carousel-indicators li button {
        border: 1px solid #fff !important;
    }
    .here-csl .p-carousel-content .p-carousel-indicators li button {
        border: 1px solid #232334 !important;
    }
}

.question-hover {
    &:hover {
        text-decoration: underline;
    }
}

::ng-deep {
    .p-tabview {
        &.tabview-coffee-lab {
            .p-tabview-nav {
                background: transparent;
                li {
                    margin-right: 0;
                    .p-tabview-nav-link {
                        padding: 11px 16px !important;
                        @media (max-width: 768px) {
                            display: flex;
                            justify-content: center;
                        }
                        img {
                            display: inline-block;
                            &.active-icon {
                                display: none;
                            }
                        }
                    }
                    &.p-highlight .p-tabview-nav-link,
                    &:hover .p-tabview-nav-link {
                        img {
                            display: none;
                            &.active-icon {
                                display: inline-block;
                            }
                        }
                    }
                    @media (max-width: 767px) {
                        flex: 1;
                        border-top: solid 1px #d6d6d6;
                        border-bottom: solid 1px #d6d6d6;
                        border-right: solid 1px #d6d6d6;
                        &:first-child {
                            border-left: solid 1px #d6d6d6;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                        }
                        &:nth-child(6) {
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                    }
                }
                @media (max-width: 767px) {
                    border-bottom: none;
                }
            }
            .p-tabview-panel {
                padding-top: 24px;
                @media (min-width: 758px) {
                    padding-top: 32px;
                }
            }
        }
    }
}

.lh-14 {
    line-height: 1.4;
}

.lh-136 {
    line-height: 1.36;
}

.lh-133 {
    line-height: 1.33;
}

.lh-113 {
    line-height: 1.13;
}

.lh-135 {
    line-height: 1.35;
}

.custom-stroked {
    background-color: #f8f6ef !important;
    &:hover {
        background-color: #30855c !important;
    }
}

@media (max-width: 768px) {
    .show-web {
        display: none;
    }
}
