<div class="d-flex coffee-lab-main">
    <div class="container bg-main">
        <a class="company-logo" href="https://sewnstaging.com"
            ><img src="assets/images/era-we-black.svg" alt="EraOfWe.com - The Coffee Lab"
        /></a>
        <div class="coffee-lab fw-n mb-md-4 mt-md-5 pt-md-5">The Coffee Lab</div>
        <div class="share fw-b mb-md-5">Share Your Knowledge & Interact With Coffee Enthusiasts</div>
        <div class="mb-md-5 pb-md-2">
            <button class="btn-raised mr-3">Start writing</button>
            <button class="btn-stroked">Explore the forum</button>
        </div>
        <hr />
        <div class="row mt-md-5">
            <div class="col-md-6">
                <div class="recipes fw-b mb-md-3">1,100+</div>
                <div class="fw-b fnt-md-20 mb-md-2">Articles & recipes</div>
                <p>
                    Get access to unlimited coffee<br />
                    guides curated just for you
                </p>
            </div>
            <div class="col-md-6">
                <div class="experts fw-b mb-md-3">52+</div>
                <div class="fw-b fnt-md-20 mb-md-2">Coffee experts</div>
                <p>
                    Interact with industry experts and<br />
                    writers from around the world.
                </p>
            </div>
        </div>
    </div>
    <div>
        <img src="assets/images/unsplash.png" alt="unsplash" />
    </div>
</div>

<div class="trending">
    <div class="trending-posts">
        <div class="d-flex justify-content-between">
            <div class="fnt-md-24 trending-text">Trending posts</div>
            <button class="btn-raised">Discover more</button>
        </div>
        <div class="d-flex mt-45">
            <div *ngFor="let trend of trending" class="trending-img mr-4">
                <img src="{{ trend.image }}" alt="trending-image" />
                <div class="">
                    <div>{{ trend.title }}</div>
                    <div>{{ trend.heading }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="row">
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <div class="mb-3 fw-b text-cof">What is The Coffee Lab?</div>
            <p class="fnt-14 fnt-md-20">
                The Coffee Lab is a platform for anyone in the coffee world, from roasters to estates to home brewers,
                to share their views, expertise, and experiences. Members can ask questions, provide answers, talk about
                their brands, share tips, write about coffee culture, and much more. If you love coffee and want to
                share that, this is the place for you!
            </p>
        </div>
        <div class="col-6 px-0"><img src="assets/images/group-16.png" alt="group-16" /></div>
    </div>
</div>

<div class="platform">
    <div class="row">
        <div class="col-6">
            <div class="mb-3" *ngFor="let plat of platform">
                <div class="d-flex justify-content-between">
                    <div>{{ plat.heading }}</div>
                    <div>arrow</div>
                </div>
                <p>{{ plat.disp }}</p>
            </div>
        </div>
        <div class="col-6">One platform. Built for bussinesses, proofreaders and consumers</div>
    </div>
</div>
