<ng-container [ngSwitch]="config.data.type">
    <div *ngSwitchCase="'delete'" class="text-center dialog-wrap">
        <img src="/assets/images/delete-role.svg" alt="" />
        <div class="title lh-normal fnt-bold text-clr02 fnt-play mt-3">
            {{ config.data.title || ('oh_no' | translate) }}
        </div>
        <div class="fnt-14 fnt-md-16 lh-15 text-clr5d pt-3">
            {{ config.data.desp || ('confirm_delete' | translate) }}
        </div>
        <div class="pt-45 pt-md-5">
            <button class="btn-stroked mr-3" (click)="close('no')">{{ 'cancel' | translate }}</button>
            <button class="btn-raised" (click)="close('yes')">
                {{ 'delete' | translate }}
            </button>
        </div>
    </div>

    <div *ngSwitchDefault class="text-center dialog-wrap">
        <img src="/assets/images/confirm-icon.svg" alt="" />
        <div class="title lh-normal fnt-bold text-clr02 fnt-play mt-35">
            {{ config.data.title }}
        </div>
        <div class="fnt-14 fnt-md-16 lh-15 text-clr5d pt-3">
            {{ config.data.desp }}
        </div>
        <div class="pt-45 pt-md-5">
            <button class="btn-stroked mr-3" (click)="close('no')">
                {{ config.data.noButton || ('cancel' | translate) }}
            </button>
            <button class="btn-raised" (click)="close('yes')">
                {{ config.data.yesButton || ('yes' | translate) }}
            </button>
        </div>
    </div>
</ng-container>
