.read-more-button {
    font-size: 14px;
    position: relative;
    font-weight: 600;
    color: #30855c;
    cursor: pointer;
    .fa-angle-down {
        position: absolute;
        color: #30855c;
        top: 0px;
        right: -18px;
        transition: color 0.2s, transform 0.2s;
        font-size: 20px;
        &.reverse {
            transform: rotate(180deg);
        }
    }
}
