<div>
    <div
        [style.max-height]="contentVisibility ? 'unset' : 'calc(' + lineHeight + 'px * ' + rows + ')'"
        [style.overflow]="contentVisibility ? 'visible' : 'hidden'"
    >
        <p class="m-0" #contentDom>
            {{ content }}
        </p>
    </div>
    <div class="pt-3" #buttonDom>
        <span class="read-more-button" id="read_id" (click)="toggleContent($event)">
            {{ contentVisibility ? 'Read less ' : 'Read more ' }}
            <i class="fa fa-angle-down" [class.reverse]="contentVisibility"></i>
        </span>
    </div>
</div>
