<!-- internal server error 500 -->
<div class="page-not-found">
    <div class="col-lg-12 col-md-12 welcome-sec">
        <div class="text-center pink">
            <img src="assets/images/error-500.svg" alt="welcome-illustration" class="error-image" />
            <h1 class="error-header">Internal Server Error</h1>
            <p class="error-sub-text">
                Something has gone wrong on the web site's server. Please re-visit this page in a few minutes as we work
                to fix the problem.
            </p>
            <div class="text-center error-button">
                <button
                    type="button"
                    class="fnt-14 fnt-600 fnt-muli add-tem-butn"
                    [routerLink]="['/features/estate-owner-dashboard']"
                >
                    Go to homepage
                </button>
            </div>
        </div>
    </div>
</div>
