<div class="footer">
    <div class="content d-md-flex">
        <div class="newsletter">
            <a class="company-logo__img" [href]="env.publicWeb">
                <img lazyLoad="assets/images/fiiterlogo.svg" alt="Comany-Logo" />
            </a>
            <div class="email-letter">
                <h2>Subscribe to our newsletter</h2>
                <form>
                    <div class="form-group">
                        <input
                            type="email"
                            name="email"
                            value=""
                            class="fw-m"
                            placeholder="What's your email address?"
                        />
                        <div class="p-error"></div>
                    </div>
                    <button type="submit" class="btn-raised">Submit</button>
                </form>
            </div>
        </div>
        <div class="footer-links">
            <div class="each-section">
                <h2>Partners</h2>
                <ul>
                    <li><a href="{{ env.publicWeb }}/coffee-roaster/" target="_blank">Roasters</a></li>
                    <li><a href="{{ env.publicWeb }}/estates/" target="_blank">Estates</a></li>
                    <li><a href="{{ env.publicWeb }}/facilitator/" target="_blank">Facilitators</a></li>
                    <li><a href="{{ env.publicWeb }}/hospitality/" target="_blank">Hospitality</a></li>
                    <li><a href="{{ env.publicWeb }}/micro-roaster/" target="_blank">Micro Roasters</a></li>
                    <li><a href="{{ env.publicWeb }}/consumer/" target="_blank">Consumers</a></li>
                </ul>
            </div>
            <div class="each-section">
                <h2>Company</h2>
                <ul>
                    <li><a href="{{ env.publicWeb }}/contact/" target="_blank">Contact us</a></li>
                    <li><a href="{{ env.publicWeb }}/press-media/" target="_blank">Press and Media</a></li>
                    <li><a href="{{ env.publicWeb }}/privacy-policy/" target="_blank">Privacy policy</a></li>
                    <li>
                        <a href="{{ env.publicWeb }}/terms-and-condition/" target="_blank">Terms &amp; conditions</a>
                    </li>
                    <li><a href="{{ env.publicWeb }}/cookie-policy/" target="_blank">Cookie policy</a></li>
                </ul>
            </div>
            <div class="each-section">
                <h2>About</h2>
                <ul>
                    <li><a href="{{ env.publicWeb }}/aboutus/" target="_blank">Our Mission</a></li>
                    <li><a href="{{ env.publicWeb }}/solutions/" target="_blank">Solution</a></li>
                    <li><a href="{{ env.publicWeb }}/sustainability/" target="_blank">Sustainability</a></li>
                    <li><a href="{{ env.publicWeb }}/traceability/" target="_blank">The Traceability Experience</a></li>
                </ul>
            </div>
            <div class="each-section">
                <h2>Resources</h2>
                <ul>
                    <li><a href="{{ env.publicWeb }}/community-news/" target="_blank">Community News</a></li>
                    <li><a href="{{ env.publicWeb }}/price-crisis/" target="_blank">Price Crisis</a></li>
                    <li><a href="https://support.eraofwe.com" target="_blank">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="flex-div">
            <div class="social-links">
                <a href="https://www.facebook.com/eraofwe" rel="nofollow" target="_blank"
                    ><img lazyLoad="assets/images/facebook-white.svg" alt="Facebook" /></a
                ><a href="https://twitter.com/eraofweofficial" rel="nofollow" target="_blank"
                    ><img lazyLoad="assets/images/twitter-white.svg" alt="Twitter" /></a
                ><a href="https://www.instagram.com/accounts/login/?next=/eraofwe/" rel="nofollow" target="_blank"
                    ><img lazyLoad="assets/images/instagram-white.svg" alt="Instagram" /></a
                ><a href="https://www.linkedin.com/company/eraofwe/" rel="nofollow" target="_blank"
                    ><img lazyLoad="assets/images/linkedin-white.svg" alt="LinkedIn"
                /></a>
            </div>
            <p>©2022 SEWN Technology Solutions AB {{ 'all_rights_reserved' | translate }}</p>
        </div>
        <p class="desktop">©2022 SEWN Technology Solutions AB {{ 'all_rights_reserved' | translate }}</p>
        <div class="dropdown"></div>
    </div>
</div>

<!-- <div
    *ngIf="pageOffsetHeight > 1000"
    [ngClass]="isExpand ? 'p-4 px-md-5 pt-md-5 pb-md-35' : 'p-3 p-md-4'"
    class="footer-ads border-334 bg-white w-100"
>
    <div class="container-md d-md-flex justify-content-between">
        <div [ngClass]="isExpand ? 'ads-image' : ''">
            <div class="mob-disp">
                <img *ngIf="isExpand" src="assets/images/product.png" alt="product" />
                <div *ngIf="isExpand" class="align-items-end d-flex d-md-none">
                    <a class="btn-raised ml-3" href="{{ env.publicWeb }}/shop/" target="_blank">Buy now</a>
                </div>
            </div>
            <div class="d-md-none text-right">
                <span class="black-cta c-btn" *ngIf="isExpand" (click)="isExpand = false">Collapse</span>
                <span class="black-cta e-btn" *ngIf="!isExpand" (click)="isExpand = true">Expand</span>
            </div>
        </div>
        <div [ngClass]="!isExpand ? 'ml-md-5 pl-md-25' : 'd-flex'">
            <div [ngClass]="!isExpand ? 'd-flex' : ''">
                <div [ngClass]="isExpand ? 'mb-md-3' : ''" class="fnt-18 fnt-md-32 fw-b">
                    <span *ngIf="isExpand">Grab it while it’s hot!</span>
                    <span *ngIf="!isExpand"> Sign up to order coffee directly from farms to your home. </span>
                </div>
                <div *ngIf="isExpand" class="fnt-18 fnt-md-24 d-none d-md-block">
                    Sign up to order coffee directly from farms to your home.
                </div>
                <div *ngIf="isExpand" class="fnt-12 d-md-none">
                    Sign up to order coffee directly from farms to your home.
                </div>
                <a *ngIf="!isExpand" class="btn-raised ml-45" href="{{ env.publicWeb }}/shop/" target="_blank"
                    >Buy now</a
                >
            </div>
            <div *ngIf="isExpand" class="d-flex align-items-center pl-md-5 pt-35">
                <a class="btn-raised d-none d-md-block" href="{{ env.publicWeb }}/shop/" target="_blank">Buy now</a>
            </div>
        </div>
        <span class="black-cta c-btn d-none d-md-block" *ngIf="isExpand" (click)="isExpand = false">Collapse</span>
        <span class="black-cta e-btn d-none d-md-block" *ngIf="!isExpand" (click)="isExpand = true">Expand</span>
    </div>
</div> -->
