@import 'variables';

.footer-container {
    background-color: #f8f8f8;
    .text-content {
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        color: $general-text-color;
        line-height: 2;
        & > a {
            display: block;
            color: $muted-text-color;
            font-weight: normal;

            &:hover {
                color: $general-text-color;
            }
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 0 2rem;
        border-bottom: solid 1px #23233433;
        .social-logo {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .copyright-wrapper {
        padding: 2rem 0;
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        color: #23233499;
        text-align: center;
    }
    @media (max-width: 576px) {
        .container {
            padding: 0;
            .footer-content {
                padding: 1.5rem 1.5rem 2rem;
                .social-logo {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            .copyright-wrapper {
                padding: 1.5rem;
            }
        }
    }

    .company-logo__img {
        & > img {
            width: 108px;
            height: 37px;
            object-fit: contain;
            object-position: center;
        }
    }
}
