@import 'variables';

.footer-container {
    background-color: $primary-bg-color;
    .text-content {
        font-weight: 600;
        font-stretch: normal;
        color: $general-text-color;
        line-height: 2;
        & > ul {
            padding: 0;
            list-style-type: none;
            & > li > a {
                color: $muted-text-color;
                font-weight: normal;

                &:hover {
                    color: $general-text-color;
                }
            }
        }
    }

    .about-wrap {
        @media (min-width: 768px) {
            padding-right: 4rem;
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 0 2rem;
        border-bottom: solid 1px #23233433;
        .social-logo {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .copyright-wrapper {
        padding: 2rem 0;
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        color: #23233499;
        text-align: center;
    }
    @media (max-width: 576px) {
        .container {
            padding: 0;
            .footer-content {
                padding: 1.5rem 1.5rem 2rem;
                .social-logo {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            .copyright-wrapper {
                padding: 1.5rem;
            }
        }
    }

    .company-logo__img {
        & > img {
            width: 108px;
            height: 37px;
            object-fit: contain;
            object-position: center;
        }
    }

    @media (min-width: 576px) {
        .flex-sm-row {
            flex-direction: row !important;
        }
        .d-sm-none {
            display: none !important;
        }
        .d-sm-inline-block {
            display: inline-block !important;
        }
        .align-items-sm-end {
            align-items: flex-end !important;
        }
    }
}

.fnt-bold {
    font-weight: bold;
}

.c-btn {
    position: relative;
    top: -30px;
}

.e-btn {
    position: relative;
    top: -8px;
}
.black-cta {
    color: #232334 !important;
    font-weight: 700;
    text-decoration: underline !important;
    &:hover {
        color: #232334 !important;
        cursor: pointer;
    }
}

.fnt-md-32 {
    font-size: 32px !important;
}

.border-334 {
    border: 1px solid #23233433;
}

.ads-image {
    position: relative;
    left: 70px;
    bottom: 120px;
    margin-bottom: -115px;
    img {
        width: 158px;
        height: 234px;
    }
}

.footer-ads {
    position: fixed;
    bottom: 0;
}
