@import 'variables';

.c-btn {
    position: relative;
    top: -30px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    @media (max-width: 767px) {
        top: 52px;
        font-size: 12px !important;
    }
    @media (min-width: 768px) {
    }
}

.thk-c-btn {
    right: 0px;
}
.sub-c-btn {
    right: 58px;
}

.e-btn {
    position: relative;
    top: -8px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    @media (max-width: 767px) {
        font-size: 12px !important;
    }
}

.thk-ebtn {
    top: -42px;
}
.sub-ebtn {
    position: absolute;
    top: 2px;
    right: 10px;
}
.sub-cbtn {
    right: 52px;
    top: 43px;
}
.thk-cbtn {
    right: 0px;
}
.black-cta {
    color: $general-text-color !important;
    font-weight: 500;
    height: 25px;
    &:hover {
        color: $general-text-color !important;
        cursor: pointer;
    }
}

.border-334 {
    border: 1px solid $general-text-color;
}

.ads-image {
    position: relative;
    @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
        top: -66px;
        margin-bottom: -53px;
        .mob-disp {
            display: flex;
        }
    }
    @media (min-width: 768px) {
        bottom: 120px;
        margin-bottom: -115px;
    }
    img {
        width: 80px;
        height: 118px;
        @media (min-width: 768px) {
            width: 158px;
            height: 234px;
        }
    }
}

@media (min-width: 768px) {
    .container-md {
        max-width: 1270px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

.tansition1 {
    transform: translate(0, 0) !important;
    transition: transform 0.7s ease-in, -webkit-transform 0.7s ease-in !important;
}

.footer-ads {
    position: fixed;
    bottom: 0;
    transform: translate(0, 260px);
    transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
}

.footer {
    background: $general-text-color;
    color: $white;
    @media (max-width: 1150px) {
        padding: 0px 40px;
    }

    @media (max-width: 767px) {
        padding: 0px 15px;
    }

    .coffee-lab-footer {
        border-top: 1px solid #909090;

        a {
            opacity: 0.7;
            font-size: 14px;
            line-height: 2;
            color: $white;
            @media (max-width: 991px) {
                font-size: 12px;
                line-height: 1.83;
            }
            @media (max-width: 767px) {
                line-height: 1.83;
                font-size: 12px;
            }
        }
        a:hover {
            opacity: 1;
        }

        h2 {
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 12px;
            color: $white;
            margin-bottom: 0px;
            line-height: normal;
            @media (max-width: 767px) {
                padding-top: 30px;
            }
        }
    }

    .content {
        max-width: 1110px;
        margin: 0 auto;
        padding: 45px 0px 32px;
        border-bottom: solid 1px #909090;

        @media (max-width: 991px) {
            flex-wrap: wrap;
            padding: 42px 0px 29px;
        }

        .newsletter {
            width: 465px;
            @media (max-width: 991px) {
                width: 100%;
            }
            img {
                margin-bottom: 24px;
                @media (max-width: 991px) {
                    margin-bottom: 23.6px;
                }
            }
            h2 {
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 12px;
                margin-bottom: 0px;
                line-height: normal;
                @media (max-width: 991px) {
                    padding-bottom: 8px;
                }
            }
        }
        .footer-links {
            width: 645px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 991px) {
                width: 100%;
            }
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            .each-section {
                @media (max-width: 767px) {
                    width: 50%;
                }
            }

            h2 {
                font-size: 14px;
                font-weight: bold;
                padding-bottom: 10px;
                color: $white;
                margin-bottom: 0px;
                line-height: normal;
                @media (max-width: 767px) {
                    padding-top: 30px;
                }
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            a {
                opacity: 0.7;
                font-size: 14px;
                line-height: 2;
                color: $white;
                @media (max-width: 991px) {
                    font-size: 12px;
                    line-height: 1.83;
                }
                @media (max-width: 767px) {
                    line-height: 1.83;
                    font-size: 12px;
                }
            }
            a:hover {
                opacity: 1;
            }
        }
    }

    .footer-bottom {
        max-width: 1110px;
        margin: 0 auto;
        padding: 40px 0px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px) {
            align-items: flex-start;
            padding: 20px 0px 30px;
        }

        .flex-div {
            display: flex;
            justify-content: space-between;
            @media (max-width: 767px) {
                flex-wrap: wrap;
                flex-direction: column;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                opacity: 0.7;
                margin-bottom: 0;
                display: none;
                padding-top: 20px;
                @media (max-width: 767px) {
                    display: block;
                }
            }
        }

        img {
            margin-right: 20px;
            @media (max-width: 767px) {
                margin-right: 10px;
            }
        }

        button {
            padding: 0;
            background: transparent;
            border: none;
            font-size: 14px;
            font-weight: 500;
            opacity: 0.7;

            svg {
                width: 12px;
                margin-left: 7px;
                margin-top: -2px;
            }

            img {
                margin-right: 5px;
            }
            &:focus {
                outline: none;
                box-shadow: 0px 0px 0px transparent;
            }
            &:after {
                content: none;
            }
        }

        p.desktop {
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $white;
            opacity: 0.7;
            margin-bottom: 0;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}

.form-group {
    @media (max-width: 991px) {
        margin-bottom: 28px;
    }
    @media (max-width: 767px) {
        margin-bottom: 0px;
    }
    input {
        height: 47px;
        font-size: 16px;
        padding: 0 0 0 16px;
        background-color: $white;
        line-height: 2;
        border: none;
        color: $general-text-color;
        &:focus {
            outline: none;
        }
    }

    .custom-border {
        border: solid 1px $primary-color;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 45px !important;
        width: 200px;
        @media (max-width: 767px) {
            width: 144px !important;
        }
    }
}

::-webkit-input-placeholder {
    color: #797a8d;
}

.subscribe-button {
    width: 96px;
    height: 47px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
.custom-submit-foot {
    width: auto !important;
    height: 45px !important;
    @media (max-width: 767px) {
        width: 115px !important;
    }
}

.align-expand {
    @media (min-width: 768px) {
        position: relative;
        bottom: 15px;
    }
}

.align-tick {
    position: relative;
    top: 4px;
    margin-right: 0.5rem;
    @media (max-width: 767px) {
        top: 8px;
    }
}

.mob-cl-btn {
    @media (max-width: 767px) {
        z-index: 3;
        bottom: 140px;
        position: relative;
    }
}
.thank-w {
    @media (min-width: 768px) {
        width: 65%;
    }
}
.align-thank {
    @media (max-width: 767px) {
        position: relative;
        top: -6px;
    }
}

.subs-topBtn {
    @media (min-width: 320px) and (max-width: 370px) {
        width: 80px;
    }
}

.subs-topInput {
    @media (min-width: 320px) and (max-width: 370px) {
        width: 210px;
        font-size: 14px !important;
    }
}

.p-error {
    color: rgb(247, 36, 36);
}

.e-err {
    position: absolute;
    top: 70px;
    @media (max-width: 767px) {
        top: 92px;
    }
}

.b-err {
    position: absolute;
    top: 90px;
    right: 165px;
    @media (max-width: 767px) {
        top: 118px;
        right: 109px;
    }
}
