.custom-block {
    min-height: 100vh;
    padding: 0.5rem 0.5rem 1rem;
}

.error-image {
    margin-top: 109px;
    margin-bottom: 40.1px;
}
.add-tem-butn {
    border-radius: 4px;
    background-color: #30855c;
    border: 1px solid #30855c;
    color: #ffffff;
    cursor: pointer;
    padding: 12px 24px;
}
.page-not-found {
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin-top: 140px;
}
.error-header {
    font-size: 48px;
    font-weight: 600;
    color: #232334;
    margin-bottom: 12px;
}
.error-sub-text {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #232334;
    margin: auto;
    margin-bottom: 48px;
}
.light-gray {
    font-size: 20px;
    font-weight: 500;
    color: #232334;
    padding-bottom: 12rem;
}
