<div class="page-not-found">
    <div class="col-md-12 welcome-sec">
        <div class="text-center pink">
            <img src="assets/images/page-not-found.svg" alt="page-not-found" class="error-image" />
            <h1 class="error-header">This page is gone!</h1>
            <p class="error-sub-text">
                Sorry the page you are looking for is out drinking <br />
                coffee and most likely will never come back.
            </p>
            <p class="light-gray create-txt mb-4">Here are a few links that might help!</p>
            <!-- <div class="text-center error-button">
                <button type="button" class="fw-sb add-tem-butn" [routerLink]="['/features/estate-owner-dashboard']">
                    Try again
                </button>
            </div> -->
        </div>
    </div>
</div>
