@import 'variables';
.page-wrapper {
    .forum-row {
        .forum-row-content {
            border-bottom-style: dashed !important;
            color: #154faa;
            text-decoration: underline;
        }
        &:last-child .forum-row-content {
            border-bottom: none;
        }
    }
}

.answer-wrapper:last-child {
    margin-bottom: 0 !important;
    border-bottom: none !important;
}
::ng-deep {
    .p-avatar.user-avatar {
        width: 40px;
        height: 40px;
        overflow: visible !important;
        .p-badge {
            width: 16px;
            height: 16px;
            border: solid 2px #ffffff;
            top: 6px;
            right: 6px;
        }
    }
}
