<div class="p-3 p-md-4 bg-f34 br-4 d-flex">
    <div class="w-100">
        <div class="sewn-form-field ask-question w-100 mb-0">
            <input type="text" pInputText [placeholder]="placeHolderValue" class="cursor-point" (focus)="onFocus()" />
        </div>
        <div class="d-none d-md-block">
            <button (focus)="onFocus()" class="cursor-point" class="post-btn">
                {{ firstBtnValue }}
            </button>
            <button (focus)="onFocus()" class="post-btn cursor-point">{{ secondBtnValue }}</button>
        </div>
    </div>
</div>
