@import 'variables';

.w-75 {
    width: 75%;
}
.ask-question {
    border-radius: 5px;
    box-shadow: -3px 4px 12px 0 rgb(0, 0, 0, 0.08);
    border: solid 0.4px #d0d0d01c;
    background-color: #fff;
    input {
        padding: 1.188rem 0.75rem !important;
        border-color: transparent !important;
    }
}
