<header>
    <nav class="nav-top1">
        <div class="container">
            <div class="d-flex align-items-center">
                <a class="company-logo" [href]="env.publicWeb">
                    <img src="assets/images/era-we-black.svg" alt="EraOfWe.com - The Coffee Lab" />
                </a>
                <a
                    [href]="env.ssoWeb + '/login'"
                    class="btn-raised ml-auto"
                    [rel]="env.needProtect ? 'nofollow' : ''"
                    >{{ 'login' | translate }}</a
                >
            </div>
        </div>
    </nav>
</header>

<ng-container *ngIf="isMatched; else protectWrapper">
    <div class="container router-design">
        <div class="main-block">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer *ngIf="showAll"></app-footer>
</ng-container>

<ng-template #protectWrapper>
    <div class="container router-design">
        <input type="password" (change)="onCheckPassword($event.target.value)" placeholder="Please input password" />
    </div>
</ng-template>
