<header>
    <nav class="nav-top1">
        <div class="container">
            <div class="d-flex align-items-center justify-content-md-between navbar">
                <a class="sidenav-hamberg d-lg-none px-0" (click)="openSideNav()">
                    <img src="assets/images/hamberg.svg" alt="hamberg" class="d-md-none" />
                    <img src="assets/images/hamberg-tablet.svg" alt="hamberg" class="d-none d-md-inline-block" />
                </a>
                <a class="company-logo" [href]="env.publicWeb">
                    <img src="assets/images/era-we-black.svg" alt="EraOfWe.com - The Coffee Lab" />
                </a>
                <div class="d-none d-md-block">
                    <div class="dropdown">
                        <button class="dropbtn">Why Era of We <i class="pi pi-chevron-down"></i></button>
                        <div class="dropdown-content">
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/sustainability/"
                                >Sustainability</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/community/"
                                >Our Community</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/traceability/"
                                >A Traceable Experience</a
                            >
                        </div>
                    </div>
                    <div class="dropdown custom-pad-head">
                        <a class="dropbtn" href="{{ env.publicWeb }}/solutions/">Solution</a>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Partners <i class="pi pi-chevron-down"></i></button>
                        <div class="dropdown-content">
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/coffee-roaster/"
                                >Roaster</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/estates/">Estate</a>
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/facilitator/"
                                >Facilitator</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/micro-roaster/"
                                >Micro Roasters</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/consumer/"
                                >End consumer</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/hospitality/"
                                >Hospitality</a
                            >
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">About us <i class="pi pi-chevron-down"></i></button>
                        <div class="dropdown-content">
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/aboutus/">Our Mission</a>
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/press-media/"
                                >Press and Media</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/community-news/"
                                >Community News</a
                            >
                        </div>
                    </div>
                    <div class="dropdown custom-pad-head">
                        <a class="dropbtn coffee-lab-nev-text mr-md-45" href="{{ env.publicWeb }}/solutions/">
                            The Coffee lab
                        </a>
                    </div>
                    <a
                        [href]="env.ssoWeb + '/login'"
                        class="btn-raised mt-md-1"
                        [rel]="env.needProtect ? 'nofollow' : ''"
                        >{{ 'login' | translate }}</a
                    >
                </div>
                <a
                    [href]="env.ssoWeb + '/login'"
                    class="btn-raised ml-auto d-lg-none"
                    [rel]="env.needProtect ? 'nofollow' : ''"
                    >{{ 'login' | translate }}</a
                >
            </div>
        </div>
    </nav>

    <nav class="bg-f8 d-lg-none">
        <div class="container">
            <div class="w-100 sidenav-mb" [class.open]="sideNavOpened">
                <span class="sidenav-mb__hide" (click)="closeSideNav()"></span>
                <div class="sidenav-mb__content" [class.open]="sideNavOpened">
                    <div class="sidenav-mb__close" (click)="closeSideNav()">
                        <img src="assets/images/close-icon.png" />
                    </div>
                    <div class="">
                        <div class="dropdown w-100">
                            <button class="dropbtn w-100 d-flex justify-content-between" (click)="open()">
                                Why Era of We <i class="pi pi-chevron-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a class="paragraph-p2 text-darker semi" href="/sustainability/">Sustainability</a>
                                <a class="paragraph-p2 text-darker semi" href="/community/">Our Community</a>
                                <a class="paragraph-p2 text-darker semi" href="/traceability/"
                                    >A Traceable Experience</a
                                >
                            </div>
                        </div>
                        <div class="dropdown w-100"><button class="dropbtn" href="/solutions/">Solution</button></div>
                        <div class="dropdown w-100">
                            <button class="dropbtn w-100 d-flex justify-content-between" (click)="open()">
                                Partners <i class="pi pi-chevron-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a class="paragraph-p2 text-darker semi" href="/coffee-roaster/">Roaster</a>
                                <a class="paragraph-p2 text-darker semi" href="/estates/">Estate</a>
                                <a class="paragraph-p2 text-darker semi" href="/facilitator/">Facilitator</a>
                                <a class="paragraph-p2 text-darker semi" href="/micro-roaster/">Micro Roasters</a>
                                <a class="paragraph-p2 text-darker semi" href="/consumer/">End consumer</a>
                                <a class="paragraph-p2 text-darker semi" href="/hospitality/">Hospitality</a>
                            </div>
                        </div>
                        <div class="dropdown w-100">
                            <button class="dropbtn w-100 d-flex justify-content-between" (click)="open()">
                                About us <i class="pi pi-chevron-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a class="paragraph-p2 text-darker semi" href="/aboutus/">Our Mission</a>
                                <a class="paragraph-p2 text-darker semi" href="/press-media/">Press and Media</a>
                                <a class="paragraph-p2 text-darker semi" href="/community-news/">Community News</a>
                            </div>
                        </div>
                        <div class="dropdown w-100">
                            <button class="dropbtn coffee-lab-nev-text ml-md-3" href="/solutions/">
                                The Coffee lab
                            </button>
                        </div>
                        <a
                            [href]="env.ssoWeb + '/login'"
                            class="btn-raised mt-md-1 w-100"
                            [rel]="env.needProtect ? 'nofollow' : ''"
                            >{{ 'login' | translate }}</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="bg-black">
        <div class="container">
            <div class="d-flex justify-content-md-between align-items-center tab-text">
                <div class="d-md-flex">
                    <app-language-dropdown [isSubHeader]="true"></app-language-dropdown>
                </div>
                <div class="d-flex">
                    <a class="d-none d-md-block" routerLink="/en/brewing-coffee/articles">Brewing Coffee</a>
                    <a class="d-none d-md-block" routerLink="/en/coffee-equipmente/articles">Coffee Equipment</a>
                    <a class="d-none d-md-block" routerLink="/en/coffee-culture-story/articles"
                        >Coffee Culture & Story</a
                    >
                    <a routerLink="/en/coffee-health/articles">Coffee & Health</a>
                    <a routerLink="/en/coffee-shops/articles">Coffee Shops</a>
                    <a routerLink="/en/sustainable-coffee/articles">Sustainable Coffee</a>
                </div>
            </div>
        </div>
    </div>
</header>

<ng-container *ngIf="isMatched; else protectWrapper">
    <div class="container router-design">
        <div class="mt-5">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer *ngIf="showAll"></app-footer>
</ng-container>

<ng-template #protectWrapper>
    <div class="container router-design">
        <input type="password" (change)="onCheckPassword($event.target.value)" placeholder="Please input password" />
    </div>
</ng-template>
