@import 'variables';

header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 12px 44px -10px rgb(143 51 11 / 10%);
}

.nav-top1 {
    background-color: $white;
    display: flex;
    align-items: center;
    height: $mobile-header-height;
    @media (min-width: 768px) {
        height: $tablet-header-height;
    }
    @media (min-width: 992px) {
        height: $desktop-header-height;
    }

    .company-logo {
        & > img {
            display: block;
            width: 94px;
            height: 32px;
            object-fit: contain;
            object-position: center;
            @media (min-width: 768px) {
                width: 106px;
                height: 36px;
            }
        }
    }
}

.router-design {
    min-height: calc(100vh + 1px);
    padding-top: calc(#{$mobile-header-height + $mobile-page-pt});
    padding-bottom: 16px;
    @media (min-width: 768px) {
        padding-top: calc(#{$tablet-header-height + $tablet-page-pt});
    }
    @media (min-width: 992px) {
        padding-top: calc(#{$desktop-header-height + $desktop-page-pt});
        padding-bottom: $desktop-page-pb;
    }
}
