<header>
    <nav class="nav-top1">
        <div class="container">
            <div class="d-flex align-items-center justify-content-md-between navbar">
                <a class="sidenav-hamberg d-lg-none px-0" (click)="openSideNav()">
                    <img src="assets/images/hamberg.svg" alt="hamberg" class="d-md-none" height="24" width="24" />
                    <img
                        src="assets/images/hamberg-tablet.svg"
                        alt="hamberg"
                        class="d-none d-md-inline-block"
                        height="24"
                        width="24"
                    />
                </a>
                <a class="company-logo" [href]="env.publicWeb">
                    <img src="assets/images/era-we-black.svg" alt="EraOfWe.com - The Coffee Lab" />
                </a>
                <div class="d-none d-md-block">
                    <div class="dropdown">
                        <button class="dropbtn">Why Era of We</button>
                        <div class="dropdown-content">
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/sustainability/"
                                >Sustainability</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/community/"
                                >Our Community</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/traceability/"
                                >A Traceable Experience</a
                            >
                        </div>
                    </div>
                    <div class="dropdown custom-pad-head">
                        <a class="dropbtn" href="{{ env.publicWeb }}/solutions/">Solution</a>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Partners</button>
                        <div class="dropdown-content">
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/coffee-roaster/"
                                >Roaster</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/estates/">Estate</a>
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/facilitator/"
                                >Facilitator</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/micro-roaster/"
                                >Micro Roasters</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/consumer/"
                                >End consumer</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/hospitality/"
                                >Hospitality</a
                            >
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">About us</button>
                        <div class="dropdown-content">
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/aboutus/">Our Mission</a>
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/press-media/"
                                >Press and Media</a
                            >
                            <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/community-news/"
                                >Community News</a
                            >
                        </div>
                    </div>
                    <div class="dropdown custom-pad-head">
                        <a class="dropbtn coffee-lab-nev-text mr-md-45">The Coffee lab</a>
                    </div>
                    <a
                        [href]="env.ssoWeb + '/login'"
                        class="btn-raised mt-md-1"
                        [rel]="env.needProtect ? 'nofollow' : ''"
                        >{{ 'login' | translate }}</a
                    >
                </div>
                <a
                    [href]="env.ssoWeb + '/login'"
                    class="btn-raised ml-auto d-lg-none"
                    [rel]="env.needProtect ? 'nofollow' : ''"
                    >{{ 'login' | translate }}</a
                >
            </div>
        </div>
    </nav>

    <nav class="bg-f8 d-lg-none">
        <div class="container">
            <div class="w-100 sidenav-mb" [class.open]="sideNavOpened">
                <span class="sidenav-mb__hide" (click)="closeSideNav()"></span>
                <div class="sidenav-mb__content" [class.open]="sideNavOpened">
                    <div class="sidenav-mb__close" (click)="closeSideNav()">
                        <img src="assets/images/close-icon.png" />
                    </div>
                    <div class="">
                        <div class="dropdown w-100">
                            <button class="dropbtn w-100 d-flex justify-content-between" (click)="onToggel('eraOfWe')">
                                Why Era of We <i class="pi pi-chevron-down"></i>
                            </button>
                            <div class="dropdown-content" id="eraOfWe">
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/sustainability/"
                                    >Sustainability</a
                                >
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/community/"
                                    >Our Community</a
                                >
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/traceability/"
                                    >A Traceable Experience</a
                                >
                            </div>
                        </div>
                        <div class="dropdown my-3 w-100">
                            <a class="dropbtn w-100" href="{{ env.publicWeb }}/solutions/">Solution</a>
                        </div>
                        <div class="dropdown w-100">
                            <button class="dropbtn w-100 d-flex justify-content-between" (click)="onToggel('partners')">
                                Partners <i class="pi pi-chevron-down"></i>
                            </button>
                            <div class="dropdown-content" id="partners">
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/coffee-roaster/"
                                    >Roaster</a
                                >
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/estates/">Estate</a>
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/facilitator/"
                                    >Facilitator</a
                                >
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/micro-roaster/"
                                    >Micro Roasters</a
                                >
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/consumer/"
                                    >End consumer</a
                                >
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/hospitality/"
                                    >Hospitality</a
                                >
                            </div>
                        </div>
                        <div class="dropdown w-100">
                            <button class="dropbtn w-100 d-flex justify-content-between" (click)="onToggel('about')">
                                About us <i class="pi pi-chevron-down"></i>
                            </button>
                            <div class="dropdown-content" id="about">
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/aboutus/"
                                    >Our Mission</a
                                >
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/press-media/"
                                    >Press and Media</a
                                >
                                <a class="paragraph-p2 text-darker semi" href="{{ env.publicWeb }}/community-news/"
                                    >Community News</a
                                >
                            </div>
                        </div>
                        <div class="dropdown w-100">
                            <button class="dropbtn coffee-lab-nev-text ml-md-3">
                                <a class="w-100">The Coffee lab</a>
                            </button>
                        </div>
                        <div class="px-3 pt-4">
                            <a
                                [href]="env.ssoWeb + '/login'"
                                class="btn-raised mt-md-1 w-100"
                                [rel]="env.needProtect ? 'nofollow' : ''"
                                >{{ 'login' | translate }}</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="bg-black">
        <div class="container">
            <div class="d-flex justify-content-md-between align-items-center tab-text">
                <div class="d-md-flex d-none">
                    <app-language-dropdown [isSubHeader]="true"></app-language-dropdown>
                </div>
                <div class="d-flex">
                    <a class="d-none d-md-block" href="{{ env.coffeeLabWeb }}en/brewing-coffee/articles"
                        >Brewing Coffee</a
                    >
                    <a class="d-none d-md-block" href="{{ env.coffeeLabWeb }}en/coffee-equipment/articles"
                        >Coffee Equipment</a
                    >
                    <a class="d-none d-md-block" href="{{ env.coffeeLabWeb }}en/coffee-culture-story/articles"
                        >Coffee Culture & Story</a
                    >
                    <a href="{{ env.coffeeLabWeb }}en/coffee-health/articles">Coffee & Health</a>
                    <a href="{{ env.coffeeLabWeb }}en/coffee-shops/articles">Coffee Shops</a>
                    <a href="{{ env.coffeeLabWeb }}en/sustainable-coffee/articles" class="pr-0">Sustainable Coffee</a>
                </div>
            </div>
        </div>
    </div>
</header>
