@import 'variables';

.coffee-item {
    border-radius: 14px;
    min-height: 415px;
    border: 1px solid #d0d0d0;
    transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    img {
        height: 234px;
        min-height: 234px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        object-fit: cover;
    }

    .ng-lazyloaded {
        height: 234px;
        min-height: 234px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        object-fit: cover;
        width: 100%;
    }
    .ng-lazyloading {
        height: 234px;
        min-height: 234px;
        object-fit: cover;
        width: unset;
    }
    .recipe-name {
        .recipe-title {
            height: 40px;
        }
    }

    @media (min-width: 992px) {
        &:hover {
            cursor: pointer;
            border: 0px !important;
            transform: scale(1.05);
            box-shadow: 0 0 2rem rgb(0 0 0 / 20%);
            .recipe-name {
                .recipe-title {
                    text-decoration: underline;
                }
            }
        }
    }

    .expertise {
        text-transform: capitalize;
        font-weight: 600;
        position: absolute;
        top: 24px;
        left: 24px;
        padding: 8px 16px;
        border-radius: 14px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(116, 117, 136, 0.45);
        color: $white;
    }
}
