<div class="divider-box px-3 d-flex justify-content-between" [ngClass]="{ 'border-l8': total < 1 }">
    <div class="d-flex">
        <div class="btn-icon thumbsup" (click)="onFocus()"></div>
        <div (click)="onFocus()" class="btn-icon message ml-2 transparent"></div>
        <div (click)="onFocus()" class="btn-icon save transparent ml-2"></div>
    </div>
    <div class="d-flex align-items-center" *ngIf="showJoinBtn">
        <div (click)="onJoin()" class="c-p p-1 mr-2 d-none d-md-block fw-sb text-nowrap">
            {{ 'join_the_discussion' | translate }}
        </div>
        <img (click)="onJoin()" class="c-p" src="assets/images/right-arrow-active.svg" alt="right-arrow" />
    </div>
</div>
