.border-btm {
    border-bottom: solid 1px #d8d8d8 !important;
}

.border-l8 {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.button-list {
    margin: 0 4px 5px 0;
    padding: 8px 11px 8px 10px;
    border-radius: 4px;
    background-color: #eaeaea;
    border: none;
    @media (max-width: 768px) {
        margin: 0 12px 0 0;
        padding: 8px 10px;
    }
}

.align-like {
    .like-int {
        cursor: pointer;
        padding: 0 10.5px;
        border-radius: 50%;
        @media (min-width: 992px) {
            &:hover {
                background-color: rgba(48, 133, 92, 0.12);
            }
        }

        .like {
            position: relative;
            top: 6px;
            height: 22px;
        }
    }
    span {
        margin-top: 0.8rem;
    }
}

.divider-box {
    background-color: #f1f1f1;
    .mb-05 {
        margin-bottom: 2px;
    }
}

.py-15 {
    padding-top: 6px;
    padding-bottom: 5px;
}
