.border-btm {
    border-bottom: solid 1px #d8d8d8 !important;
}

.border-l8 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button-list {
    margin: 0 4px 5px 0;
    padding: 8px 11px 8px 10px;
    border-radius: 4px;
    background-color: #eaeaea;
    border: none;
    @media (max-width: 768px) {
        margin: 0 12px 0 0;
        padding: 8px 10px;
    }
}

.cursor-point {
    cursor: pointer;
}

.like-box {
    background-color: #f1f1f1;
    .mb-05 {
        margin-bottom: 2px;
    }
}

.hover-message-icon {
    padding: 10px;
    border-radius: 50%;
    &:hover {
        background-color: rgba(48, 133, 92, 0.12);
    }
}

.hover-save-icon {
    padding: 6px 11px 8px 13px;
    border-radius: 50%;
    &:hover {
        background-color: rgba(48, 133, 92, 0.12);
    }
}

.py-15 {
    padding-top: 6px;
    padding-bottom: 5px;
}
