::ng-deep {
    .p-dialog.signup-dialog {
        padding: 0;
        max-width: 685px;
        .p-dialog-content {
            padding: 0;
            border-radius: 4px;
        }
    }
}

.cross-icon {
    border: solid 1.4px #232334;
    border-radius: 50%;
    padding: 5px;
}

.join-head {
    font-family: 'Cormorant Garamond';
}

.signup-btn {
    border: solid 1px #d0d0d0;
    border-radius: 6px;
    width: 53%;
    padding-left: 3.5rem !important;
    &:hover {
        border: solid 1px #30855c !important;
    }
}

.email-btn {
    border: solid 1px #d0d0d0;
    border-radius: 6px;
    width: 53%;
    padding-left: 2.5rem !important;
    &:hover {
        border: solid 1px #30855c !important;
    }
}

.fnt-36 {
    font-size: 36px;
}

.login-link {
    color: #80460b !important;
    font-weight: 600;
    position: relative;
    &:hover {
        text-decoration: underline;
    }
}
