<div class="pt-4 pb-475 pl-45 pr-4 br-4">
    <div class="d-flex justify-content-end">
        <i class="pi pi-times fnt-18 text-clr588 cursor-pointer" (click)="close()"></i>
    </div>
    <div class="text-center">
        <p class="fnt-play fnt-28 fnt-bold text-clr334 mb-2">
            {{ config.data?.isLimit ? ('you_read_posts' | translate: { count: 3 }) : ('hi_there' | translate) }}
        </p>
        <div class="fnt-14 lh-157 text-clr588 mb-475 mt-z5">
            {{ (config.data?.isLimit ? 'read_more_posts' : 'join_part_community') | translate }}
        </div>
        <div class="pr-2 w-100">
            <div
                class="d-flex justify-content-center align-items-center br-2 border-primary p-3 cursor-pointer mb-3"
                (click)="signInWithGoogle()"
            >
                <img src="assets/images/google.svg" />
                <span class="fnt-semi-bold text-clr334 ml-3">
                    {{ 'signup_with_google' | translate }}
                </span>
            </div>
            <div
                class="d-flex justify-content-center align-items-center br-2 border-primary p-3 cursor-pointer mb-3"
                (click)="signInWithFacebook()"
            >
                <img src="assets/images/facebook-color.svg" />
                <span class="fnt-semi-bold text-clr334 ml-3">
                    {{ 'signup_with_facebook' | translate }}
                </span>
            </div>
            <a [href]="ssoWeb + '/email-signup'" class="text-no-underline" [rel]="isStaging ? 'nofollow' : ''">
                <div
                    class="d-flex justify-content-center align-items-center br-2 border-primary p-3 cursor-pointer mb-4"
                >
                    <img src="assets/images/email.svg" />
                    <span class="fnt-semi-bold text-clr334 ml-3">
                        {{ 'signup_with_email' | translate }}
                    </span>
                </div>
            </a>
            <a [href]="ssoWeb + '/login'" class="custom-link text-center" [rel]="isStaging ? 'nofollow' : ''">{{
                'already_have_account' | translate
            }}</a>
        </div>
    </div>
</div>
