<div *ngIf="!isLoading; else loader" class="main-block">
    <div class="mt-1 mt-lg-3 w-fit-content">
        <a class="back-page" [routerLink]="previousUrl">{{ 'back_to_forum' | translate }}</a>
    </div>
    <div class="d-block d-md-flex">
        <div class="mt-1 mt-md-2 mb-4 mb-lg-5 pb-1">
            <h1 class="title-header fw-sb mb-4">{{ currentCategory?.name | titlecase }}</h1>
            <p class="col-md-8 pl-1 col-12">
                {{ currentCategory?.description }}
            </p>
        </div>
        <div class="d-flex align-items-center align-items-lg-end language-drop mb-4 mb-md-0 mr-lg-4">
            <app-language-dropdown></app-language-dropdown>
        </div>
    </div>

    <p-tabMenu [model]="menuItems" styleClass="mb-4">
        <ng-template pTemplate="item" let-item let-i="index">
            <span class="pl-1 d-md-inline-block">{{ item.label | translate }}</span>
        </ng-template>
    </p-tabMenu>
    <router-outlet></router-outlet>
</div>

<ng-template #loader>
    <div class="main-block"><app-loading></app-loading></div>
</ng-template>
