@charset "UTF-8";
@import 'variables';

* {
    box-sizing: border-box;
}

.p-component {
    font-family: $general-font-family;
    font-size: $general-font-size;
    font-weight: normal;
}

.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 0.2s;
}

.pi {
    font-size: 1rem;
}

.p-checkbox {
    width: 18px;
    height: 18px;
}
.p-checkbox .p-checkbox-box {
    border: 1px solid #a6a6a6;
    background: $white;
    width: 18px;
    height: 18px;
    color: #333333;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: $white;
    font-size: 12px;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: $primary-color;
    background: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: $primary-color;
    background: $primary-color;
    color: $white;
}

.p-checkbox-label {
    margin-bottom: 0;
    margin-left: 12px;
    color: $general-text-color;
}

.p-highlight .p-checkbox .p-checkbox-box {
    border-color: $white;
}

.p-dropdown {
    background: transparent;
    border: 1px solid $primary-border-color;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
.p-dropdown.highlight {
    border-color: $primary-color;
}
.p-dropdown:not(.p-disabled):hover {
    border-color: $primary-color;
}
.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: $primary-color;
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 1.429rem;
}
.p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
}
.p-dropdown .p-dropdown-label.p-placeholder {
    color: $muted-text-color;
}
.p-dropdown .p-dropdown-label:enabled:focus {
    outline: 0 none;
    box-shadow: none;
}
.p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #848484;
    width: unset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 1;
    z-index: 9;
}
.p-dropdown:not(.p-dropdown-open) .p-dropdown-clear-icon + .p-dropdown-trigger {
    opacity: 0;
}
.p-dropdown-trigger-icon {
    color: $button-icon-color;
    transition: color 0.2s, transform 0.2s;
}
.p-dropdown-open .p-dropdown-trigger-icon {
    color: $primary-color;
    transform: rotate(180deg);
}
.p-dropdown .p-dropdown-clear-icon {
    color: $button-icon-color;
    right: 16px;
    opacity: 1;
    background: #fff;
    z-index: 10;
    transition: opacity 0s 0.3s;
}
.p-dropdown-open .p-dropdown-clear-icon {
    right: 16px;
    opacity: 0;
    transition: none;
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label,
.p-dropdown .p-inputtext {
    padding-right: 0;
}

.p-dropdown-panel {
    background: $white;
    color: $general-text-color;
    border: none;
    border-radius: 2px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
    padding: 4px;
    margin-top: 8px;

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        border-width: 0 0.5rem 0.5rem 0.5rem;
        border-color: transparent;
        border-style: solid;
        top: -9px;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        border-bottom-color: rgba(0, 0, 0, 0.25);
    }

    &::after {
        border-bottom-color: #fff;
    }
}
.p-dropdown-panel .p-dropdown-header {
    padding: 0.429rem 0.857rem;
    border-bottom: 1px solid #eaeaea;
    color: $general-text-color;
    background: $white;
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding: 0.625rem !important;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
    right: 0.429rem;
    color: #848484;
}
.p-dropdown-panel .p-dropdown-items {
    padding: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.75rem 2rem 0.75rem 0.75rem;
    border: 0 none;
    color: $muted-text-color;
    background: transparent;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 2px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: $general-text-color;
    background: $primary-bg-color;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: $general-text-color;
    background: $primary-bg-color;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
    padding: 0.429rem 0.857rem;
    color: $general-text-color;
    background: transparent;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
    margin: 0;
    padding: 0.857rem;
    color: $general-text-color;
    background: #f4f4f4;
    font-weight: 700;
}

.p-inputtext {
    font-family: $general-font-family;
    font-size: 14px;
    color: $general-text-color;
    background: $white;
    padding: 0.625rem 1rem;
    line-height: 18px;
    border: 1px solid $primary-border-color;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 3px;
}
.round-border.p-inputtext {
    border-radius: 20px;
}
.highlight.p-inputtext {
    border-color: $primary-color;
}
.p-inputtext:enabled:hover {
    border-color: $primary-color;
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #8dcdff;
    border-color: $primary-color;
}
.p-inputtext.p-inputtext-sm {
    font-size: 0.875rem;
    padding: 0.375375rem 0.375375rem;
}
.p-inputtext.p-inputtext-lg {
    font-size: 1.25rem;
    padding: 0.53625rem 0.53625rem;
}

.p-float-label > label {
    left: 0.429rem;
    color: #666666;
    transition-duration: 0.2s;
}

.p-input-icon-left > i:first-of-type {
    left: 0.429rem;
    color: #848484;
}

.p-input-icon-left > .p-inputtext {
    padding-left: 1.858rem;
}

.p-input-icon-left.p-float-label > label {
    left: 1.858rem;
}

.p-input-icon-right > i:last-of-type {
    right: 0.429rem;
    color: #848484;
}

.p-input-icon-right > .p-inputtext {
    padding-right: 1.858rem;
}

::-webkit-input-placeholder {
    color: #666666;
}

:-moz-placeholder {
    color: #666666;
}

::-moz-placeholder {
    color: #666666;
}

:-ms-input-placeholder {
    color: #666666;
}

.p-inputtext-sm .p-inputtext {
    font-size: 0.875rem;
    padding: 0.375375rem 0.375375rem;
}

.p-inputtext-lg .p-inputtext {
    font-size: 1.25rem;
    padding: 0.53625rem 0.53625rem;
}

.p-multiselect {
    background: $white;
    border: 1px solid $primary-border-color;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
.round-border.p-multiselect {
    border-radius: 20px;
}
.highlight.p-multiselect {
    border-color: $primary-color;
}
.p-multiselect:not(.p-disabled):hover {
    border-color: $primary-color;
}
.p-multiselect:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    border-color: $primary-color;
}
.p-multiselect .p-multiselect-label {
    padding: 0.625rem 1rem;
    padding-right: 0;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    line-height: 18px;
}
.p-multiselect .p-multiselect-label.p-placeholder {
    color: $muted-text-color;
    line-height: 18px;
}
.p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0.2145rem 0.429rem;
    margin-right: 0.5rem;
    background: $primary-color;
    color: $white;
    border-radius: 3px;
}
.p-multiselect.p-multiselect-chip .p-multiselect-token .p-multiselect-token-icon {
    margin-left: 0.5rem;
}
.p-multiselect .p-multiselect-trigger {
    background: transparent;
    color: #848484;
    width: 2.357rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.p-multiselect-trigger-icon {
    color: $button-icon-color;
    transition: color 0.2s, transform 0.2s;
}
.p-multiselect-open .p-multiselect-trigger-icon {
    color: $primary-color;
    transform: rotate(180deg);
}
.p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding: 0.3125rem 0.429rem;
}

.p-multiselect-panel {
    background: $white;
    color: #333333;
    border-radius: 3px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
}
.p-multiselect-panel .p-multiselect-header {
    padding: 0.75rem;
    border-bottom: 1px solid #eaeaea;
    color: #333333;
    background: $white;
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-right: 1.429rem;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    right: 0.429rem;
    color: #848484;
}
.p-multiselect-panel .p-multiselect-header .p-checkbox {
    margin-right: 0.5rem;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    display: none;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:enabled:hover {
    color: $primary-color;
    border-color: transparent;
    background: transparent;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #8dcdff;
}
.p-multiselect-panel .p-multiselect-items {
    padding: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0;
    padding: 0.75rem;
    border: 0 none;
    color: $muted-text-color;
    background: transparent;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background: $primary-bg-color;
    color: $muted-text-color;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    color: #333333;
    background: #eaeaea;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    outline: 0 none;
    outline-offset: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: 0.5rem;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group {
    margin: 0;
    padding: 0.857rem;
    color: #333333;
    background: #f4f4f4;
    font-weight: 700;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
    padding: 0.429rem 0.857rem;
    color: #333333;
    background: transparent;
}

.p-paginator {
    background: $white;
    color: $general-text-color;
    border: none;
    padding: 0;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    background-color: transparent;
    border: 0 none;
    color: #848484;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 0;
}
.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    background: transparent;
    border-color: transparent;
    color: $general-text-color;
}
.p-paginator .p-paginator-first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.p-paginator .p-paginator-last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.p-paginator-first span,
.p-paginator-last span {
    border-radius: 1px;
    border: solid 1.5px $primary-color;
    padding: 8px 4px 7px 6px;
}
.p-paginator .p-dropdown {
    margin-left: 0.5rem;
    height: 2.357rem;
}
.p-paginator .p-dropdown .p-dropdown-label {
    padding-right: 0;
}
.p-paginator .p-paginator-current {
    background-color: transparent;
    border: 0 none;
    color: #848484;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0;
    padding: 0 0.5rem;
}
.p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent;
    border: 0 none;
    color: $muted-text-color;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 0;
    font-size: $general-font-size;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: transparent;
    border: none;
    color: $primary-color;
    font-size: $general-font-size;
}
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background: transparent;
    border-color: transparent;
    color: $muted-text-color;
}

.p-dialog {
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
.p-dialog .p-dialog-content {
    background: $white;
    color: $general-text-color;
    padding: 1rem;
}

.p-dialog-mask.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.p-overlaypanel {
    background: $white;
    color: $general-text-color;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
.p-overlaypanel .p-overlaypanel-content {
    padding: 0.571rem 1rem;
}
.p-overlaypanel .p-overlaypanel-close {
    background: #007ad9;
    color: $white;
    width: 2rem;
    height: 2rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -1rem;
}
.p-overlaypanel .p-overlaypanel-close:enabled:hover {
    background: #116fbf;
    color: $white;
}
.p-overlaypanel:after {
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $white;
}
.p-overlaypanel:before {
    border: solid transparent;
    border-color: rgba(200, 200, 200, 0);
    border-bottom-color: #c8c8c8;
}
.p-overlaypanel.p-overlaypanel-flipped:after {
    border-top-color: $white;
}
.p-overlaypanel.p-overlaypanel-flipped:before {
    border-top-color: #c8c8c8;
}

.p-skeleton {
    background-color: #eaeaea;
    border-radius: 3px;
}
.p-skeleton:after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    color: #848484;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    color: $general-text-color;
}

/* Customizations to the designer theme should be defined here */
