// Custom Theming for Prime Ng

@import '../variables';

// Dialog
.p-dialog {
    background: $white;
    border: none;
    width: 90vw;
    padding: 20px 16px 24px;
    border-radius: 4px;
    @media (min-width: 768px) {
        width: 75vw;
        padding: 2rem 1.5rem 1rem;
    }

    &.no-padding {
        padding: 0;
    }

    .p-dialog-header {
        background: $white;
        color: $general-text-color;
        border-color: #dedede;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 20px;
        align-items: flex-start;

        .p-dialog-title {
            font-size: 16px;
            line-height: normal;
            @media (min-width: 768px) {
                font-size: 18px;
            }
        }

        .p-dialog-header-icon {
            color: $button-icon-color;
            width: unset;
            height: unset;

            &:enabled:hover {
                color: $primary-color;
            }
        }
    }

    .p-dialog-content {
        padding-left: 0;
        padding-right: 0;
    }

    .p-dialog-footer {
        padding-left: 0;
        padding-right: 0;
    }
}

.p-dialog-header-close-icon {
    font-size: 18px;
    @media (min-width: 768px) {
        font-size: 26px;
    }
}

.p-dialog-mask {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
