.round-border.p-dropdown {
    border-radius: 20px;
}
.no-border.p-dropdown {
    border: none;
}
.no-padding.p-dropdown .p-dropdown-label {
    padding: 0;
}
.accent.p-dropdown {
    .p-dropdown-label {
        color: $primary-color;
    }
    .p-dropdown-trigger-icon {
        color: $primary-color;
    }
}
.p-dropdown {
    border-color: $primary-border-color;
}
.p-dropdown.highlight {
    border-color: $primary-color;
}
.p-dropdown .p-dropdown-trigger {
    width: unset;
    padding-left: 16px;
    padding-right: 16px;
}
.p-dropdown-panel {
    border: none;
    padding: 4px;
    margin-top: 8px;
    border-radius: 2px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        border-width: 0 0.5rem 0.5rem 0.5rem;
        border-color: transparent;
        border-style: solid;
        top: -9px;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        border-bottom-color: rgba(0, 0, 0, 0.25);
    }

    &::after {
        border-bottom-color: #fff;
    }
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: $muted-text-color;
    border-radius: 2px;
    padding: 0.75rem 2rem 0.75rem 0.75rem;
    font-weight: 600;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: $general-text-color;
    background: $primary-bg-color;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: $general-text-color;
    background: $primary-bg-color;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: $primary-color;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: $primary-color;
}

.p-dropdown-trigger-icon {
    color: $button-icon-color;
    transition: color 0.2s, transform 0.2s;
}
.p-dropdown-open .p-dropdown-trigger-icon {
    color: $primary-color;
    transform: rotate(180deg);
}

.p-dropdown:not(.p-disabled):hover .p-dropdown-label.p-placeholder,
.p-dropdown:not(.p-disabled).p-focus .p-dropdown-label.p-placeholder {
    color: $general-text-color;
}

.p-dropdown .p-dropdown-clear-icon {
    color: $button-icon-color;
    right: 16px;
    opacity: 1;
    background: #fff;
    z-index: 10;
    transition: opacity 0s 0.3s;
}

.p-dropdown-open .p-dropdown-clear-icon {
    right: 16px;
    opacity: 0;
    transition: none;
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label,
.p-dropdown .p-inputtext {
    padding-right: 0;
}

.p-dropdown-trigger {
    opacity: 1;
    z-index: 9;
}
.p-dropdown:not(.p-dropdown-open) .p-dropdown-clear-icon + .p-dropdown-trigger {
    opacity: 0;
}

.p-dropdown.p-dropdown-translate {
    border: none;
    &:not(.p-disabled).p-focus {
        box-shadow: none;
    }
    .p-inputtext {
        padding: 0 8px;
    }
    .p-dropdown-panel {
        box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
        border: solid 0.2px #ebebeb;
        .p-dropdown-items {
            .p-dropdown-item {
                padding-left: 12px;
                padding-right: 12px;
                a:hover {
                    text-decoration: none;
                }
            }
            .p-dropdown-item.p-highlight {
                background: #f8f8f8;
            }
        }
    }
    .p-dropdown-trigger {
        padding: 0;
        justify-content: flex-end;
    }
    .p-dropdown-label.p-placeholder {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.57;
        color: #80460b !important;
        display: flex;
        align-items: center;
        padding: 0 8px;
        &:before {
            content: url(assets/images/translate.svg);
            margin-right: 4px;
            height: 21px;
        }
    }
}
