// Custom Theming for Prime Ng

@import '../variables';

.p-autocomplete-panel {
    border: none;
    padding: 4px;
    margin-top: 8px;
    border-radius: 2px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
}
.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
    color: $muted-text-color;
    border-radius: 2px;
    padding: 0.75rem 2rem 0.75rem 0.75rem;
    font-weight: 600;
}
.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:not(.p-highlight):not(.p-disabled):hover {
    color: $general-text-color;
    background: $primary-bg-color;
}
.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight {
    color: $general-text-color;
    background: $primary-bg-color;
}
