// Custom Theming for Prime Ng

@import '../variables';

// Multiselect
.round-border.p-multiselect {
    border-radius: 20px;
}
.p-multiselect {
    border-color: $primary-border-color;
    background: #fff;
    border: 1px solid #a6a6a6;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
.p-multiselect.highlight {
    border-color: $primary-color;
}
.p-multiselect:not(.p-disabled):hover {
    border-color: $primary-color;
}
.p-multiselect:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: $primary-color;
}
.p-multiselect .p-multiselect-label {
    padding: 0.625rem 1rem;
    font-weight: 600;
    line-height: 18px;
}
.p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding: 0.3125rem 0.429rem;
}
.p-multiselect .p-multiselect-label.p-placeholder {
    color: $muted-text-color;
    font-weight: 600;
    line-height: 18px;
}
.p-multiselect-trigger-icon {
    color: $button-icon-color;
    transition: color 0.2s, transform 0.2s;
}
.p-multiselect-open .p-multiselect-trigger-icon {
    color: $primary-color;
    transform: rotate(180deg);
}
.p-multiselect.p-multiselect-chip .p-multiselect-token {
    background: $primary-color;
}
.p-multiselect-panel {
    border: none;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background: $primary-bg-color;
    color: $muted-text-color;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 0.75rem;
    color: $muted-text-color;
    font-weight: 600;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: none;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:enabled:hover {
    color: $primary-color;
}
.p-multiselect .p-multiselect-label {
    padding-right: 0;
}
.p-multiselect-panel .p-multiselect-header {
    position: relative;
    padding: 0.75rem;
    .clear-btn {
        position: absolute;
        right: 22px;
        color: $button-icon-color;
        display: none;
        z-index: 10;
        &:hover {
            color: $primary-color;
        }
        &.show {
            display: block;
        }
    }

    .all-mark {
        position: absolute;
        left: 40px;
        font-weight: 600;
        color: $muted-text-color;
    }
}
.p-multiselect-panel .p-multiselect-footer {
    position: relative;
    padding: 0.75rem;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    display: none;
}
.p-multiselect-panel .p-multiselect-footer {
    border-top: 1px solid $primary-border-color;
}
