@import 'variables';

.round-border.p-dropdown {
    border-radius: 20px;
}

.p-dropdown.p-dropdown-translate {
    border: none;
    .p-inputtext {
        padding: 0 8px;
    }
    .p-dropdown-panel {
        box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
        .p-dropdown-items {
            .p-dropdown-item {
                padding-left: 12px;
                padding-right: 12px;
                a:hover {
                    text-decoration: none;
                }
            }
            .p-dropdown-item.p-highlight {
                background: $secondary-border-color;
            }
        }
    }
    .p-dropdown-trigger {
        padding: 0;
        justify-content: flex-end;
    }
    .p-dropdown-label.p-placeholder {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: $brown-color !important;
        display: flex;
        align-items: center;
        padding: 0 8px;
        &:before {
            content: url(assets/images/translate.svg);
            margin-right: 4px;
            height: 21px;
        }
    }
}
