.p-paginator {
    background: $white;
    border: none;
}

.p-paginator.p-paginator-bottom {
    padding: 16px 0;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: transparent;
    color: $primary-color;
    border: none;
    font-size: $general-font-size;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    font-size: $general-font-size;
    color: $muted-text-color;
}

.p-paginator-first span,
.p-paginator-last span {
    border-radius: 1px;
    border: solid 1.5px $primary-color;
    padding: 8px 4px 7px 6px;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background: transparent;
    color: #747588;
}

.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    background: transparent;
}
