// Custom Theming for Prime Ng

@import '../variables';
@import 'primeicons';
@import 'nova';
@import 'primeng_dialog';
@import 'primeng_divider';
@import 'primeng_dropdown';
@import 'primeng_inputtext';
@import 'primeng_menu';
@import 'primeng_overlaypanel';
@import 'primeng_paginator';

// global
.p-component {
    font-family: $general-font-family;
    font-size: $general-font-size;
}

// sewn-form-field
.sewn-form-field {
    margin-bottom: 1rem;
    display: inline-flex;
    flex-direction: column;
    @media (min-width: 768px) {
        margin-bottom: 1.5rem;
    }
    label {
        color: $general-text-color;
        line-height: normal;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    .p-inputtext {
        padding: 0.9375rem 0.75rem;
        border-radius: 4px;
        width: 100%;
    }
    .p-dropdown .p-inputtext {
        padding-right: 0;
    }

    .p-dropdown {
        width: 100%;
    }
}

.custom-search {
    position: relative;
    &::before {
        content: '';
        background-image: url(assets/images/search.svg);
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
    }
    & > .p-inputtext {
        padding-left: 3.125rem;
    }
}
