.p-tabview .p-tabview-nav {
    border-radius: 0;
    border-bottom: 1px solid $primary-border-color;
    overflow-x: auto;
    overflow-y: visible;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
        height: 0;
    }
    &::-webkit-scrollbar-track {
        box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
        box-shadow: none;
    }
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    position: relative;
    flex: inherit !important;
    margin-right: 0px;
    margin-bottom: 0;
    transition: 0.4s ease-in-out;
    border: none;
    background-color: transparent;
    color: $general-text-color;
    font-weight: 500;
    white-space: nowrap;
    padding: 0 8px 9px 8px;
    @media (min-width: 768px) {
        padding: 0 16px 9px 16px;
    }
    @media (min-width: 992px) {
        padding: 0 24px 9px 24px;
    }

    &::before {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        text-align: center;
        margin: auto;
        transform: translate(-50%);
        border-radius: 41.5px;
        background-color: $primary-color;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }
    &:hover {
        text-decoration: none;
    }
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: transparent;
    color: $primary-color;
    &::before {
        width: 100%;
        opacity: 1;
    }
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}
.p-tabview .p-tabview-panels {
    border: none;
    padding: 0;
}

.p-tabview-title {
    line-height: normal !important;
}
