// Custom Theming for Prime Ng

@import '../variables';

// Checkbox
.p-checkbox {
    width: 18px;
    height: 18px;
}
.p-checkbox .p-checkbox-box {
    width: 18px;
    height: 18px;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: 12px;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: $primary-color;
    background: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: $primary-color;
    background: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
    border-color: $primary-color;
}
.p-checkbox-label {
    margin-bottom: 0;
    margin-left: 12px;
    color: $general-text-color;
}
.p-field-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    small {
        width: 100%;
    }
    & > label {
        width: calc(100% - 32px);
        margin-left: 0.75rem;
        line-height: 18px;
        * {
            line-height: 18px;
        }
    }
}
p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box {
    border-color: $error-border-color;
}

.dark {
    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: $dark-color;
        background: $dark-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: $dark-color;
        background: $dark-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        box-shadow: none;
        border-color: $dark-color;
    }
}
