// Custom Theming for Prime Ng

@import '../variables';
@import 'primeicons';
@import 'primeng_min';
@import 'nova';
@import 'primeng_dropdown';
@import 'primeng_tabview';

.custom-search {
    position: relative;
    &::before {
        content: '';
        background-image: url(assets/images/search.svg);
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
    }
    & > .p-inputtext {
        padding-left: 3.125rem;
    }
}
