.p-menu.p-menu-overlay {
    border: none !important;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
}
.p-menu .p-submenu-header {
    display: none;
}
.p-menu .p-menuitem-link {
    color: $muted-text-color !important;
    border-radius: 2px !important;
    padding: 0.75rem 2rem 0.75rem 0.75rem !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
}
.p-menu .p-menuitem-link .p-menuitem-text {
    color: $muted-text-color !important;
    line-height: normal;
}
.p-menu .p-menuitem-link:not(.p-disabled):hover {
    color: $general-text-color;
    background: $primary-bg-color;
}
.p-menu .p-menuitem-link:focus {
    box-shadow: none;
}

.p-menu.left-menu-actions {
    &.p-menu-overlay {
        top: calc(50% - 24px) !important;
        left: -200px !important;
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            right: -12px;
            top: 34px;
            box-sizing: border-box;
            border: 0.5em solid rgba(0, 0, 0, 0.25);
            border-color: transparent transparent #fff #fff;

            transform-origin: 0 0;
            transform: rotate(-135deg);

            box-shadow: -3px 3px 3px 0 rgb(0 0 0 / 8%);
        }
    }
}
