// Custom Theming for Prime Ng

@import '../variables';

// SelectButton
.p-selectbutton {
    display: inline-flex;
    border: solid 1px $primary-color;
    font-size: inherit !important;
    line-height: 1;
    padding: 2px;
    border-radius: 4px;
}

.p-selectbutton .p-button {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: $muted-text-color;
}

.p-buttonset .p-button:first-of-type,
.p-buttonset .p-button:last-of-type {
    border-radius: 4px !important;
}

.p-selectbutton .p-button.p-highlight {
    background: $primary-color;
    border-color: $primary-color;
}

.p-selectbutton .p-button:not(.p-state-disabled):not(.p-state-active):hover {
    background-color: $gray-color;
    border-color: $gray-color;
    color: #ffffff;
}

.select-layout {
    &.p-selectbutton {
        border: none;
        background: #f0f0f0;
        padding: 0;
        border-radius: 20px;

        .p-button {
            background: transparent;
            border: none;
            width: 40px;
            height: 40px;
            padding: 0;
            justify-content: center;
            border-radius: 20px !important;
            svg path {
                fill: $general-text-color;
            }
        }
        .p-button.p-highlight {
            background: $dark-color;
            svg path {
                fill: #fff;
            }
        }
        .p-button:not(.p-state-disabled):not(.p-state-active):hover {
            background: transparent;
            svg path {
                fill: $general-text-color;
            }
        }
        .p-button.p-highlight:not(.p-state-disabled):not(.p-state-active):hover {
            background: $dark-color;
            svg path {
                fill: #fff;
            }
        }
    }
}

.round-select {
    &.p-selectbutton {
        background: transparent;
        border-color: $primary-border-color;
        border-radius: 20px;
        padding: 1px;

        .p-button {
            background: transparent;
            border: none;
            width: 36px;
            height: 36px;
            padding: 0;
            justify-content: center;
            border-radius: 18px !important;
            color: $general-text-color;
        }
        .p-button.p-highlight {
            background: $primary-color;
            color: #fff;
        }
        .p-button:not(.p-state-disabled):not(.p-state-active):hover {
            background: transparent;
            color: $general-text-color;
        }
        .p-button.p-highlight:not(.p-state-disabled):not(.p-state-active):hover {
            background: $primary-color;
            color: #fff;
        }
    }
}

.p-selectbutton.p-selectbutton-prebook {
    .p-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

.p-selectbutton.p-selectbutton-milling-type {
    border: none;
    flex-wrap: wrap;
    .p-button {
        background-color: #f8f8f8;
        border-radius: 4px !important;
        border: solid 1px #d8d8d8 !important;
        color: #747588;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.57;
        margin-right: 12px;
        padding: 12px 22px;
        white-space: nowrap;
        margin-top: 12px;
        &.p-highlight {
            border: solid 1px #232334 !important;
            background-color: #f8f8f8;
            color: #232334;
        }
        &.p-disabled {
            opacity: 1;
        }
    }
}
