<div class="page-not-found">
    <div class="col-lg-12 col-md-12 welcome-sec">
        <div class="text-center pink">
            <img src="assets/images/network-error.svg" alt="welcome-illustration" class="error-image" />
            <h1 class="error-header">Whoops!</h1>
            <p class="error-sub-text">There seems to be a problem with your Network Connection</p>
            <!-- <p class="fnt-14 light-gray create-txt mb-4 "> Create roles and permissions and add your team members who will help you manage your workload!</p> -->
            <div class="text-center error-button">
                <button
                    type="button"
                    class="fnt-14 fnt-semi-bold add-tem-butn"
                    [routerLink]="['/features/estate-owner-dashboard']"
                >
                    Try again
                </button>
            </div>
        </div>
    </div>
</div>
