<div class="border-box" [ngClass]="!showAd ? '' : index === 4 ? 'no-border' : ''">
    <div class="pb-2">
        <div class="d-flex justify-content-between">
            <div class="flex-1">
                <app-user-header [prop]="question"></app-user-header>
            </div>
            <div class="mobile-dot d-none d-md-block">
                <app-forum-menu></app-forum-menu>
            </div>
        </div>
        <a [routerLink]="[getLink(question)]">
            <div
                class="fnt-16 fw-sb mt-4 c-p hover-underline"
                [class.mb-3]="!question?.categories"
                (click)="gotoDetailPage($event, question)"
                [innerHTML]="question?.question"
            ></div>
        </a>
        <div *ngIf="question?.categories" class="row mx-0 pt-4">
            <app-category-list [selectedType]="'qa-forum'" [categoryList]="question?.categories"></app-category-list>
        </div>
    </div>
</div>
<div *ngIf="index === 1 && !isDesktop$ && !searchPage" class="mt-4 mt-md-3">
    <app-join-community [pages]="pages" [type]="PostType.QA"></app-join-community>
</div>
