.border-box {
    border: solid 1px #d0d0d0 !important;
    border-radius: 14px;
}

.mobile-dot {
    @media (max-width: 480px) {
        display: flex;
        align-items: center;
    }
}

.align-like {
    .like-int {
        cursor: pointer;
        padding: 0 10.5px;
        border-radius: 50%;
        @media (min-width: 992px) {
            &:hover {
                background-color: rgba(48, 133, 92, 0.12);
            }
        }

        .like {
            position: relative;
            top: 6px;
            height: 22px;
        }
    }
    span {
        margin-top: 0.8rem;
    }
}
