@import 'variables';

.back-page {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    color: $brown-color !important;
    font-weight: 500;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none !important;

    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        padding: 8px !important;
        left: 0;
        top: -7px;
        background-image: url(assets/images/back-arrow1.svg);
        background-position: center;
        background-repeat: no-repeat !important;
        transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
        border-radius: 50%;
    }

    &:hover {
        color: $brown-color !important;
        text-decoration: underline !important;
        &::before {
            background-color: rgba(128, 70, 11, 0.14);
        }
    }
}

.main-block {
    background-color: $white;
    border-radius: 4px;
    padding: 0.5rem 0.5rem 1rem;
    min-height: 100vh;
    @media (min-width: 768px) {
        padding: 16px;
    }
    @media (min-width: 992px) {
        padding: 48px 48px 32px 48px;
    }
}

.fit-sm-screen {
    @media (max-width: 767px) {
        min-height: calc(100vh - (#{$mobile-header-height} + #{$mobile-page-pt} + #{$mobile-page-pb}));
    }
}

.full-width {
    margin: 0 -1rem;
    @media (min-width: 992px) {
        margin: 0 -3rem;
    }
}

.flex-1 {
    flex: 1;
}

.page-wrapper {
    background: $white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .background-header {
        padding: 11px 15px;
        border-radius: 4px;
        background-color: $primary-bg-color;
    }
}

.forum-content > div {
    p {
        margin-bottom: 0;
    }
    img {
        width: 100%;
        height: 276px;
        object-fit: cover;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

.h-fit-content {
    height: fit-content;
}

.w-fit-content {
    width: fit-content;
}

.w-min-content {
    width: min-content;
}

.empty-join-wrapper {
    width: 374px;
}

button.osano-cm-widget {
    display: none;
}
