@import 'variables';

.main-block {
    background-color: #fff;
    border-radius: 4px;
    padding: 0.5rem 0.5rem 1rem;
    @media (min-width: 768px) {
        padding: 16px;
    }
    @media (min-width: 992px) {
        padding: 32px 48px;
    }
}

.fit-sm-screen {
    @media (max-width: 767px) {
        min-height: calc(100vh - (#{$mobile-header-height} + #{$mobile-page-pt} + #{$mobile-page-pb}));
    }
}
.fa-star.checked {
    color: #ffc107;
}

span.star {
    margin-left: 2px;
    color: $invalid-color;
}

.back-page {
    position: relative;
    padding-left: 32px;
    font-size: 16px;
    color: $brown-color !important;
    font-weight: 600;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none !important;
    @media (min-width: 768px) {
        padding-left: 32px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        background-image: url('assets/images/back-arrow1.svg');
        background-size: cover;
        background-position: center;
        transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
        @media (min-width: 768px) {
            top: 0;
            width: 20px;
            height: 20px;
        }
    }
    &:hover {
        color: $brown-color !important;
        text-decoration: underline !important;
    }

    &.white {
        color: #fff !important;
        &::before {
            background-image: url('/assets/images/popup-back-arrow.svg');
        }
        &:hover {
            color: #fff !important;
        }
    }
}

.flex-1 {
    flex: 1;
}

.page-wrapper {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    .background-header {
        padding: 11px 15px;
        border-radius: 4px;
        background-color: $primary-bg-color;
    }
}

.forum-content > div {
    p {
        margin-bottom: 0;
    }
    img {
        width: 100%;
        height: 276px;
        object-fit: cover;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

.h-fit-content {
    height: fit-content;
}

.w-fit-content {
    width: fit-content;
}

.w-min-content {
    width: min-content;
}

.empty-join-wrapper {
    width: 374px;
}

.text-no-underline {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.translate-wrapper {
    @media (max-width: 767px) {
        display: none;
    }
    @media (min-width: 992px) and (max-width: 1280px) {
        display: none;
    }
}

.translate-mob-wrapper {
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
    @media (min-width: 992px) and (max-width: 1280px) {
        display: block;
    }
}

.seo-hidden {
    height: 0;
    width: 0;
    overflow: hidden;
}
