.fnt-play {
    font-family: 'Playfair Display', serif !important;
}

.fnt-mont {
    font-family: 'Muli', sans-serif;
}

.fnt-muli {
    font-family: 'Muli', sans-serif !important;
}

//////////////////// Font Color
.text-clr5d {
    color: #5d5d5d;
}

.text-clr588 {
    color: #747588 !important;
}

.text-clrb46 {
    color: #2c2b46;
}

.text-clrb1f {
    color: #e02f1f;
}

.text-clr-e5a {
    color: #ff1e5a;
}

.text-clr60b {
    color: #80460b;
}

.text-clr4d {
    color: #4d4d4d;
}

.text-clrab {
    color: #ababab;
}

.text-clr000 {
    color: #000000;
}

.text-clr334 {
    color: #333333;
}

.text-clr5d {
    color: #5d5d5d;
}

.text-clr55c {
    color: #30855c;
}

.text-clr60b {
    color: #80460b;
}

.text-clr334 {
    color: #232334 !important;
}

.text-clr97 {
    color: #979797;
}

.text-clr24 {
    color: #242424;
}

.text-clr02 {
    color: #020202;
}

.text-white {
    color: #ffffff;
}
.text-clr50a {
    color: #80450a;
}
.text-clr73c {
    color: #27273c;
}
.text-clr63 {
    color: #636363;
}

@media (min-width: 768px) {
    .text-md-clr334 {
        color: #232334 !important;
    }
}

.text-underline {
    text-decoration: underline;
}
