.fnt-play {
    font-family: 'Playfair Display', serif !important;
}

.fnt-muli {
    font-family: 'Muli', sans-serif !important;
}

//////////////////// Font Color

.text-clr588 {
    color: #747588 !important;
}

.text-clr55c {
    color: #30855c;
}

.text-clr60b {
    color: #80460b;
}

.text-clr334 {
    color: #232334 !important;
}

.text-clr24 {
    color: #242424;
}

.text-white {
    color: #ffffff;
}
