@import 'variables';

.fnt-head {
    font-family: $secondary-font-family !important;
}

//////////////////// Font Color
// text-brown
.tc-b {
    color: $brown-color;
}
// text-dark
.tc-d {
    color: $general-text-color !important;
}
// text-muted
.tc-m {
    color: $muted-text-color !important;
}
