/* header css */
.company-logo {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    height: 32px;
    & > img {
        width: auto;
        height: 100%;
    }
}

/* Mobile screen css for hedader start*/
@media (max-width: 767px) {
    header {
        position: relative;
        background-color: #ffffff;
    }
}
/* Mobile screen css for hedader end*/

@media (min-width: 768px) {
    .company-logo {
        margin-right: 24px;
        height: 36px;
    }
}

@media (min-width: 992px) {
    .company-logo {
        margin-left: 0;
        margin-right: 40px;
    }
}
