p-breadcrumb {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
.p-breadcrumb {
    border: none;
    padding: 0;
    width: max-content;
}
.p-breadcrumb ul li .p-menuitem-link.p-menuitem-link-active:hover {
    text-decoration: underline;
    color: $general-text-color;
    .p-menuitem-text {
        color: $general-text-color;
    }
}
.p-breadcrumb ul li .p-menuitem-link:focus {
    box-shadow: none;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
    color: $muted-text-color;
    font-size: 12px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
}
.p-breadcrumb ul li:last-child .p-menuitem-link .p-menuitem-text {
    color: $general-text-color;
}
.p-breadcrumb .pi-chevron-right::before {
    content: '\e932';
    font-size: 14px;
    color: $button-icon-color;
}
