.search-pad {
    padding: 16px;
    .search-bg {
        border-radius: 5px;
        background-color: #f8f6ef;
        padding: 32px;
    }
    .global-input {
        width: 50%;
    }
}

.search-lang {
    @media (min-width: 768px) {
        position: relative;
        top: 30px;
        z-index: 1;
    }
}
