<div class="search-pad main-block">
    <div class="search-bg">
        <div class="d-flex justify-content-between">
            <h1 class="fw-sb mt-0 mb-25 fnt-18">Search The Coffee Lab</h1>
            <i class="pi pi-times-circle tc-m c-p" (click)="onClose()"></i>
        </div>
        <div class="d-flex flex-column pb-3 pb-md-0">
            <div class="custom-search w-100">
                <input
                    type="text"
                    pInputText
                    [placeholder]="'search_the_coffee_lab' | translate"
                    [(ngModel)]="keyword"
                    class="global-input"
                    (ngModelChange)="handleSearch()"
                />
            </div>
            <span class="mt-25">Search results for "{{ keyword }}"</span>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-end search-lang pr-md-4">
            <div class="d-md-block d-none">
                <app-language-dropdown></app-language-dropdown>
            </div>
        </div>
        <div class="language-wrapper my-3 d-md-none">
            <app-language-dropdown></app-language-dropdown>
        </div>
    </div>

    <div *ngIf="!isLoading" class="px-md-4">
        <p-tabView
            styleClass="tabview-coffee-lab position-relative"
            (onChange)="onTabChange($event)"
            [(activeIndex)]="selectedTab"
        >
            <p-tabPanel header="{{ item.label | translate }}" *ngFor="let item of tabMenuItems">
                <div class="col-12 pr-2 pl-0" [ngClass]="item.postType === PostType.QA ? 'col-md-8' : 'col -md-12'">
                    <div class="row mb-475 mb-md-0">
                        <div class="fw-sb fnt-md-18 fnt-16 d-flex flex-column mb-25">
                            <span class="mb-35 mt-4 pl-4">{{ item.label | translate }}</span>
                            <ng-container *ngTemplateOutlet="filterDropdowns"></ng-container>
                        </div>
                    </div>
                    <div *ngIf="item.postType === PostType.QA">
                        <app-questions [questions]="searchResult?.questions"></app-questions>
                    </div>
                    <div *ngIf="item.postType === PostType.ARTICLE">
                        <app-articles [articles]="searchResult?.articles"></app-articles>
                    </div>
                    <div *ngIf="item.postType === PostType.RECIPE">
                        <app-recipes [recipes]="searchResult?.recipes"></app-recipes>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>

<ng-template #filterDropdowns>
    <div class="d-flex mb-md-4 ml-3">
        <div class="d-md-flex justify-content-md-between align-items-center pr-lg-2 flex-1">
            <div class="d-flex flex-md-row" [ngClass]="{ 'flex-column': selectedTab !== 0 }">
                <div class="col-auto pl-md-0">
                    <p-multiSelect
                        [options]="categoryList"
                        (onChange)="filterCategory()"
                        [(ngModel)]="selectedCategory"
                        styleClass="round-border"
                        [placeholder]="'categories' | translate"
                        [maxSelectedLabels]="1"
                        selectedItemsLabel="{0} {{ 'categories' | translate }}"
                        optionLabel="name"
                        optionValue="id"
                    ></p-multiSelect>
                </div>
                <div class="mb-md-0 mb-3 col-auto pl-md-0" *ngIf="selectedTab === 1">
                    <p-dropdown
                        [options]="translationsList"
                        optionLabel="label"
                        optionValue="value"
                        [(ngModel)]="isAvailableTranslation"
                        (onChange)="getArticles()"
                        placeholder="{{ 'translations_available' | translate }}"
                        styleClass="round-border"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="mb-md-0 mb-3 col-auto pl-md-0" *ngIf="selectedTab === 2">
                    <p-dropdown
                        [options]="translationsList"
                        optionLabel="label"
                        optionValue="value"
                        [(ngModel)]="isAvailableRecipeTranslation"
                        (onChange)="getRecipes()"
                        [placeholder]="'translation_available' | translate"
                        styleClass="round-border"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="col-auto pl-md-0" *ngIf="selectedTab === 0">
                    <p-dropdown
                        [options]="filterPostedByOptions"
                        optionLabel="label"
                        optionValue="value"
                        [(ngModel)]="filterBy"
                        (onChange)="getQuestions()"
                        styleClass="round-border text-clr588"
                        [placeholder]="'posted_by' | translate"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="col-auto pl-md-0">
                    <p-dropdown
                        [options]="sortOptions"
                        [(ngModel)]="selectedOrder"
                        (onChange)="filterSortBy()"
                        [placeholder]="'sort_by' | translate"
                        styleClass="round-border text-clr588"
                        optionLabel="label"
                        optionValue="value"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block empty-join-wrapper pl-lg-2"></div>
    </div>
</ng-template>
