.search-pad {
    padding: 16px;
    .search-bg {
        border-radius: 5px;
        background-color: #f8f6ef;
        padding: 32px;
        @media (max-width: 767px) {
            padding: 24px;
        }
    }
    .global-input {
        @media (min-width: 768px) {
            width: 50%;
        }
        width: 92%;
    }
}

.search-lang {
    @media (min-width: 768px) {
        position: relative;
        top: 30px;
        z-index: 1;
    }
}

.align-cross {
    position: relative;
    right: 25px;
    top: 2px;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    @media (max-width: 767px) {
        padding: 0 20px 9px 20px;
    }
}
