<div class="search-pad main-block">
    <div class="search-bg">
        <div class="d-flex justify-content-between">
            <h1 class="fw-sb mt-0 mb-25 fnt-18">{{ 'search_the_coffee_lab' | translate }}</h1>
            <i class="pi pi-times-circle tc-m c-p" (click)="onClose()"></i>
        </div>
        <div class="d-flex flex-column pb-3 pb-md-0">
            <div class="custom-search w-100">
                <!-- <span class="p-input-icon-right">
                     -->
                <input
                    type="text"
                    pInputText
                    [placeholder]="'search_the_coffee_lab' | translate"
                    [(ngModel)]="keyword"
                    class="global-input"
                    (ngModelChange)="handleSearch()"
                />
                <i *ngIf="keyword" class="pi pi-times tc-m c-p align-cross" (click)="keyword = ''; handleSearch()"></i>
                <!-- </span> -->
            </div>
            <span class="mt-25">{{ 'search_results_for' | translate }} "{{ keyword }}"</span>
        </div>
    </div>
    <div *ngIf="!isLoading && searchResult">
        <div class="d-flex justify-content-end pr-md-4">
            <div class="d-md-block d-none search-lang">
                <app-language-dropdown></app-language-dropdown>
            </div>
        </div>
        <div class="language-wrapper d-flex justify-content-end my-3 d-md-none">
            <app-language-dropdown></app-language-dropdown>
        </div>
    </div>

    <div *ngIf="!isLoading && searchResult" class="px-md-4">
        <p-tabView
            styleClass="tabview-coffee-lab position-relative"
            (onChange)="onTabChange($event)"
            [(activeIndex)]="selectedTab"
        >
            <p-tabPanel header="{{ item.label | translate }}" *ngFor="let item of tabMenuItems">
                <div class="row mb-475 mb-md-0">
                    <div class="fw-sb fnt-md-18 fnt-16 d-flex flex-column mb-25">
                        <span class="mb-35 mt-4 pl-4">{{ item.label | translate }}</span>
                        <ng-container
                            *ngTemplateOutlet="filterdropdown; context: { item: item.postType }"
                        ></ng-container>
                    </div>
                </div>
                <div class="col-12 pr-2 pl-0" [ngClass]="item.postType === PostType.QA ? 'col-md-8' : 'col -md-12'">
                    <div *ngIf="item.postType === PostType.QA">
                        <app-questions
                            [searchPage]="true"
                            [questions]="searchResult?.questions"
                            [pages]="page"
                            [rows]="rows"
                            [totalRecords]="searchResult?.qa_total_count"
                        ></app-questions>
                    </div>
                    <div *ngIf="item.postType === PostType.ARTICLE">
                        <app-articles
                            [articles]="searchResult?.articles"
                            [pages]="page"
                            [rows]="rows"
                            [totalRecords]="searchResult?.article_total_count"
                        ></app-articles>
                    </div>
                    <div *ngIf="item.postType === PostType.RECIPE">
                        <app-recipes
                            [recipes]="searchResult?.recipes"
                            [pages]="page"
                            [rows]="rows"
                            [totalRecords]="searchResult?.recipe_total_count"
                        ></app-recipes>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div
        *ngIf="
            !isLoading &&
            searchResult?.questions?.length === 0 &&
            searchResult?.articles?.length === 0 &&
            searchResult?.recipes?.length === 0
        "
        class="text-center my-4 text-clr24"
    >
        <app-empty [title]="'no_data_available' | translate"></app-empty>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>

<ng-template #filterdropdown let-item="item">
    <div class="d-flex mb-md-4 ml-md-45">
        <div class="d-md-flex justify-content-md-between align-items-center pr-lg-2 flex-1">
            <div class="row" [ngClass]="{ 'flex-md-row flex-column': selectedTab !== 0 }">
                <div class="col-auto pl-md-0 pl-45">
                    <p-multiSelect
                        [options]="categoryList"
                        (onChange)="filterCategory()"
                        [(ngModel)]="selectedCategory"
                        styleClass="round-border"
                        [placeholder]="'categories' | translate"
                        [maxSelectedLabels]="1"
                        selectedItemsLabel="{0} {{ 'categories' | translate }}"
                        optionLabel="name"
                        optionValue="id"
                    ></p-multiSelect>
                </div>
                <div class="col-auto pl-md-0 pl-45 mt-md-0 mt-3" *ngIf="item === PostType.RECIPE">
                    <p-dropdown
                        [options]="levels"
                        [(ngModel)]="level"
                        (onChange)="getRecipes()"
                        [placeholder]="'levels' | translate"
                        [showClear]="true"
                        styleClass="round-border {{ level ? 'highlight' : '' }}"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="mt-md-0 mt-3 col-auto pl-45 pl-md-0" *ngIf="item === PostType.ARTICLE">
                    <p-dropdown
                        [options]="translationsList"
                        optionLabel="label"
                        optionValue="value"
                        [(ngModel)]="isAvailableTranslation"
                        (onChange)="getArticles()"
                        placeholder="{{ 'translations_available' | translate }}"
                        styleClass="round-border"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="mt-md-0 mt-3 col-auto pl-45 pl-md-0" *ngIf="item === PostType.RECIPE">
                    <p-dropdown
                        [options]="translationsList"
                        optionLabel="label"
                        optionValue="value"
                        [(ngModel)]="isAvailableRecipeTranslation"
                        (onChange)="getRecipes()"
                        [placeholder]="'translation_available' | translate"
                        styleClass="round-border"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="col-auto pl-md-0" *ngIf="item === PostType.QA">
                    <p-dropdown
                        [options]="filterPostedByOptions"
                        optionLabel="label"
                        optionValue="value"
                        [(ngModel)]="filterBy"
                        (onChange)="getQuestions()"
                        styleClass="round-border text-clr588"
                        [placeholder]="'posted_by' | translate"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="col-auto pl-md-0 mt-3 mt-md-0 pl-45">
                    <p-dropdown
                        [options]="sortOptions"
                        [(ngModel)]="selectedOrder"
                        (onChange)="filterSortBy()"
                        [placeholder]="'sort_by' | translate"
                        styleClass="round-border text-clr588"
                        optionLabel="label"
                        optionValue="value"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block empty-join-wrapper pl-lg-2"></div>
    </div>
</ng-template>
