<div class="search-pad main-block">
    <div class="search-bg">
        <div class="d-flex justify-content-between">
            <h1 class="fw-sb mt-0 mb-25 fnt-18">{{ 'search_the_coffee_lab' | translate }}</h1>
            <i class="pi pi-times-circle tc-m c-p" (click)="onClose()"></i>
        </div>
        <div class="d-flex flex-column pb-3 pb-md-0">
            <div class="custom-search w-100">
                <!-- <span class="p-input-icon-right">
                     -->
                <input
                    type="text"
                    pInputText
                    [placeholder]="'search_the_coffee_lab' | translate"
                    [(ngModel)]="keyword"
                    class="global-input"
                    (ngModelChange)="handleSearch()"
                />
                <i *ngIf="keyword" class="pi pi-times tc-m c-p align-cross" (click)="keyword = ''; handleSearch()"></i>
                <!-- </span> -->
            </div>
            <span class="mt-25">{{ 'search_results_for' | translate }} "{{ keyword }}"</span>
        </div>
    </div>
    <div *ngIf="!isFirstLoading && searchResult">
        <div class="d-flex justify-content-end pr-md-4">
            <div class="d-md-block d-none search-lang">
                <app-language-dropdown></app-language-dropdown>
            </div>
        </div>
        <div class="language-wrapper d-flex justify-content-end my-3 d-md-none">
            <app-language-dropdown></app-language-dropdown>
        </div>
    </div>

    <div *ngIf="!isFirstLoading && searchResult" class="px-md-4">
        <p-tabView
            styleClass="tabview-coffee-lab position-relative"
            (onChange)="onTabChange($event)"
            [(activeIndex)]="selectedTab"
        >
            <p-tabPanel header="{{ item.label | translate }}" *ngFor="let item of tabMenuItems">
                <div class="row mb-475 mb-md-0">
                    <div class="fw-sb fnt-md-18 fnt-16 d-flex flex-column mb-25">
                        <span class="mb-35 mt-4 pl-4">{{ item.label | translate }}</span>
                        <ng-container
                            *ngTemplateOutlet="filterdropdown; context: { item: item.postType }"
                        ></ng-container>
                    </div>
                </div>
                <div class="col-12 pr-2 pl-0" [ngClass]="item.postType === PostType.QA ? 'col-md-8' : 'col-md-12'">
                    <ng-container *ngIf="!isLoading">
                        <div *ngIf="item.postType === PostType.QA">
                            <app-questions
                                [questions]="searchResult?.questions"
                                [searchPage]="true"
                                [pages]="page"
                                [rows]="rows"
                                [totalRecords]="searchResult?.qa_total_count"
                            ></app-questions>
                        </div>
                        <div *ngIf="item.postType === PostType.ARTICLE">
                            <app-articles
                                [articles]="searchResult?.articles"
                                [pages]="page"
                                [rows]="rows"
                                [totalRecords]="searchResult?.article_total_count"
                            ></app-articles>
                        </div>
                        <div *ngIf="item.postType === PostType.RECIPE">
                            <app-recipes
                                [recipes]="searchResult?.recipes"
                                [pages]="page"
                                [rows]="rows"
                                [totalRecords]="searchResult?.recipe_total_count"
                            ></app-recipes></div
                    ></ng-container>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div
        *ngIf="
            !isLoading &&
            searchResult?.questions?.length === 0 &&
            searchResult?.articles?.length === 0 &&
            searchResult?.recipes?.length === 0
        "
        class="text-center my-4 text-clr24"
    >
        <app-empty [title]="'no_data_available' | translate"></app-empty>
    </div>
</div>
<app-loading *ngIf="isFirstLoading || isLoading"></app-loading>

<ng-template #filterdropdown>
    <div class="d-flex mb-md-4 ml-md-45">
        <div class="d-md-flex justify-content-md-between align-items-center pr-lg-2 flex-1">
            <div class="row gutter-16 v-gutter-16">
                <div class="col-auto pl-md-0 pl-45 pr-2">
                    <p-multiSelect
                        [options]="categoryList"
                        (onChange)="getPosts()"
                        [(ngModel)]="selectedCategory"
                        styleClass="round-border"
                        [placeholder]="'categories' | translate"
                        [maxSelectedLabels]="1"
                        selectedItemsLabel="{0} {{ 'categories' | translate }}"
                        optionLabel="name"
                        optionValue="id"
                    ></p-multiSelect>
                </div>
                <div class="col-auto pl-0 pr-2" *ngIf="postType === PostType.RECIPE">
                    <p-dropdown
                        [options]="levels"
                        [(ngModel)]="level"
                        (onChange)="getPosts()"
                        [placeholder]="'levels' | translate"
                        [showClear]="true"
                        styleClass="round-border {{ level ? 'highlight' : '' }}"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div *ngIf="postType === PostType.QA" class="col-auto pr-2">
                    <p-dropdown
                        [options]="filterPostedByOptions"
                        [(ngModel)]="filterBy"
                        (ngModelChange)="getPosts()"
                        styleClass="round-border {{ filterBy ? 'highlight' : '' }}"
                        [placeholder]="'posted_by' | translate"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div *ngIf="postType === PostType.QA" class="col-auto pl-md-0 pl-45 pr-2">
                    <p-dropdown
                        [options]="sortOptions"
                        [(ngModel)]="sortBy"
                        (ngModelChange)="getPosts()"
                        [placeholder]="'sort_by' | translate"
                        styleClass="round-border {{ sortBy ? 'highlight' : '' }}"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div *ngIf="postType !== PostType.QA" class="col-auto pl-md-0 pl-45 pr-2">
                    <p-dropdown
                        [options]="translationsList"
                        [(ngModel)]="isAvailableTranslation"
                        (ngModelChange)="getPosts()"
                        placeholder="{{ 'translations_available' | translate }}"
                        styleClass="round-border {{ isAvailableTranslation ? 'highlight' : '' }}"
                        [showClear]="true"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div *ngIf="postType !== PostType.QA" class="col-auto pl-md-0 pl-45 pr-2">
                    <p-dropdown
                        [options]="orderList"
                        [placeholder]="'sort_by' | translate"
                        [(ngModel)]="selectedOrder"
                        (ngModelChange)="getPosts()"
                        [showClear]="true"
                        styleClass="round-border {{ selectedOrder ? 'highlight' : '' }}"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block empty-join-wrapper pl-lg-2"></div>
    </div>
</ng-template>
