<div class="more bg-f8">
    <div class="container pt-4 py-md-5">
        <div class="more-text fnt-head fw-sb mt-md-4 mb-3 mb-md-45 text-center">
            {{ 'more_on_the_coffee_lab' | translate }}
        </div>
        <div class="d-flex justify-content-center mt-md-25 mb-md-5 pb-md-3">
            <div class="d-flex sign-up px-md-5 bg-white align-items-center">
                <div class="fnt-18 mr-md-4 px-3 py-2">{{ 'sign_up_and_contribute_now' | translate }}</div>
                <button class="btn-raised mt-1 mt-md-0" (click)="onFocus()">
                    {{ 'sign_up' | translate }}
                </button>
            </div>
        </div>
        <article class="row mx-45">
            <div class="col-md-7 px-0 px-md-3">
                <div class="fnt-18 fw-b pb-25 background-header">
                    {{ 'recent_articles' | translate }}
                </div>
                <div *ngFor="let forum of relatedData" class="pb-4 pt-35">
                    <div class="d-flex pb-4 footer-border">
                        <a class="p-articles pr-2 c-p" [routerLink]="onRealtedRoute(forum.lang_code, forum.slug)">
                            <img
                                [lazyLoad]="forum?.cover_image_thumb_url"
                                src="assets/images/empty.svg"
                                [alt]="forum.title"
                            />
                        </a>
                        <a class="c-p d-flex flex-column" [routerLink]="onRealtedRoute(forum.lang_code, forum.slug)">
                            <p class="fw-sb fnt-16 cust-flex-grow mb-2 text-break">
                                {{ forum?.title }}
                            </p>
                            <p class="fw-m text-underline">
                                {{ forum?.user_name }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 px-0 px-md-3">
                <app-join-community [type]="PostType.QA" [showBorderBottom]="false"></app-join-community>
            </div>
        </article>
    </div>
</div>
