<div class="bg-white p-3 p-md-4 p-lg-5 d-flex flex-wrap">
    <div class="col-12 col-lg-8 p-0 pr-lg-3">
        <div class="custom-search">
            <input
                type="text"
                pInputText
                #searchInput
                [(ngModel)]="forumKeySearch"
                placeholder="Search QA Forum..."
                class="w-100"
            />
        </div>
        <div class="mt-3 mt-lg-45 p-3 py-md-45 px-lg-45 border-wrapper">
            <div class="d-flex align-items-center">
                <p-avatar
                    image="assets/images/user-sample.png"
                    pBadge
                    severity="success"
                    shape="circle"
                    styleClass="user-avatar"
                    [style.height]="'40px'"
                ></p-avatar>
                <p class="fnt-14 fnt-muli fnt-bold text-clr334 mb-0 px-3">{{ selectedData.author }}</p>
                <p class="fnt-12 fnt-muli fnt-normal text-clr588 mb-0">{{ selectedData.date }}</p>
            </div>
            <p class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 mb-0 pt-4 pt-md-3">{{ selectedData.title }}</p>
            <div class="mt-3 mt-md-4 fnt-14 fnt-muli fnt-bold text-clr60b text-center background-header">
                Showing 12 Comments
            </div>
            <p-accordion styleClass="p-accordion-forum mt-4 mt-md-45 mt-lg-4">
                <p-accordionTab *ngFor="let postItem of selectedData.items">
                    <ng-template pTemplate="header">
                        <div class="d-flex flex-wrap w-100">
                            <p-avatar
                                image="assets/images/user-sample.png"
                                pBadge
                                severity="success"
                                shape="circle"
                                styleClass="user-avatar"
                                [style.height]="'40px'"
                            ></p-avatar>
                            <div class="d-flex flex-column justify-content-between pl-3 flex-1">
                                <div class="d-flex justify-content-between mb-2">
                                    <div class="d-flex align-items-center">
                                        <p class="fnt-14 fnt-muli fnt-bold text-clr334 mb-0 pr-3">
                                            {{ postItem.author }}
                                        </p>
                                        <p class="fnt-12 fnt-muli fnt-normal text-clr588 mb-0">{{ postItem.date }}</p>
                                    </div>
                                    <i class="pi pi-ellipsis-h text-clr588 cursor-pointer"></i>
                                </div>
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <p class="fnt-12 fnt-muli fnt-bold text-clr588 mb-0 pr-2">
                                            {{ postItem.nickname }}
                                        </p>
                                        <p class="fnt-12 fnt-muli fnt-normal text-clr588 mb-0">{{ postItem.info }}</p>
                                    </div>
                                    <span class="fnt-14 fnt-muli fnt-bold text-clr60b pr-4 d-none d-md-block">
                                        <img src="assets/images/translate.svg" class="translate-icon" />
                                        Translated answer available
                                    </span>
                                </div>
                            </div>
                            <span
                                class="fnt-14 fnt-muli fnt-bold text-clr60b d-block d-md-none w-100 mt-3 translate-wrapper"
                            >
                                <img src="assets/images/translate.svg" class="translate-icon" />
                                Translated answer available
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">Body Content</ng-template>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="col-12 col-lg-4 p-0 pl-lg-3 mt-4 mt-lg-0">
        <div class="border-wrapper">
            <div class="m-1 fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 background-header">
                Recent discussions on forum
            </div>
            <div>
                <div *ngFor="let forum of data" class="forum-row">
                    <div
                        class="fnt-14 fnt-muli fnt-600 lh-normal forum-row-content"
                        (click)="this.selectedData = forum"
                    >
                        {{ forum.title }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
