.custom-search {
    input {
        border-color: #d6d6d6;
        padding-top: 9px;
        padding-bottom: 9px;
    }
}
.border-wrapper {
    border-radius: 4px;
    border: solid 1px #ebebeb;
}
.background-header {
    padding: 11px 15px;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.forum-row {
    padding: 24px 16px 0;
    .forum-row-content {
        padding-bottom: 24px;
        border-bottom: dashed 1px #d6d6d6;
        cursor: pointer;
        color: #154faa;
        text-decoration: underline;
    }
    &:last-child .forum-row-content {
        border-bottom: none;
    }
}

::ng-deep {
    .p-avatar.user-avatar {
        width: 40px;
        height: 40px;
        overflow: visible !important;
        .p-badge {
            width: 16px;
            height: 16px;
            border: solid 2px #ffffff;
            top: 6px;
            right: 6px;
        }
    }
}
