<div
    class="d-md-flex py-4 px-3 p-md-4 ads-border br-4 bg-f1"
    [class.mb-md-5]="!questionPage"
    [class.mb-4]="!questionPage"
>
    <div>
        <div class="fnt-14 fnt-md-20 fw-b mb-25">Grab it while it’s hot!</div>
        <div class="fnt-14 fnt-md-20 pr-md-5 mr-md-5">
            Ethically sourched coffee delivered straight at your doorstep
        </div>
    </div>
    <div class="d-flex align-items-center mt-3 mt-md-0">
        <a class="btn-raised" href="{{ env.publicWeb }}/shop/" target="_blank">Buy now</a>
    </div>
</div>
