<div class="d-flex p-4 border-main br-4 bg-f8 mb-5 mb-md-5">
    <div>
        <img src="" alt="" />
    </div>
    <div>
        <div class="fnt-24 fnt-md-32 fnt-bold fnt-muli text-clr334 mb-3">Get 15% off on your first purchase</div>
        <div class="fnt-18 fnt-md-24 fnt-500 fnt-muli text-clr334">
            Ethically sourched coffee delivered straight at your doorstep
        </div>
    </div>
    <div class="d-flex align-items-center">
        <button class="btn-raised">Buy now</button>
    </div>
</div>
