<div class="row mx-0">
    <div
        class="col-12 px-0 py-2 py-md-25 p-md-2 article-item-wrapper"
        *ngFor="let article of articles; let i = index; let isLast = last"
        [ngClass]="{
            'col-md-6': articles.length === 2,
            'd-none': isEraofWe && !article.is_era_of_we,
            'col-xl-4': articles.length > 2
        }"
    >
        <app-article-card [article]="article"></app-article-card>
    </div>
</div>
<div *ngIf="totalRecords" class="pt-3 pt-md-4 w-100">
    <app-paginator
        [rows]="rows"
        [totalRecords]="totalRecords"
        [page]="page"
        (pageChange)="paginate($event)"
    ></app-paginator>
</div>
