<p-toast position="bottom-center" key="translate" [baseZIndex]="5000" life="1000000" styleClass="translate-toast">
    <ng-template pTemplate="message">
        <div class="d-flex align-items-center p-md-45">
            <img
                *ngIf="language !== 'pt'"
                [src]="'assets/images/' + language + '-flag.svg'"
                alt="flag-image"
                class="flag-image"
            />
            <img
                *ngIf="language === 'pt'"
                [src]="'assets/images/brazil-flag.png'"
                class="flag-image"
                alt="flag-image"
            />
            <div class="pl-25 pl-md-4">
                <p class="fnt-18 fnt-md-24 fw-b lh-142 mb-2">
                    {{ 'you_now' | translate }} {{ language | language }}<span *ngIf="language === 'pt'">-BR </span>
                    {{ 'coffee_lab' | translate }}
                </p>
                <p class="lh-157">
                    {{ 'translated_description' | translate }}
                </p>
            </div>
        </div>
    </ng-template>
</p-toast>
