<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center w-100">
        <app-user-detail
            [imageUrl]="prop?.profile_image_thumb_url || prop?.profile_image_url || prop?.posted_user_profile_image_url"
            [name]="prop?.user_name || prop?.question_user || prop?.posted_user || prop?.first_name || 'Unknown User'"
            [userId]="prop?.user_id || prop?.posted_by"
            [orgType]="prop?.org_type || prop?.organisation_type || prop?.organization_type"
            size="40"
        ></app-user-detail>
        <div class="ml-25 flex-1">
            <div class="d-flex align-items-center mr-3 text-nowrap">
                <div [ngClass]="{ ellipsis: enableEllipsis }" class="fw-m mr-md-3 mr-1">
                    <span>
                        {{
                            prop?.user_name ||
                                prop?.question_user ||
                                prop?.posted_user ||
                                prop?.first_name ||
                                prop?.firstname ||
                                prop?.lastname ||
                                'Unknown User'
                        }}
                        {{ prop?.last_name }}
                    </span>
                </div>
            </div>
            <div class="tc-m mt-1 d-flex justify-content-md-between text-nowrap fw-m">
                <div>
                    <span class="mr-1" *ngIf="orgType !== 'co'">{{ 'coffee_experts' | translate }}</span>
                    <span class="mr-1" *ngIf="orgType === 'co'">{{ 'coffee_consumer' | translate }}</span>
                    <span class="ellipsis" *ngIf="orgType !== 'co'"
                        >@{{ orgType === 'sa' || !orgType ? 'Era of We' : orgType }}</span
                    >
                </div>
                <div
                    class="d-flex"
                    *ngIf="!isLandingPage && (prop?.question || prop?.answer || isArticleDetail || isRecipeDetail)"
                >
                    <!-- <span class="d-none d-md-block time-point"></span> -->
                    <span
                        class="text-clr588 d-none d-md-block position-relative"
                        [class.align-time]="prop.question"
                        [class.align-answerTime]="prop?.answer || isArticleDetail || isRecipeDetail"
                    >
                        {{ prop?.posted_at || prop?.created_at | amTimeAgo | dateAgoReplace: true }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <div *ngIf="prop?.question" class="text-clr588 d-none d-md-block time-text">
            {{ prop?.posted_at || prop?.created_at | date: 'mediumDate' }}
            {{ prop?.posted_at || prop?.created_at | amTimeAgo: true }}
        </div>
        <div *ngIf="total">
            <img src="assets/images/thumbs-up-button.svg" alt="thumbs-up-button" />
        </div>
    </div> -->
</div>
