<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center w-100">
        <div class="mr-25">
            <app-user-detail
                [imageUrl]="
                    prop?.profile_image_url || prop?.profile_image_thumb_url || prop?.posted_user_profile_image_url
                "
                [userId]="prop?.user_id || prop?.posted_by"
                [orgType]="prop?.org_type || prop?.organisation_type || prop?.organization_type"
                size="40"
            ></app-user-detail>
        </div>
        <div class="flex-1 overflow-hidden">
            <div class="d-flex align-items-center mr-3 text-nowrap">
                <div
                    [ngClass]="{ ellipsis: enableEllipsis }"
                    class="fnt-muli font-weight-bold fnt-14 text-clr24 mr-md-3 mr-1"
                >
                    {{ prop?.user_name || prop?.question_user || prop?.posted_user || 'Unknown User' }}
                </div>
            </div>
            <div class="fnt-12 fnt-muli text-clr588 mt-2 d-flex text-nowrap">
                <span class="font-weight-bold mr-2" *ngIf="orgType !== 'co'">{{ 'coffee_expert' | translate }}</span>
                <span class="font-weight-bold mr-2" *ngIf="orgType === 'co'">{{ 'end_user' | translate }}</span>
                <span class="ellipsis" *ngIf="orgType !== 'co'"
                    >@{{ orgType === 'sa' || !orgType ? 'Era of We' : orgType }}</span
                >
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="!total" class="fnt-muli fnt-12 text-clr588 time-text">
            {{ prop?.posted_at || prop?.created_at | amTimeAgo: true | dateAgoReplace }}
        </div>
        <div *ngIf="total">
            <img src="assets/images/thumbs-up-button.svg" alt="thumbs-up-button" />
        </div>
    </div>
</div>
