<div class="d-flex">
    <div class="mr-25">
        <app-user-detail
            [imageUrl]="
                prop?.profile_image_url ||
                prop?.profile_image_thumb_url ||
                prop?.posted_user_profile_image_url ||
                'assets/images/default-avatar.png'
            "
            [size]="40"
            [userId]="prop?.user_id || prop?.posted_by"
            [orgType]="prop?.organisation_type || prop?.org_type"
        >
        </app-user-detail>
    </div>
    <div>
        <div class="d-flex align-items-center mb-2">
            <div class="fnt-muli font-weight-bold fnt-14 text-clr24 mr-3">
                {{ prop?.user_name || prop?.question_user || prop?.posted_user || 'Unknown User' }}
            </div>
            <div class="fnt-muli fnt-12 text-clr588">
                {{ prop?.posted_at || prop?.created_at | amTimeAgo }}
            </div>
        </div>
        <div class="fnt-12 fnt-muli text-clr588">
            <span class="font-weight-bold mr-2">Coffee Expert</span>
            <span>@{{ prop?.organisation_name || prop?.company_name }}</span>
        </div>
    </div>
</div>
