<main class="p-2 p-md-3 p-lg-5 page-wrapper">
    <article class="col-12 col-lg-8 p-0 pr-lg-3">
        <app-search-forum></app-search-forum>
        <div class="mt-3 mt-lg-45 p-3 py-md-45 px-lg-45 border-main br-4">
            <div class="pb-3 pb-md-4 pb-lg-45">
                <img class="w-100 banner-image" [lazyLoad]="detailsData?.cover_image_url" />
                <h1 class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 pt-3 mb-2">
                    {{ detailsData?.title }}
                </h1>
                <h4 class="fnt-14 fnt-md-16 fnt-muli fnt-normal text-clr334 mb-0">
                    {{ detailsData?.subtitle }}
                </h4>
            </div>
            <div class="d-flex flex-wrap w-100">
                <p-avatar
                    [image]="detailsData?.profile_image_thumb_url || detailsData?.profile_image_url"
                    pBadge
                    severity="success"
                    shape="circle"
                    styleClass="user-avatar"
                ></p-avatar>
                <div class="d-flex flex-column justify-content-between pl-3 flex-1">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="d-flex align-items-center">
                            <p class="fnt-14 fnt-muli fnt-bold text-clr334 mb-0 pr-3">{{ detailsData?.user_name }}</p>
                            <p class="fnt-12 fnt-muli fnt-normal text-clr588 mb-0">
                                {{ detailsData?.posted_at || detailsData?.created_at | amTimeAgo }}
                            </p>
                        </div>
                        <div class="position-relative">
                            <p-menu
                                #menu
                                popup="popup"
                                [model]="getMenuItemsForItem({})"
                                styleClass="left-menu-actions"
                            >
                            </p-menu>
                            <i class="pi pi-ellipsis-h text-clr588 cursor-pointer" (click)="menu.toggle($event)"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="d-flex align-items-center">
                            <p class="fnt-12 fnt-muli fnt-bold text-clr588 mb-0 pr-2">Coffee Expert</p>
                            <p class="fnt-12 fnt-muli fnt-normal text-clr588 mb-0">
                                {{ detailsData?.organisation_name }}
                            </p>
                        </div>
                        <div class="d-none d-md-block" *ngIf="detailsData?.allow_translation">
                            <app-translation-dropdown
                                [translatedList]="detailsData?.translated_articles"
                            ></app-translation-dropdown>
                        </div>
                    </div>
                </div>
                <div
                    class="w-100 d-block d-md-none mt-3 py-3 pr-0 border-top-main border-bottom-main"
                    *ngIf="detailsData?.allow_translation"
                >
                    <app-translation-dropdown
                        [translatedList]="detailsData?.translated_articles"
                    ></app-translation-dropdown>
                </div>
            </div>
            <div class="answer-content pt-3 pt-md-4">
                <p class="fnt-muli fnt-14 fnt-normal text-clr334 lh-157 mb-0">
                    {{ detailsData?.content }}
                </p>
            </div>
        </div>
    </article>
    <article class="col-12 col-lg-4 p-0 pl-lg-3 mt-4 mt-lg-0">
        <div class="">
            <div class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 background-header">
                Related recipes on the cofee lab
            </div>
            <div class="d-none d-lg-block">
                <div *ngFor="let forum of relatedData" class="py-2">
                    <app-forum-card [data]="forum"></app-forum-card>
                </div>
            </div>
            <div class="d-block d-lg-none pt-3">
                <p-carousel [value]="relatedData" styleClass="p-carousel-forum" [numVisible]="1" [numScroll]="1">
                    <ng-template let-forum pTemplate="item">
                        <app-forum-card [data]="forum" forumType="recipe"></app-forum-card>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </article>
    <app-bottom-banner></app-bottom-banner>
</main>
