.page-wrapper {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    .custom-search {
        input {
            border-color: #d6d6d6;
            padding-top: 9px;
            padding-bottom: 9px;
        }
    }
    .border-wrapper {
        border-radius: 4px;
        border: solid 1px #ebebeb;
    }
    .background-header {
        padding: 11px 15px;
        border-radius: 4px;
        background-color: #f8f8f8;
    }

    .translate-wrapper {
        padding: 8px 0 8px 24px;
        border-top: solid 1px #ebebeb;
        border-bottom: solid 1px #ebebeb;
    }
}

::ng-deep {
    .p-avatar.user-avatar {
        width: 40px;
        height: 40px;
        overflow: visible !important;
        .p-badge {
            width: 16px;
            height: 16px;
            border: solid 2px #ffffff;
            top: 6px;
            right: 6px;
        }
    }
}
