<a [routerLink]="getLink(article)" class="text-non-underline">
    <div class="py-3 py-md-4 article-item" (click)="gotoDetailPage($event, article)">
        <div class="d-flex justify-content-betweenn px-4">
            <div class="flex-1 overflow-hidden">
                <app-user-header [prop]="article"></app-user-header>
            </div>
            <div class="btn-icon save" (click)="onFocus($event)"></div>
        </div>
        <div class="d-flex justify-content-center card-hght my-3">
            <img [lazyLoad]="article.cover_image_thumb_url" src="assets/images/empty.svg" [alt]="article.title" />
        </div>
        <div class="mx-4">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-like">
                    <div class="like-int" (click)="onFocus($event)">
                        <img class="cursor-point like" src="assets/images/thumbsup.svg" alt="thumbs-up" />
                    </div>
                    <!-- <span class="d-flex mb-05 fnt-300 ml-1 mr-2">{{ article?.likes }}</span> -->
                </div>
                <span class="fnt-semi-bold text-clr588 mt-2">{{
                    article?.posted_at || article?.created_at | date: 'longDate'
                }}</span>
            </div>
            <h3 class="fnt-bold lh-157 cursor-pointerer article-title-text mb-0">
                {{ article?.title?.length < 65 ? article?.title : article?.title.slice(0, 65).concat('...') }}
            </h3>
            <div class="lh-143 mt-2 mt-md-3">
                <span class="article-title-text">
                    {{ article?.subtitle }}
                </span>
            </div>
        </div>
    </div>
</a>
