<div class="d-flex p-1 p-md-4" [class.border-ads]="!hideBorder">
    <div [class.ads-image]="hideBorder" [class.image-ads]="!hideBorder">
        <img src="assets/images/product.png" alt="product" />
    </div>
    <div>
        <div class="fnt-md-32 fnt-24 fw-b mb-2 mb-md-25">Get 15% off</div>
        <div class="fnt-14 fnt-md-18">
            Sign up and get 15% off on you first purchase with Era of We. Don't miss out!
        </div>
        <a class="btn-raised mt-3 mt-md-4" href="{{ env.publicWeb }}/shop/" target="_blank">Buy now</a>
    </div>
</div>
