<h1 class="fnt-18 fnt-muli text-clr334 font-weight-bold d-block d-md-none mb-3" *ngIf="isMobile$ | async">
    {{ 'question_answers' | translate }}
</h1>

<div class="d-flex">
    <div class="flex-1 pr-lg-3">
        <app-publish-forum type="qa"></app-publish-forum>
    </div>
    <div class="empty-join-wrapper pl-lg-3 d-none d-lg-block">
        <div class="custom-search qa-forum-search d-none d-lg-block">
            <input
                class="w-100 fnt-16"
                [(ngModel)]="keyword"
                (ngModelChange)="getData()"
                type="text"
                pInputText
                [placeholder]="'search_qna_forum' | translate"
            />
        </div>
    </div>
</div>
<div class="mt-4 mt-lg-45">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="fnt-18 fnt-md-24 fnt-muli text-clr334 fnt-bold d-none d-md-block" *ngIf="!(isMobile$ | async)">
            {{ 'question_answers' | translate }}
        </h1>
        <div class="custom-search qa-forum-search d-block d-lg-none">
            <input
                class="w-100 fnt-16"
                [(ngModel)]="keyword"
                type="text"
                pInputText
                [placeholder]="'search_qna_forum' | translate"
            />
        </div>
    </div>
    <div class="d-flex">
        <div class="d-flex justify-content-between align-items-center mb-4 mb-lg-45 pr-lg-2 flex-1">
            <div>
                <p-dropdown
                    [options]="filterOptions"
                    [(ngModel)]="filterBy"
                    [showClear]="true"
                    (ngModelChange)="getData()"
                    styleClass="round-border text-clr588"
                    [placeholder]="'posted_by' | translate"
                    optionLabel="label"
                    optionValue="value"
                ></p-dropdown>
            </div>
            <div>
                <p-dropdown
                    [options]="sortOptions"
                    [(ngModel)]="sortBy"
                    (ngModelChange)="getData()"
                    styleClass="no-border no-padding text-clr588"
                    optionLabel="label"
                    optionValue="value"
                ></p-dropdown>
            </div>
        </div>
        <div class="d-none d-lg-block empty-join-wrapper pl-lg-2"></div>
    </div>
    <div *ngIf="!isLoading">
        <div class="d-flex">
            <div class="flex-1 pr-lg-2" [ngClass]="{ 'no-data': !questions.length }">
                <div class="row gutter-24">
                    <div
                        *ngFor="let question of questions; let i = index"
                        [ngClass]="{ 'col-12': viewMode === 'list', 'col-lg-6': viewMode === 'grid' }"
                    >
                        <div class="br-4 border-main mb-4 mb-md-3 mb-lg-4">
                            <div class="p-md-4 p-3">
                                <div class="d-flex justify-content-between">
                                    <div class="flex-1">
                                        <app-user-header [prop]="question"></app-user-header>
                                    </div>
                                    <div class="mobile-dot">
                                        <app-forum-menu></app-forum-menu>
                                    </div>
                                </div>
                                <a [routerLink]="[getLink(question, null).url]">
                                    <div
                                        class="fnt-muli fnt-16 fnt-md-18 font-weight-bold text-clr24 mt-4 cursor-pointer hover-underline"
                                        (click)="gotoDetailPage($event, question)"
                                        [innerHTML]="question?.question"
                                    ></div>
                                </a>
                                <button
                                    *ngIf="question.total_answers > 0"
                                    (click)="gotoDetailPage($event, question)"
                                    class="btn-f8 w-100 d-inline-block d-md-none mt-4"
                                >
                                    {{ 'see_all_answers' | translate }}
                                </button>
                            </div>
                            <div *ngIf="question.total_answers > 0" class="py-4 px-5 border-top-main d-none d-md-block">
                                <div
                                    *ngFor="let answer of question?.answers; let isLast = last"
                                    [ngClass]="{ 'border-bottom-dashed-primary': !isLast }"
                                    class="mb-4"
                                >
                                    <div class="mb-4">
                                        <app-user-header [prop]="answer"></app-user-header>
                                    </div>
                                    <div class="fnt-muli fnt-14 text-clr24 mb-4 lh-15">
                                        <span
                                            [innerHTML]="
                                                globalsService.getJustText(answer.answer)
                                                    | convertToShortDescription: 20
                                            "
                                        ></span>
                                    </div>
                                </div>
                                <button
                                    *ngIf="question.total_answers > 0"
                                    (click)="gotoDetailPage($event, question)"
                                    class="btn-f8 w-100"
                                >
                                    {{ 'see_all_answers' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="d-lg-none mb-4 mb-md-3" *ngIf="i === 1">
                            <app-join-community></app-join-community>
                        </div>
                    </div>
                    <app-json-ld [jsonLD]="jsonLD" *ngIf="jsonLD"></app-json-ld>
                </div>
                <div *ngIf="!isLoading && totalRecords" class="pt-3 pt-md-4 text-center">
                    <app-paginator
                        [rows]="rows"
                        [totalRecords]="totalRecords"
                        [page]="page"
                        (onPageChange)="paginate($event)"
                    ></app-paginator>
                </div>
                <div *ngIf="!isLoading && !questions.length" class="text-center my-4 fnt-muli text-clr24">
                    {{ 'no_data_is_available' | translate }}
                </div>
            </div>
            <div class="pl-lg-2 w-min-content d-none d-lg-block h-fit-content">
                <app-join-community></app-join-community>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
</div>
