<div class="custom-search qa-forum-search d-block d-lg-none mb-3">
    <input
        class="w-100 fnt-16"
        [(ngModel)]="keyword"
        type="text"
        pInputText
        [placeholder]="'search_qna_forum' | translate"
    />
</div>

<div class="d-flex position-relative">
    <div class="col-12 col-md-8 pr-2 pl-0" [ngClass]="{ 'no-data': !questions.length }">
        <div class="pb-4">
            <div class="row gutter-16 v-gutter-16">
                <div class="col-auto">
                    <p-multiSelect
                        [options]="categoryList"
                        (onChange)="getData()"
                        [(ngModel)]="selectedCategory"
                        styleClass="round-border {{ selectedCategory?.length ? 'highlight' : '' }}"
                        [placeholder]="'categories' | translate"
                        [maxSelectedLabels]="1"
                        selectedItemsLabel="{0} {{ 'categories' | translate }}"
                        optionLabel="name"
                        optionValue="parent_id"
                    ></p-multiSelect>
                </div>
                <div class="col-auto">
                    <p-dropdown
                        [options]="filterOptions"
                        [(ngModel)]="filterBy"
                        [showClear]="true"
                        (ngModelChange)="getData()"
                        styleClass="round-border {{ filterBy !== null ? 'highlight' : '' }}"
                        [showClear]="true"
                        [placeholder]="'posted_by' | translate"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="col-auto">
                    <p-dropdown
                        [options]="sortOptions"
                        [(ngModel)]="sortBy"
                        (ngModelChange)="getData()"
                        styleClass="round-border {{ sortBy ? 'highlight' : '' }}"
                        [showClear]="true"
                        [placeholder]="'sort_by' | translate"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>

        <app-questions
            *ngIf="!isLoading"
            [questions]="showAll ? questions : questions?.slice(0, 1)"
            [pages]="page"
            [rows]="rows"
            [totalRecords]="totalRecords"
        ></app-questions>

        <ngx-json-ld [json]="jsonLD"></ngx-json-ld>

        <div *ngIf="!isLoading && !questions.length" class="text-center my-4">
            {{ 'no_data_is_available' | translate }}
        </div>
    </div>

    <div *ngIf="isDesktop$" class="col-12 col-md-4 pl-3 pr-0 mx-auto w-min-content h-fit-content">
        <div class="mb-4">
            <div class="custom-search qa-forum-search">
                <input
                    class="w-100"
                    [(ngModel)]="keyword"
                    (ngModelChange)="getData()"
                    type="text"
                    pInputText
                    [placeholder]="'search_qna_forum' | translate"
                />
            </div>
        </div>
        <app-join-community [pages]="page" [type]="PostType.ARTICLE"></app-join-community>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
</div>
