<div class="row">
    <div class="col-12 col-md-7 pt-1 pt-md-0 pb-2 pb-md-0 pr-md-0 mb-2 mb-md-4">
        <app-publish-forum type="qa"></app-publish-forum>
    </div>
</div>

<div class="custom-search qa-forum-search d-block d-lg-none mb-3">
    <input
        class="w-100 fnt-16"
        [(ngModel)]="keyword"
        type="text"
        pInputText
        [placeholder]="'search_qna_forum' | translate"
    />
</div>

<div class="d-flex position-relative">
    <div class="col-12 col-md-7 px-0" [ngClass]="{ 'no-data': !questions.length }">
        <div class="d-flex pr-lg-2 mb-4">
            <!-- <div class="mr-3">
                                <p-dropdown
                                    [options]="filterOptions"
                                    [(ngModel)]="filterBy"
                                    [showClear]="true"
                                    (ngModelChange)="getData()"
                                    styleClass="round-border text-clr588"
                                    [placeholder]="'Categories'"
                                    optionLabel="label"
                                    optionValue="value"
                                ></p-dropdown>
                            </div> -->
            <p-dropdown
                [options]="filterOptions"
                [(ngModel)]="filterBy"
                [showClear]="true"
                (ngModelChange)="getData()"
                styleClass="round-border text-clr588 mr-3"
                [placeholder]="'posted_by' | translate"
                optionLabel="label"
                optionValue="value"
            ></p-dropdown>
            <p-dropdown
                [options]="sortOptions"
                [(ngModel)]="sortBy"
                (ngModelChange)="getData()"
                styleClass="round-border text-clr588"
                optionLabel="label"
                optionValue="value"
                styleClass="round-border"
                [placeholder]="'sort_by' | translate"
            ></p-dropdown>
        </div>
        <div class="row gutter-24">
            <div
                *ngFor="let question of questions; let i = index"
                [ngClass]="{ 'col-12': viewMode === 'list', 'col-lg-6': viewMode === 'grid' }"
            >
                <div class="border-box mb-4 mb-md-3 mb-lg-4">
                    <div class="p-md-4 p-3">
                        <div class="d-flex justify-content-between">
                            <div class="flex-1">
                                <app-user-header [prop]="question"></app-user-header>
                            </div>
                            <div class="mobile-dot d-none d-md-block">
                                <app-forum-menu></app-forum-menu>
                            </div>
                        </div>
                        <a [routerLink]="[getLink(question, null).url]">
                            <div
                                class="fnt-16 fnt-md-18 fnt-bold text-clr24 mt-4 cursor-pointer hover-underline"
                                (click)="gotoDetailPage($event, question)"
                            >
                                {{ question?.question }}
                            </div>
                        </a>
                    </div>
                    <app-like-divider [question]="question" [total]="question.total_answers"></app-like-divider>
                    <div
                        *ngIf="question.total_answers > 0"
                        class="pt-md-4 pb-md-0 py-3 pl-3 pl-md-5 pr-md-4 pr-3 border-top-main"
                    >
                        <div
                            *ngFor="let answer of question?.answers; let isLast = last; let ansInd = index"
                            [ngClass]="{ 'border-bottom-main': !isLast }"
                            class="mb-4"
                        >
                            <app-user-header [total]="question.total_answers" [prop]="answer"></app-user-header>
                            <div class="text-clr24 my-4 lh-15">
                                {{ answer?.answer | convertToShortDescription: 25 }}
                                <!-- <span
                                    *ngIf="answer?.show_full"
                                    [innerHTML]="globalsService.getJustText(answer?.answer)"
                                ></span>
                                <a
                                    *ngIf="
                                        wordCount(globalsService.getJustText(answer?.answer)).split(' ').length > 25 &&
                                        !answer?.show_full
                                    "
                                    (click)="showFullDesc(i, ansInd)"
                                    class="text-clr60b fnt-semi-bold ml-1"
                                    >{{ 'read_more' | translate }}</a
                                > -->
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="i === 1 && !isDesktop$" class="mb-4 mb-md-3">
                    <app-join-community [pages]="page" [type]="PostType.QA"></app-join-community>
                </div>
            </div>
            <ngx-json-ld [json]="jsonLD"></ngx-json-ld>
        </div>
        <div *ngIf="totalRecords" class="pt-3 pt-md-4 text-center">
            <app-paginator
                [rows]="rows"
                [totalRecords]="totalRecords"
                [page]="page"
                (pageChange)="paginate($event)"
            ></app-paginator>
        </div>
        <div *ngIf="!isLoading && !questions.length" class="text-center my-4 text-clr24">
            {{ 'no_data_is_available' | translate }}
        </div>
    </div>

    <div *ngIf="isDesktop$" class="col-12 col-md-4 px-0 mx-auto w-min-content h-fit-content">
        <div class="empty-join-wrapper mb-4">
            <div class="custom-search qa-forum-search">
                <input
                    class="w-100 fnt-16"
                    [(ngModel)]="keyword"
                    (ngModelChange)="getData()"
                    type="text"
                    pInputText
                    [placeholder]="'search_qna_forum' | translate"
                />
            </div>
        </div>
        <app-join-community [pages]="page" [type]="PostType.QA"></app-join-community>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
</div>
