.qa-forum-search {
    width: 100%;
    @media (max-width: 991px) {
        width: 263px;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}

.mobile-dot {
    @media (max-width: 480px) {
        display: flex;
        align-items: center;
    }
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-box {
    border: solid 1px #d0d0d0 !important;
    border-radius: 14px;
}

.border-btm {
    border-bottom: solid 1px #d8d8d8 !important;
}

.border-l8 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button-list {
    height: 34px;
    margin: 0 12px 0 0;
    padding: 8px 11px 8px 10px;
    border-radius: 4px;
    background-color: #eaeaea;
}

.like-box {
    background-color: #f1f1f1;
}
