@import 'variables';

::ng-deep {
    #loading {
        display: none !important;
    }

    .stricky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0px;
        z-index: 99;
        box-shadow: 0 12px 44px -10px rgb(143 51 11 / 10%);
    }

    // line height
    .lh-143 {
        line-height: 1.43;
    }
    .lh-15 {
        line-height: 1.5;
    }
    .lh-157 {
        line-height: 1.57;
    }

    // Font size
    $font-sizes: (
        12: 12px,
        14: 14px,
        16: 16px,
        18: 18px,
        20: 20px,
    );
    @each $size, $value in $font-sizes {
        .fnt-#{$size} {
            font-size: $value !important;
        }
    }
    @media (min-width: 768px) {
        @each $size, $value in $font-sizes {
            .fnt-md-#{$size} {
                font-size: $value !important;
            }
        }
    }

    .seo-hidden {
        height: 0;
        width: 0;
        overflow: hidden;
    }
}
