@import 'variables';

::ng-deep {
    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        font-family: $general-font-family;
        font-size: 0.875rem;
        font-weight: normal;
        line-height: normal;
        color: $general-text-color;
        text-align: left;
        background-color: $body-bg-color;
    }

    #loading {
        display: none !important;
    }

    // line height
    .lh-143 {
        line-height: 1.43;
    }
    .lh-15 {
        line-height: 1.5;
    }
    .lh-157 {
        line-height: 1.57;
    }

    // Font size
    $font-sizes: (
        12: 12px,
        14: 14px,
        16: 16px,
        18: 18px,
        20: 20px,
    );
    @each $size, $value in $font-sizes {
        .fnt-#{$size} {
            font-size: $value !important;
        }
    }
    @media (min-width: 768px) {
        @each $size, $value in $font-sizes {
            .fnt-md-#{$size} {
                font-size: $value !important;
            }
        }
    }

    .seo-hidden {
        height: 0;
        width: 0;
        overflow: hidden;
    }
}
