<div class="border-main br-4 p-3 forum-card-wrapper" (click)="onClick()">
    <img [lazyLoad]="data?.cover_image_url" class="w-100" />
    <div class="d-flex justify-content-between pt-3">
        <a class="fnt-muli fnt-14 fnt-bold text-clr334 lh-157 cursor-pointer forum-title-text">
            {{ data?.title }}
            <br />
            {{ data?.subtitle }}
        </a>
        <div class="position-relative">
            <p-menu #menu [popup]="true" [model]="getMenuItemsForItem({})" styleClass="left-menu-actions"> </p-menu>
            <i
                class="pi pi-ellipsis-h cursor-pointer text-clr588"
                (click)="$event.stopPropagation(); menu.toggle($event)"
            ></i>
        </div>
    </div>
    <div class="pt-3">
        <app-user-header [prop]="data"></app-user-header>
    </div>
</div>
