.forum-card-wrapper {
    height: 100%;
    .forum-title-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    & > img {
        height: 160px;
        object-fit: cover;
        @media (max-width: 767px) {
            height: 180px;
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
    }
    @media (max-width: 991px) {
        width: 374px;
    }

    @media (max-width: 767px) {
        width: 247px;
    }
}
