<div class="main-block">
    <div *ngIf="!queryUserId">
        <div class="mb-4 d-block d-md-none">
            <a class="back-page" (click)="location.back()">
                {{ 'back' | translate }}
            </a>
        </div>
    </div>
    <div *ngIf="queryUserId" class="mb-4">
        <a class="back-page" (click)="location.back()">
            {{ 'back' | translate }}
        </a>
    </div>

    <div data-aos="fade-up">
        <div *ngIf="!queryUserId" class="row">
            <div class="col-md-6 mb-4">
                <div class="text-clr24 mb-2 mb-md-25 fnt-16 fnt-md-18 font-weight-bold">
                    {{ 'my_profile' | translate }}
                </div>
                <div class="text-clr588 fnt-600 fnt-md-500">
                    {{ 'enter_personal_detail_text' | translate }}
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading">
            <div>
                <div class="row gutter-16">
                    <div class="col-md-6 col-lg-4">
                        <div class="d-none d-md-block">
                            <div class="avatar-name-container mb-45">
                                <div>
                                    <img
                                        *ngIf="!previewUrl"
                                        src="assets/images/default-avatar.png"
                                        alt="icon"
                                        width="90"
                                        height="90"
                                    />
                                    <img *ngIf="previewUrl" [src]="previewUrl" alt="icon" width="90" height="90" />
                                </div>
                                <div class="text-clr24 fnt-16 font-weight-bold profile-name">
                                    {{ profileInfo?.firstname + ' ' + profileInfo?.lastname }}
                                </div>
                            </div>
                            <div *ngIf="!queryUserId">
                                <div class="px-0 px-md-3">
                                    <div class="d-flex align-items-center px-0 px-md-1">
                                        <img class="mr-4" src="assets/images/icon-email.svg" alt="icon" />
                                        <div class="w-100 text-clr24 py-3 border-bottom-dashed-primary">
                                            {{ profileInfo?.email || 'Not provided' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="px-0 px-md-3">
                                    <div class="d-flex align-items-center px-0 px-md-1">
                                        <img class="mr-4" src="assets/images/icon-phone.svg" alt="icon" />
                                        <div class="w-100 text-clr24 py-3 border-bottom-dashed-primary">
                                            {{ profileInfo?.phone || 'Not provided' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="px-0 px-md-3">
                                    <div class="d-flex align-items-center px-0 px-md-1">
                                        <img class="mr-4" src="assets/images/icon-birthday.svg" alt="icon" />
                                        <div class="w-100 text-clr24 py-3">
                                            {{ (profileInfo?.date_of_birth | date: 'dd/MM/yyyy') || 'Not provided' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <div class="right-container">
                            <div class="d-none d-md-block">
                                <div>
                                    <div class="text-clr24 fnt-18 font-weight-bold mb-2">About</div>
                                    <div *ngIf="profileInfo?.about_me" class="text-clr24 fnt-16">
                                        {{ profileInfo?.about_me }}
                                    </div>
                                    <div *ngIf="!profileInfo?.about_me" class="text-clr588">
                                        Edit your profile to and tell us something about yourself
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Info Area for mobile start -->
        <div class="d-block d-md-none">
            <div class="py-4 text-center border-top-dashed-primary border-bottom-dashed-primary">
                <div class="mb-2">
                    <img
                        *ngIf="!previewUrl"
                        src="assets/images/default-avatar.png"
                        class="avatar-img"
                        alt="icon"
                        width="90"
                        height="90"
                    />
                    <img *ngIf="previewUrl" [src]="previewUrl" class="avatar-img" alt="icon" width="90" height="90" />
                </div>
                <div class="text-clr24 fnt-16 font-weight-bold profile-name">
                    {{ profileInfo?.firstname + ' ' + profileInfo?.lastname }}
                </div>
            </div>

            <div class="py-4 text-clr588 border-bottom-dashed-primary">
                <div class="text-clr24 mb-2 font-weight-bold">About</div>
                <div *ngIf="profileInfo?.about_me" class="text-clr588">
                    {{ profileInfo?.about_me }}
                </div>
                <div *ngIf="!profileInfo?.about_me" class="text-clr588">
                    Edit your profile to and tell us something about yourself
                </div>
            </div>

            <div *ngIf="!queryUserId" class="py-3">
                <div class="px-0 px-md-3">
                    <div class="d-flex align-items-center px-0 px-md-1">
                        <img class="mr-4" src="assets/images/icon-email.svg" alt="icon" />
                        <div class="w-100 text-clr24 py-3 font-weight-bold">
                            {{ profileInfo?.email || 'Not provided' }}
                        </div>
                    </div>
                </div>
                <div class="px-0 px-md-3">
                    <div class="d-flex align-items-center px-0 px-md-1">
                        <img class="mr-4" src="assets/images/icon-phone.svg" alt="icon" />
                        <div class="w-100 text-clr24 py-3 font-weight-bold">
                            {{ profileInfo?.phone || 'Not provided' }}
                        </div>
                    </div>
                </div>
                <div class="px-0 px-md-3">
                    <div class="d-flex align-items-center px-0 px-md-1">
                        <img class="mr-4" src="assets/images/icon-birthday.svg" alt="icon" />
                        <div class="w-100 text-clr24 py-3 font-weight-bold">
                            {{ (profileInfo?.date_of_birth | date: 'dd/MM/yyyy') || 'Not provided' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom-dashed-primary"></div>
        </div>
        <!-- Profile Info Area for mobile end -->
    </div>
</div>
