@import 'variables';

.banner-overlay {
    margin-top: -70px;
    z-index: 1;
    @media (min-width: 992px) {
        margin-top: -170px;
    }
}

.coffee-lab-menu {
    width: 100%;
    height: 54px;
}

.avatar-name-container {
    img {
        border-radius: 50%;
    }
    .pi-map-marker {
        color: #a88057;
    }
}

::ng-deep {
    .p-tabview {
        &.tabview-coffee-lab {
            .p-tabview-nav {
                background: $primary-bg-color;
                border: none !important;
                @media (max-width: 767px) {
                    background: $white;
                }
                li {
                    margin-right: 0;
                    .p-tabview-nav-link {
                        padding: 11px 16px !important;
                        img {
                            display: inline-block;
                            &.active-icon {
                                display: none;
                            }
                        }
                    }
                    &.p-highlight .p-tabview-nav-link,
                    &:hover .p-tabview-nav-link {
                        img {
                            display: none;
                            &.active-icon {
                                display: inline-block;
                            }
                        }
                    }
                    @media (max-width: 767px) {
                        flex: 1;
                        border-bottom: solid 1px #d6d6d6;
                        .p-tabview-nav-link {
                            padding: 10px !important;
                            justify-content: center;
                        }
                        &:first-child {
                            border-bottom-left-radius: 4px;
                        }
                        &:nth-child(6) {
                            border-bottom-right-radius: 4px;
                        }
                    }
                }
                @media (max-width: 767px) {
                    border-bottom: none;
                }
            }
            .p-tabview-panel {
                padding-top: 24px;
                @media (min-width: 758px) {
                    padding-top: 32px;
                }
            }
        }
    }
}

.banner-container {
    position: relative;
    height: 160px;
    @media (min-width: 768px) {
        height: 274px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .edit-btn-group {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}

.btn-trans-icon.message-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px 10px 7px 10px;
    border: solid 1px $general-text-color;
    border-radius: 8px;
    background: $white;
    &::before {
        margin-right: 0;
    }
}

.write-post-btn {
    @media (min-width: 768px) {
        position: absolute;
        right: 0;
        top: -4px;
    }
}
