<div class="d-block d-lg-flex flex-wrap">
    <div class="row gutter-16">
        <div class="col-12 col-md-6 mb-3" *ngFor="let article of data">
            <a
                class="text-non-underline"
                [routerLink]="'/' + article.language + '/articles/' + article.slug"
                [queryParams]="{ is_public: true }"
            >
                <div class="border-main br-4 p-3 py-md-4 px-lg-4 article-item">
                    <div class="d-flex justify-content-between">
                        <div class="flex-1 overflow-hidden">
                            <div class="d-flex align-items-center w-100">
                                <img
                                    [src]="article?.profile_image_thumb_url || article?.profile_image_url"
                                    [alt]="article?.user_name + 'profile image'"
                                    class="mr-25 profile-image"
                                />
                                <div class="flex-1 overflow-hidden">
                                    <div class="d-flex align-items-center mr-3 text-nowrap">
                                        <div class="ellipsis fnt-muli font-weight-bold fnt-14 text-clr24 mr-md-3 mr-1">
                                            {{ article?.user_name }}
                                        </div>
                                    </div>
                                    <div class="fnt-12 fnt-muli text-clr588 mt-2 d-flex text-nowrap">
                                        <span class="font-weight-bold mr-2">Coffee Here</span>
                                        <span class="ellipsis">@ Era of We</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-forum-menu></app-forum-menu>
                    </div>
                    <img [src]="article.cover_image_url" class="br-4 w-100 my-3 my-md-4" />
                    <div class="fnt-muli fnt-14 fnt-bold lh-157 text-clr334 cursor-pointer article-title-text">
                        {{ article?.title }}
                    </div>
                    <div class="fnt-muli fnt-14 fnt-normal lh-143 text-clr334 mt-3">
                        <a class="article-title-text">
                            {{ article?.subtitle }}
                        </a>
                        <p class="brown-cta mb-0 pt-2">{{ 'read_more' | translate }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
