<div class="d-block d-lg-flex flex-wrap">
    <h1 class="d-none">Era of We - About Era of We</h1>
    <div class="row gutter-16">
        <div
            class="col-12 col-xl-4 mb-3 article-item-wrapper"
            *ngFor="let article of data"
            [ngClass]="{ 'col-md-6': article.cardType !== 'joinCard' }"
        >
            <a class="text-non-underline" (click)="openArticle(article)" *ngIf="article.cardType !== 'joinCard'">
                <div class="py-3 py-md-4 article-item">
                    <div class="d-flex justify-content-between px-4">
                        <div class="flex-1 overflow-hidden">
                            <div class="d-flex align-items-center w-100">
                                <app-avatar
                                    [src]="article?.profile_image_thumb_url || article?.profile_image_url"
                                    size="40"
                                    [name]="article?.user_name"
                                ></app-avatar>
                                <div class="flex-1 overflow-hidden ml-25">
                                    <div class="d-flex align-items-center mr-3 text-nowrap">
                                        <div class="ellipsis fnt-muli font-weight-bold fnt-14 text-clr24 mr-md-3 mr-1">
                                            {{ article?.user_name }}
                                        </div>
                                    </div>
                                    <div class="fnt-12 fnt-muli text-clr588 mt-2 d-flex text-nowrap">
                                        <span class="font-weight-bold mr-2">Coffee expert</span>
                                        <span class="ellipsis">@ Era of We</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <app-forum-menu></app-forum-menu> -->
                        <div class="icon-save hover-save-icon">
                            <img (click)="onFocus()" class="cursor-point" src="assets/images/save.svg" alt="save" />
                        </div>
                    </div>
                    <img [src]="article.cover_image_url" class="w-100 my-3" [alt]="article?.title + ' cover image'" />
                    <div class="mx-4">
                        <div class="fnt-muli fnt-14 fnt-bold lh-157 text-clr334 cursor-pointer article-title-text">
                            {{ article?.title }}
                        </div>
                        <div class="fnt-muli fnt-14 fnt-normal lh-143 text-clr334 mt-3">
                            <a class="article-title-text">
                                {{ article?.subtitle }}
                            </a>
                        </div>
                    </div>
                </div>
            </a>
            <!-- <app-join-community *ngIf="article.cardType === 'joinCard'"></app-join-community> -->
        </div>
    </div>
</div>
