@import 'variables';

.layout-wrap {
    min-height: calc(100vh + 1px);
}
.nav-top1 {
    display: flex;
    align-items: center;
    height: $mobile-header-height;
    @media (min-width: 768px) {
        height: $tablet-header-height;
    }
    @media (min-width: 992px) {
        height: $desktop-header-height;
    }
}

.sidenav-hamberg {
    img {
        width: 24px;
        height: 24px;
    }
}

.router-design {
    background-color: #f1f1f1;
    padding-top: calc(#{$mobile-header-height + $mobile-page-pt});
    padding-bottom: 16px;
    @media (min-width: 768px) {
        padding-top: calc(#{$tablet-header-height + $tablet-page-pt});
    }
    @media (min-width: 992px) {
        padding-top: calc(#{$desktop-header-height + $desktop-page-pt});
        padding-bottom: $desktop-page-pb;
    }
}

.p-overlaypanel-content {
    padding: 4px !important;
}

.under-mark {
    font-size: 14px;
    font-weight: bold;
    color: #80460b;
    text-decoration: underline;
}

.protect-wrapper {
    margin-top: 100px;
    margin-left: 32px;
}
