<header class="stricky">
    <nav class="bg-white nav-top1">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="d-md-block">
                    <a class="sidenav-hamberg d-lg-none" (click)="openSideNav()">
                        <img src="assets/images/hamberg.svg" alt="hamberg" class="d-md-none" />
                        <img src="assets/images/hamberg-tablet.svg" alt="hamberg" class="d-none d-md-inline-block" />
                    </a>
                    <a class="company-logo d-inline-block" [routerLink]="['/']">
                        <img src="assets/images/era-we-black.svg" [alt]="glogbalService.logoAlt" />
                    </a>
                </div>
                <a [href]="ssoWeb + '/login'" class="btn-raised ml-auto" [rel]="isStaging ? 'nofollow' : ''">{{
                    'login' | translate
                }}</a>
            </div>
        </div>
    </nav>
</header>

<ng-container *ngIf="isMatched; else protectWrapper">
    <div class="layout-wrap">
        <div class="container">
            <div class="router-design">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</ng-container>

<ng-template #protectWrapper>
    <div class="protect-wrapper">
        <input
            pInputText
            type="password"
            [(ngModel)]="password"
            (ngModelChange)="onCheckPassword()"
            placeholder="Please input password"
        />
        <div class="d-none">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>
