@import 'variables';

.layout-wrap {
    min-height: calc(100vh + 1px);
}

header {
    @media (max-width: 767px) {
        position: relative;
        background-color: #ffffff;
    }

    .nav-top1 {
        display: flex;
        align-items: center;
        height: $mobile-header-height;
        @media (min-width: 768px) {
            height: $tablet-header-height;
        }
        @media (min-width: 992px) {
            height: $desktop-header-height;
        }

        .sidenav-hamberg {
            img {
                display: block;
                width: 24px;
                height: 24px;
            }
        }

        .company-logo {
            margin-left: 16px;
            margin-right: 16px;

            @media (min-width: 768px) {
                margin-right: 24px;
            }

            @media (min-width: 992px) {
                margin-left: 0;
                margin-right: 40px;
            }
            & > img {
                display: block;
                width: 94px;
                height: 32px;
                object-fit: contain;
                object-position: center;
                @media (min-width: 768px) {
                    width: 106px;
                    height: 36px;
                }
            }
        }
    }
}

.router-design {
    background-color: #f1f1f1;
    padding-top: calc(#{$mobile-header-height + $mobile-page-pt});
    padding-bottom: 16px;
    @media (min-width: 768px) {
        padding-top: calc(#{$tablet-header-height + $tablet-page-pt});
    }
    @media (min-width: 992px) {
        padding-top: calc(#{$desktop-header-height + $desktop-page-pt});
        padding-bottom: $desktop-page-pb;
    }
}

.protect-wrapper {
    margin-top: 100px;
    margin-left: 32px;
}
