<div class="p-3 p-md-4 p-lg-5 page-wrapper">
    <div class="col-12 col-lg-8 p-0 pr-lg-3">
        <app-search-forum></app-search-forum>
        <div class="mt-3 mt-lg-45 p-3 py-md-45 px-lg-45 border-wrapper">
            <div class="d-flex flex-wrap w-100">
                <p-avatar
                    image="assets/images/user-sample.png"
                    pBadge
                    severity="success"
                    shape="circle"
                    styleClass="user-avatar"
                    [style.height]="'40px'"
                ></p-avatar>
                <div class="d-flex flex-column justify-content-between pl-3 flex-1">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="d-flex align-items-center">
                            <p class="fnt-14 fnt-muli fnt-bold text-clr334 mb-0 pr-3">Gabriel Match</p>
                            <p class="fnt-12 fnt-muli fnt-normal text-clr588 mb-0">2 days ago</p>
                        </div>
                        <div class="position-relative">
                            <p-menu
                                #menu
                                popup="popup"
                                [model]="getMenuItemsForItem({})"
                                styleClass="left-menu-actions"
                            >
                            </p-menu>
                            <i class="pi pi-ellipsis-h text-clr588 cursor-pointer" (click)="menu.toggle($event)"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="d-flex align-items-center">
                            <p class="fnt-12 fnt-muli fnt-bold text-clr588 mb-0 pr-2">Coffee Expert</p>
                            <p class="fnt-12 fnt-muli fnt-normal text-clr588 mb-0">@Third wave coffee roaster</p>
                        </div>
                        <div class="d-none d-md-block">
                            <app-translation-dropdown></app-translation-dropdown>
                        </div>
                    </div>
                </div>
                <div class="w-100 d-block d-md-none mt-3 translate-wrapper">
                    <app-translation-dropdown></app-translation-dropdown>
                </div>
            </div>
            <div class="answer-content pt-4 pt-lg-45">
                <p class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 mb-0">
                    Vegan White Chocolate Cappuccino Fudge
                </p>
                <img class="my-3 w-100" src="assets/images/article-bg-sample.png" />
                <div class="recipe-info-wrapper">
                    <div class="recipe-info-item" *ngFor="let recipeInfo of infoData">
                        <div>
                            <img [src]="recipeInfo.icon" />
                        </div>
                        <div class="pl-2">
                            <label class="fnt-muli fnt-14 fnt-normal text-clr63 mb-0">{{ recipeInfo.label }}</label>
                            <p class="fnt-muli fnt-18 fnt-bold lh-normal text-clr334 mb-0 pt-2 pt-md-3">
                                {{ recipeInfo.value }}
                            </p>
                        </div>
                    </div>
                </div>
                <p class="fnt-muli fnt-14 fnt-normal text-clr334 lh-157 pt-3 mb-4">
                    Our easy whipped coffee recipe is simple enough to make at home. This frothy drink, known as dalgona
                    coffee, might just be your new favourite caffeine kic
                </p>
                <div>
                    <p class="fnt-muli fnt-14 fnt-bold text-clr33 lh-1574 mb-3">Ingredients</p>
                    <div class="ingredients-wrapper">
                        <div class="ingredients-item" *ngFor="let ingredientsItem of ingredientsData">
                            <label class="fnt-muli fnt-14 fnt-normal text-clr63 mb-0">{{
                                ingredientsItem.label
                            }}</label>
                            <label class="fnt-muli fnt-14 fnt-bold text-clr334 mb-0">{{ ingredientsItem.value }}</label>
                        </div>
                    </div>
                </div>
                <div class="mt-45">
                    <p class="fnt-muli fnt-14 fnt-bold text-clr334 lh-157 mb-2">Directions</p>
                    <div>
                        <p class="fnt-muli fnt-14 fnt-600 text-clr334 lh-157 mb-1">Step 1:</p>
                        <p class="fnt-muli fnt-14 fnt-600 text-clr334 lh-157 mb-0">
                            Whisk the coffee, sugar and 3 tbsp boiling water in a bowl for approximately 5 mins until
                            the mixture is thick and fluffy with stiff peaks. This is easiest done using an electric
                            whisk but can be done by hand.
                        </p>
                        <img class="my-3 w-100" src="assets/images/article-bg-sample.png" />
                    </div>
                    <div>
                        <p class="fnt-muli fnt-14 fnt-600 text-clr334 lh-157 mb-1">Step 2:</p>
                        <p class="fnt-muli fnt-14 fnt-600 text-clr334 lh-157 mb-0">
                            For hot coffee, heat the milk and pour into two heatproof glasses. For cold coffee, pour the
                            cold milk into two glasses. Divide the coffee mixture in half and spoon evenly on top of the
                            glasses. Serve and stir thoroughly before drinking.
                        </p>
                    </div>
                    <div class="mt-3">
                        <p class="fnt-muli fnt-14 fnt-600 text-clr334 lh-157 mb-1">Step 3:</p>
                        <p class="fnt-muli fnt-14 fnt-600 text-clr334 lh-157 mb-0">
                            For hot coffee, heat the milk and pour into two heatproof glasses. For cold coffee, pour the
                            cold milk into two glasses. Divide the coffee mixture in half and spoon evenly on top of the
                            glasses. Serve and stir thoroughly before drinking.
                        </p>
                        <img class="my-3 w-100" src="assets/images/article-bg-sample.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 p-0 pl-lg-3 mt-4 mt-lg-0">
        <div class="">
            <div class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 background-header">
                Related recipes on the cofee lab
            </div>
            <div>
                <div *ngFor="let forum of data" class="py-2">
                    <app-forum-card></app-forum-card>
                </div>
            </div>
        </div>
    </div>
    <app-bottom-banner></app-bottom-banner>
</div>
