.page-wrapper {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    .custom-search {
        input {
            border-color: #d6d6d6;
            padding-top: 9px;
            padding-bottom: 9px;
        }
    }
    .border-wrapper {
        border-radius: 4px;
        border: solid 1px #ebebeb;
    }
    .background-header {
        padding: 11px 15px;
        border-radius: 4px;
        background-color: #f8f8f8;
    }

    .translate-wrapper {
        padding: 8px 0 8px 24px;
        border-top: solid 1px #ebebeb;
        border-bottom: solid 1px #ebebeb;
    }

    .recipe-info-wrapper {
        background-color: #f8f8f8;
        display: flex;
        flex-wrap: wrap;
        padding: 16px 8px;
        justify-content: space-between;
        .recipe-info-item {
            padding: 8px 16px;
            display: flex;
        }
        @media (max-width: 767px) {
            padding: 16px;
            .recipe-info-item {
                width: 50%;
                &:nth-child(1) {
                    padding: 0 19px 12px 0;
                    border-bottom: solid 1px #d6d6d6;
                    border-right: solid 1px #d6d6d6;
                }
                &:nth-child(2) {
                    padding: 0 0 12px 19px;
                    border-bottom: solid 1px #d6d6d6;
                    justify-content: flex-end;
                }
                &:nth-child(3) {
                    padding: 12px 19px 0 0;
                    border-right: solid 1px #d6d6d6;
                }
                &:nth-child(4) {
                    padding: 12px 0 0 19px;
                    justify-content: flex-end;
                }
            }
        }
        @media only screen and (max-width: 1280px) and (min-width: 992px) {
            .recipe-info-item {
                width: 25%;
            }
        }
    }

    .ingredients-wrapper {
        border-radius: 4px;
        border: solid 1px #ebebeb;
        padding: 8px 24px;
        width: 313px;
        .ingredients-item {
            display: flex;
            padding: 16px 0;
            justify-content: space-between;
            border-bottom: solid 1px #ebebeb;
            label:last-child {
                width: 80px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .video-wrap {
        video {
            width: 100%;
        }
    }
}

::ng-deep {
    .p-avatar.user-avatar {
        width: 40px;
        height: 40px;
        overflow: visible !important;
        .p-badge {
            width: 16px;
            height: 16px;
            border: solid 2px #ffffff;
            top: 6px;
            right: 6px;
        }
    }
}
