<div *ngIf="!isLoading" class="question-header mb-4" [class.no-border]="!showBorderBottom">
    <p class="fnt-16 fnt-bold text-clr24 mt-3">
        <span *ngIf="related">{{ 'related_discussions_on_the_forum' | translate }}</span>
        <span *ngIf="!related">{{ 'recent_discussions_on_forum' | translate }}</span>
    </p>
    <div
        *ngFor="let data of relatedData; let ind = index; let isLast = last"
        [class.question-list]="type === PostType.QA"
    >
        <p class="pb-3 hover-underline" [ngClass]="{ 'pt-4': ind === 0, 'pt-3': ind > 0, 'pb-4': isLast }">
            <a
                [routerLink]="getLink(data.slug)"
                class="fnt-600 text-clr24"
                [innerHTML]="(type === PostType.ARTICLE ? data.title : data.question) || 'N/A'"
            ></a>
        </p>
    </div>
    <div *ngIf="!relatedData?.length" class="text-center my-4 text-clr24">
        {{ 'no_data_is_available' | translate }}
    </div>
</div>
