<div class="question-header mb-4" [ngClass]="{ 'no-border': type === 'article' || type === 'recipe' }">
    <p class="fnt-16 fnt-bold fnt-muli text-clr24 mt-3">Recent discussions on forum</p>
    <div class="question-list" *ngFor="let data of relatedData">
        <p class="py-3">
            <a [routerLink]="[getLink(data, null).url]" class="fnt-14 fnt-muli fnt-600 text-clr24">{{
                data.question ? data.question : data.title ? data.title : data.name
            }}</a>
        </p>
    </div>
</div>
