@import 'variables';
.join-wrapper {
    padding: 40px 32px 32px;
    border-radius: 4px;
    border: solid 1px $secondary-border-color;
    background-color: $primary-bg-color;
    width: 374px;

    a.text-clr55c:hover {
        color: $primary-color;
    }

    .button-wrapper {
        white-space: nowrap;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}
