@import 'variables';
.page-wrapper {
    .forum-row {
        .forum-row-content {
            border-bottom-style: dashed !important;
            color: #154faa;
            text-decoration: underline;
        }
        &:last-child .forum-row-content {
            border-bottom: none !important;
        }
    }
}

.answer-wrapper {
    border-bottom: 1px solid #d8d8d8;
    &:first-child {
        border-top: 1px solid #d8d8d8;
    }
}

.flavour-profiles {
    border: 2px dashed #d6d6d6;
    a {
        cursor: pointer;
        text-decoration: underline;
        color: #154faa;
    }
}

.border-question-view {
    border: 1px solid #d0d0d0;
}

.add-comment {
    height: 50px;
    margin: 0 0 0 8px;
    object-fit: contain;
    border: 0;
    border-radius: 25px;
    background-color: rgba(116, 117, 136, 0.08);
}

.comment {
    margin: 0 0 0 8px;
    padding: 24px 26px 27px 24px;
    object-fit: contain;
    border-radius: 25px;
    background-color: rgba(116, 117, 136, 0.08);
}

.cursor-point {
    cursor: pointer;
}
