@import 'variables';
.page-wrapper {
    .forum-row {
        .forum-row-content {
            border-bottom-style: dashed !important;
            color: #154faa;
            text-decoration: underline;
        }
        &:last-child .forum-row-content {
            border-bottom: none !important;
        }
    }
}

.answer-wrapper {
    border-bottom: 1px solid #d8d8d8;
    &:first-child {
        border-top: 1px solid #d8d8d8;
    }
    .forum-content {
        white-space: pre-wrap;
    }
}

.flavour-profiles {
    border: 2px dashed #d6d6d6;
    a {
        cursor: pointer;
        text-decoration: underline;
        color: #154faa;
    }
}

.border-question-view {
    border: 1px solid #d0d0d0;
    border-radius: 14px;
}

.add-comment {
    height: 50px;
    margin: 0 0 0 8px;
    object-fit: contain;
    border: 0;
    border-radius: 25px;
    background-color: rgba(116, 117, 136, 0.08);
}

.comment {
    margin: 0 0 0 8px;
    padding: 24px 26px 27px 24px;
    object-fit: contain;
    border-radius: 25px;
    background-color: rgba(116, 117, 136, 0.08);
}

.translate-wrapper {
    @media (max-width: 767px) {
        display: none;
    }
    @media (min-width: 992px) and (max-width: 1280px) {
        display: none;
    }
}

.translate-mob-wrapper {
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
    @media (min-width: 992px) and (max-width: 1280px) {
        display: block;
    }
}

.border-ads {
    border: 1px solid #23233433;
    border-radius: 8px;
    margin-bottom: 1.75rem;
    .image-ads {
        position: relative;
        top: 10px;
        margin-right: 20px;
        img {
            width: 125px;
            height: 184px;
        }
    }
}
