@import 'variables';
.page-wrapper {
    .forum-row {
        .forum-row-content {
            border-bottom-style: dashed !important;
            color: #154faa;
            text-decoration: underline;
        }
        &:last-child .forum-row-content {
            border-bottom: none !important;
        }
    }
}

.answer-wrapper {
    border-bottom-style: dashed !important;
    &:last-child {
        margin-bottom: 0 !important;
        border-bottom: none !important;
    }
}
