@import 'variables';

.search-forum {
    border-color: $primary-border-color;
    padding-top: 9px;
    padding-bottom: 9px;
}

.coffee-lab-search {
    @media (min-width: 768px) {
        width: 374px;
    }
}
