<div
    class="avatar"
    [style.width]="size + 'px'"
    [style.height]="size + 'px'"
    (mouseenter)="show($event)"
    (mouseleave)="hide()"
>
    <img
        *ngIf="imageUrl; else placeholder"
        [lazyLoad]="imageUrl"
        [alt]="name && name.length ? name.slice(0, 1) : 'AV'"
        [style.borderRadius]="'50%'"
    />
    <ng-template #placeholder>
        <img
            class="placeholder"
            lazyLoad="assets/images/avatar-placeholder.svg"
            [alt]="name && name.length ? name.slice(0, 1) : 'AV'"
        />
    </ng-template>
</div>

<p-overlayPanel
    #myOp
    styleClass="user-details-overlay"
    appendTo="body"
    (onShow)="isOpened = true"
    (onHide)="isOpened = false"
>
    <ng-template pTemplate>
        <div class="py-4 px-3 px-md-4 user-details-wrapper" (mouseenter)="show($event)" (mouseleave)="hide()">
            <div class="d-flex justify-content-between align-items-start">
                <img
                    class="user-image"
                    [src]="
                        imageUrl ||
                        data?.profile_image_thumb_url ||
                        data?.profile_image_url ||
                        'assets/images/default-avatar.png'
                    "
                    [alt]="name + 'profile image'"
                />
                <div class="btn-trans-icon message-icon mt-25" (click)="myOp.hide(); openChat()">
                    {{ 'message' | translate }}
                </div>
            </div>

            <div class="mt-2">
                <ng-container *ngIf="data; else noName">
                    <div
                        class="fnt-16 fnt-bold text-underline cursor-pointer"
                        routerLink="/user-profile"
                        [queryParams]="{
                            user_id: userId,
                            organization: orgType,
                            organization_id: data?.organization_id
                        }"
                    >
                        {{ name }}
                    </div>
                    <div class="fnt-semi-bold mt-2">
                        {{ data?.organization_type === OrgType.SEWN_ADMIN ? ('Era of We' | translate) : '' }}
                        {{ data?.organization_name ? data?.organization_name : '' }}
                    </div>
                    <div class="d-flex align-items-center fnt-semi-bold mt-1">
                        <i class="pi pi-map-marker fnt-16"></i>
                        <span class="location-align ml-2"
                            >{{ data?.city || data?.organization_city }},
                            {{ data?.country || data?.organization_country | country }}</span
                        >
                    </div>
                </ng-container>
                <ng-template #noName>
                    <p-skeleton width="100px" height="20px"></p-skeleton>
                    <p-skeleton width="80px" height="18px" styleClass="mt-2"></p-skeleton>
                    <p-skeleton width="120px" height="18px" styleClass="mt-1"></p-skeleton>
                </ng-template>
            </div>

            <div *ngIf="showMore" class="mx-n3 mx-md-n4 mt-3">
                <p-divider></p-divider>
            </div>

            <div class="detail-slide-down" [class.fadeIn]="showMore">
                <div>
                    <div *ngIf="data; else noAboutMe">
                        <div *ngIf="data?.about_me" class="fnt-semi-bold pb-3">
                            {{ data?.about_me | convertToShortDescription: 13 }}
                        </div>
                    </div>
                    <ng-template #noAboutMe>
                        <div class="pb-3">
                            <p-skeleton width="100%" height="18px"></p-skeleton>
                        </div>
                    </ng-template>
                    <div *ngIf="data; else noConverse" class="d-flex flex-wrap mb-n1">
                        <div class="mr-1 mb-1" *ngFor="let language of data?.converse_languages">
                            <div class="border-main bg-f8 fnt-12 fnt-semi-bold text-clr588 px-2 py-1 language-item-br">
                                {{ language | language }}
                            </div>
                        </div>
                    </div>
                    <ng-template #noConverse>
                        <div class="d-flex">
                            <p-skeleton width="80px" height="25px" styleClass="language-item-br"></p-skeleton>
                            <p-skeleton width="80px" height="25px" styleClass="language-item-br ml-1"></p-skeleton>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
