<div class="py-2 py-md-0 user-details-wrapper">
    <div class="p-3 p-md-45 d-flex">
        <img
            class="user-image"
            [src]="data.profile_image_thumb_url || data.profile_image_url || 'assets/images/default-avatar.png'"
        />
        <div class="pl-4 w-100">
            <div class="d-flex align-items-center justify-content-between mb-2 mb-md-25">
                <p class="fnt-muli fnt-18 fnt-bold lh-normal text-clr334 mb-0">
                    {{ data.firstname }} {{ data.lastname }}
                </p>
                <i class="pi pi-times fnt-16 fnt-bold text-clr334 cursor-pointer" (click)="handleClose.emit()"></i>
            </div>
            <p class="fnt-muli fnt-18 fnt-normal lh-normal text-clr334 mb-2 mb-md-25">
                Employee {{ data?.organization_name ? '@' + data.organization_name : '' }}
            </p>
            <span class="fnt-muli fnt-18 fnt-normal lh-normal text-clr588 mb-0">
                {{ orgName }} <img class="ml-4" src="assets/images/position.svg" />
                {{ globalsService.getCountryName(data.country) }}
            </span>
        </div>
    </div>
    <p-divider styleClass="m-0"></p-divider>
    <div class="p-3 p-md-45">
        <p class="fnt-muli fnt-18 fnt-600 lh-normal text-clr588 mb-3">Can converse in :</p>
        <div class="language-wrapper">
            <div class="p-2 px-md-4 d-flex align-items-center" *ngFor="let language of data.converse_languages">
                <img src="assets/images/en.jpg" />
                <p class="fnt-muli fnt-18 fnt-normal lh-normal text-clr334 ml-2 mb-0">
                    {{ globalsService.getLanguage(language) }}
                </p>
            </div>
        </div>
        <div class="mt-4 mt-md-5 d-flex flex-wrap">
            <div class="message-button fnt-14 fnt-muli fnt-bold lh-157 text-clr334">
                <img class="mr-2" src="assets/images/message-icon.svg" />
                Send Message
            </div>
            <button class="btn-raised ml-3">View Profile</button>
        </div>
    </div>
</div>
