<div class="coffee-recipes-view-container">
    <h1 class="fnt-18 fnt-md-24 fnt-bold text-clr334 d-md-none">
        {{ 'brewing_guides_recipes' | translate }}
    </h1>
    <div class="row justify-content-lg-between pt-3 pt-md-0 gutter-32">
        <div class="col-lg-8">
            <app-publish-forum type="recipe"></app-publish-forum>
        </div>
        <div class="col-lg-4 d-block d-md-none d-lg-block d-xl-block mt-4 mt-lg-0">
            <div class="custom-search qa-forum-search d-lg-block">
                <input
                    class="w-100 fnt-16"
                    type="text"
                    pInputText
                    [(ngModel)]="searchQuery"
                    (ngModelChange)="getCoffeeRecipesData()"
                    [placeholder]="'search_recipes' | translate"
                />
            </div>
        </div>
    </div>
    <div
        class="d-none d-md-flex flex-column align-items-center flex-md-row justify-content-md-between pb-lg-3 pb-md-0 pt-md-4 pt-lg-45"
    >
        <h1 class="fnt-18 fnt-md-24 fnt-muli fnt-bold text-clr334 mb-0">
            {{ 'brewing_guides_recipes' | translate }}
        </h1>
        <span class="custom-search h-fit-content mt-3 mt-md-0 d-lg-none">
            <input
                class="w-100 fnt-16"
                type="text"
                pInputText
                [(ngModel)]="searchQuery"
                (ngModelChange)="getCoffeeRecipesData()"
                [placeholder]="'search_recipes' | translate"
            />
        </span>
    </div>
    <div class="d-flex align-items-md-center justify-content-between py-4 pb-md-4 pb-lg-45">
        <div class="d-block flex-wrap d-md-flex">
            <div class="mt-md-4 mt-lg-0">
                <p-dropdown
                    [options]="labels"
                    optionLabel="label"
                    optionValue="value"
                    [showClear]="true"
                    [(ngModel)]="label"
                    (onChange)="getCoffeeRecipesData()"
                    placeholder="Levels"
                    styleClass="round-border"
                >
                </p-dropdown>
            </div>
            <div class="pl-md-3 mt-3 mt-lg-0 mt-md-4 mt-lg-0">
                <p-dropdown
                    [options]="translationsList"
                    optionLabel="label"
                    optionValue="value"
                    [showClear]="true"
                    [(ngModel)]="isAvailableTranslation"
                    (onChange)="getCoffeeRecipesData()"
                    [placeholder]="'translation_available' | translate"
                    styleClass="round-border"
                >
                </p-dropdown>
            </div>
            <div class="pl-md-3 mt-3 mt-lg-0 mt-md-4 mt-lg-0 ingredient-field">
                <input
                    class="w-100 fnt-16"
                    type="text"
                    pInputText
                    [(ngModel)]="searchIngredient"
                    (ngModelChange)="getCoffeeRecipesData()"
                    styleClass="ingredient-field"
                    [placeholder]="'search_by_ingredient' | translate"
                />
            </div>
        </div>
        <div class="mt-md-4 mt-lg-0">
            <p-dropdown
                [options]="orderList"
                optionLabel="label"
                optionValue="value"
                [(ngModel)]="selectedOrder"
                (onChange)="getCoffeeRecipesData()"
                styleClass="no-border mobile-ui"
            >
            </p-dropdown>
        </div>
    </div>
    <div class="coffee-wrapper" *ngIf="!isLoading">
        <div class="col-12 col-md-6 col-lg-4 px-0 py-2 p-md-2" *ngFor="let coffee of coffeeRecipeData">
            <div class="border-main br-4 p-3 py-md-4 px-lg-4 coffee-item" (click)="gotoDetailPage(coffee)">
                <div class="d-flex justify-content-between">
                    <div class="flex-1 overflow-hidden">
                        <app-user-header [prop]="coffee"></app-user-header>
                    </div>
                    <app-forum-menu></app-forum-menu>
                </div>
                <div class="w-100 position-relative">
                    <img [src]="coffee.cover_image_url" class="w-100 my-3 my-md-4" />
                    <span class="expertise fnt-12"> {{ coffee.expertise }} </span>
                </div>
                <div class="fnt-muli fnt-lg-14 fnt-16 fnt-bold text-clr334 cursor-pointer">
                    {{ coffee?.name }}
                    <div class="py-3 m-0 d-flex">
                        <div class="heading fnt-muli fnt-14 fnt-normal">{{ 'preparation_time' | translate }}:</div>
                        <span class="fnt-600"> {{ coffee.preparation_time }}{{ coffee.preparation_time_unit }} </span>
                    </div>
                    <div class="m-0 d-flex">
                        <div class="heading fnt-muli fnt-14 fnt-normal">{{ 'ingredients' | translate }}:</div>
                        <span class="value fnt-muli fnt-14 fnt-600">
                            {{ coffee.ingredients }}
                        </span>
                    </div>
                </div>
                <div class="coffee-content-wrapper">
                    <p class="fnt-muli fnt-14 fnt-normal lh-15 text-clr334 mb-0" [innerHTML]="coffee.description"></p>

                    <label class="mb-0 brown-cta pt-2">{{ 'read_more' | translate }}</label>
                </div>
            </div>
        </div>
        <!-- <app-json-ld [jsonLD]="jsonLD"></app-json-ld> -->
    </div>
    <div class="w-100" *ngIf="!isLoading && totalRecords">
        <p-paginator
            [rows]="rows"
            [totalRecords]="totalRecords"
            (onPageChange)="getData($event)"
            styleClass="mt-45"
        ></p-paginator>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
    <div *ngIf="!isLoading && !coffeeRecipeData.length" class="text-center my-4 fnt-muli text-clr24">
        {{ 'no_data_is_available' | translate }}
    </div>
</div>
