<div class="text-center p-4">
    <div class="fnt-24 fnt-muli fnt-bold mb-3">Welcome to the coffee lab</div>
    <p class="fnt-18 fnt-muli mb-4">
        We noticed you're in {{ data?.countryName }}. Would you like to explore <br />
        content in {{ data?.langName }}?
    </p>
    <div class="d-flex mt-1">
        <button class="btn-stroked mr-2" (click)="onCancel()">No, I will continue in English</button>
        <button class="btn-raised ml-2" (click)="onApprove()">Yes, take me to the {{ data?.langName }} version</button>
    </div>
</div>
