.articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;

    .article-item {
        border: solid 1px #d0d0d0;
        border-radius: 14px;
        min-height: 485px;
        height: 100%;
        img {
            height: 243px;
            object-fit: cover;
        }

        &:hover {
            border: 0px !important;
            box-shadow: 0 22px 34px 0 rgb(0 0 0 / 16%);
            cursor: pointer;
            h3.article-title-text {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: 767px) {
        margin: -8px 0;
    }
}

.article-title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    p {
        margin-bottom: 0 !important;
    }
}

.thumb-icon img {
    height: 21px !important;
}

.icon-save img {
    width: 19px !important;
    height: 24px !important;
}

.cursor-point {
    cursor: pointer;
}

.hover-save-icon {
    padding: 6px 9px 8px 12px;
    border-radius: 50%;
    background-color: rgba(116, 117, 136, 0.08);
    &:hover {
        background-color: rgba(48, 133, 92, 0.12);
    }
}
