.articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    .article-item {
        border-radius: 14px !important;
        height: 100%;
        img {
            height: 243px;
            object-fit: cover;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 0 22px 34px 0 rgb(0 0 0/16%);
            // box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
            h3.article-title-text {
                text-decoration: underline;
            }
        }
    }
    @media (max-width: 767px) {
        margin: -8px 0;
    }
}

.article-item-wrapper {
    text-decoration: none;
    @media (min-width: 992px) and (max-width: 1279px) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.article-content-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.article-title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    p {
        margin-bottom: 0 !important;
    }
}
.border-main {
    border: 1px solid #f1f1f1 !important;
}

.thumb-icon img {
    height: 21px !important;
}

.icon-save img {
    width: 19px !important;
    height: 24px !important;
}

.cursor-point {
    cursor: pointer;
}

.hover-save-icon {
    padding: 6px 9px 4px 12px;
    border-radius: 50%;
    background-color: rgba(48, 133, 92, 0.12);
}
