.video-popup {
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    @media (min-width: 768px) {
        & {
            width: 65%;
        }
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .plyr--video .plyr__controls {
        display: none;
    }

    .video-close {
        background: #00b3ff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: 700;
        margin: 0 0 0 auto;
        transform: translate(50%, 50%);
        position: relative;
        z-index: 99;
        cursor: pointer;
        @media (min-width: 768px) {
            & {
                width: 40px;
                height: 40px;
            }
        }
    }
}
