<div class="main-forum">
    <h1 class="fw-m mt-0 mb-0">
        <span>{{ 'the_coffee_forum' | translate }}</span>
        <!-- <span *ngIf="cuurentRoasterSlug === 'QA'">{{ 'qa_h1_title' | translate }}</span>
        <span *ngIf="cuurentRoasterSlug === 'ARTICLE'">{{ 'article_h1_title' | translate }}</span>
        <span *ngIf="cuurentRoasterSlug === 'RECIPE'">{{ 'recipe_h1_title' | translate }}</span>
        <span *ngIf="cuurentRoasterSlug === 'EOW'">{{ 'about_h1_title' | translate }}</span> -->
    </h1>
    <h2 class="fnt-16 fnt-md-18 fw-m mt-3">{{ 'coffee_lab_sub_text' | translate }}</h2>
    <div class="d-flex mt-45">
        <button class="btn-raised fnt-16" (click)="onWrite()">{{ 'start_writing' | translate }}</button>
        <a class="btn-stroked fnt-16 ml-3" routerLink="/">{{ 'know_more' | translate }}</a>
    </div>
</div>
<div class="discussion-bg">
    <div class="d-flex justify-content-between align-items-center">
        <p class="fw-m fnt-16 fnt-md-18 fnt-b">{{ 'discussions_knowledge_language' | translate }}</p>
        <app-language-dropdown *ngIf="isDesktop$"></app-language-dropdown>
    </div>
    <div *ngIf="isMobile$" class="language-wrapper my-3">
        <app-language-dropdown></app-language-dropdown>
    </div>
</div>
<div class="main-block">
    <p-tabMenu [model]="menuItems" styleClass="mb-4">
        <ng-template pTemplate="item" let-item let-i="index">
            <span class="pl-1 pb-2 fw-m d-none d-md-inline-block">{{ item.label | translate }}</span>
        </ng-template>
    </p-tabMenu>

    <div class="col-lg-7 px-0 pb-3 pb-md-4">
        <app-publish-forum [type]="postType"></app-publish-forum>
    </div>

    <router-outlet></router-outlet>
</div>
