@import 'variables';
.language-wrapper {
    background-color: $primary-bg-color;
    padding: 12px 8px 11px;
}
::ng-deep {
    .p-tabmenu {
        &.tabmenu-coffee-lab {
            .p-tabmenu-nav {
                li {
                    margin-right: 0;
                    .p-menuitem-link {
                        padding: 0 16px 4px 16px !important;
                        @media (max-width: 991px) {
                            padding: 0 10px 4px 16px !important;
                        }
                        img {
                            display: inline-block;
                            &.active-icon {
                                display: none;
                            }
                        }
                    }
                    .p-menuitem-link-active {
                        img {
                            display: none;
                            &.active-icon {
                                display: inline-block;
                            }
                        }
                    }
                    &:hover {
                        img {
                            display: none;
                            &.active-icon {
                                display: inline-block;
                            }
                        }
                    }
                    @media (max-width: 767px) {
                        flex: 1;
                        border-top: solid 1px #d6d6d6;
                        border-bottom: solid 1px #d6d6d6;
                        border-right: solid 1px #d6d6d6;
                        .p-menuitem-link {
                            padding: 10px !important;
                            justify-content: center;
                        }
                        &:first-child {
                            border-left: solid 1px #d6d6d6;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                        }
                        &:nth-child(6) {
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                    }
                }
                @media (max-width: 767px) {
                    border-bottom: none;
                }
            }
            .p-tabview-panel {
                padding-top: 48px;
                @media (max-width: 991px) {
                    padding-top: 32px;
                }
                @media (max-width: 767px) {
                    padding-top: 24px;
                }
            }
        }
    }
}
