<script src="language-dropdown.component.ts"></script>
<p-dropdown
    [options]="languageList"
    optionLabel="label"
    optionValue="value"
    [(ngModel)]="selectedLanguage"
    styleClass="p-dropdown-translate"
    (onChange)="onChangeLanguage()"
>
    <ng-template pTemplate="selectedItem">
        <span class="fnt-14 fnt-muli fnt-bold text-clr60b pr-2">
            <i class="pi pi-globe pr-1 align-middle"></i>
            {{ 'language' | translate }} : {{ selectedLanguage | uppercase }}
        </span>
    </ng-template>
    <ng-template let-languageItem pTemplate="item">
        <div class="d-flex align-items-center">
            {{ languageItem.label[selectedLanguage] }}
        </div>
    </ng-template>
</p-dropdown>

<div class="seo-hidden">
    <div *ngFor="let slug of ROUTER_SLUG_ITEMS">
        <a *ngFor="let lang of languageList" routerLink="/{{ lang.value }}/{{ RouterMap[lang.value][slug] }}">
            {{ RouterMap[lang.value][slug] }}
        </a>
    </div>
</div>
