<div class="page-not-found">
    <div class="col-md-12 welcome-sec">
        <div class="text-center pink">
            <img src="assets/images/error-404.svg" alt="welcome-illustration" class="error-image" />
            <h1 class="error-header">Error</h1>
            <p class="error-sub-text">Looks like something went wrong on our end. Page not available</p>
            <div class="text-center error-button">
                <button type="button" class="fnt-semi-bold add-tem-butn" [routerLink]="['/']">Go to homepage</button>
            </div>
        </div>
    </div>
</div>
